<div class="flex-row form-group mb-0">
  <div class="row-entry">
    <label class="control-label timeline-label pull-left mb-0" translate>displays-app.fields.player.rpp.monitoring-timeline</label>

    <madero-checkbox id="alwaysCheckboxMask" ng-model="timeline.always" checkbox-id="alwaysCheckbox"></madero-checkbox>
    <span class="mr-3">All the time.</span>
  </div>
</div>
<span id="timelineLabelMadero" class="madero-link u_clickable" timeline="timeline" ng-click="openModal()" ng-show="!timeline.always">{{timeline.label}}</span>
