<div class="madero-style">
  <div class="app-header u_padding-20-vertical mb-5 border-bottom">
    <!-- App Title -->
    <h1 class="app-header-title">Account & Billing</h1>
  </div>

  <div rv-spinner rv-spinner-key="billing-loader">

    <div class="form-group mt-5 mb-3">
      <label>Billing Settings</label>
    </div>

    <div class="border-container" require-role="ua">
      <div class="panel-body">
        <div class="flex-row form-group mb-0">
          <div class="row-entry">
            <label class="control-label pull-left mb-0">Billing Email:</label>
            <div class="mx-5">
              <span ng-show="company.billingContactEmails">{{company.billingContactEmails.join(', ')}}</span>
              <span ng-show="!company.billingContactEmails">Not set. Please enter a billing email.</span>
            </div>

            <span class="ml-auto">
              <a class="madero-link u_clickable" ng-click="companySettingsFactory.openCompanySettings()">Edit</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-5 mb-3">
      <label>Subscriptions</label>
    </div>

    <div id="errorBox" ng-show="subscriptions.apiError" class="madero-style alert alert-danger" role="alert">
      <p><strong>{{subscriptions.errorMessage}}</strong></p>
      {{subscriptions.apiError}}
    </div>

    <div class="scrollable-list horizontal-scroll border-container mt-0 u_margin-md-bottom" scrolling-list="subscriptions.load()">

      <table id="subscriptionsListTable" class="table">
        <thead class="table-header">
          <tr class="table-header__row">
            <th class="table-header__cell col-xs-4">Subscription</th>
            <th class="table-header__cell col-xs-2">Status</th>
            <th class="table-header__cell col-xs-2">Renewal Date</th>
            <th class="table-header__cell col-xs-2">Plan Amount</th>
            <th class="table-header__cell col-xs-2">Ship To</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-body__row" ng-if="currentPlan.isPurchasedByParent">
            <td class="table-body__cell font-weight-bold">
              Subscription managed by {{currentPlan.parentPlanCompanyName || "the Parent Company"}}
            </td>
            <td class="table-body__cell">
              <span class="u_capitalize text-success">
                Active
              </span>
            </td>
            <td class="table-body__cell">
              -
            </td>
            <td class="table-body__cell">
              -
            </td>
            <td class="table-body__cell">
            </td>
          </tr>

          <tr class="table-body__row" ng-repeat="item in subscriptions.items.list">
            <td class="table-body__cell font-weight-bold">
              <a class="madero-link u_clickable" ui-sref="apps.billing.subscription({subscriptionId: item.subscription.id})" ng-if="showSubscriptionLink(item.subscription)">{{item.subscription | subscriptionDescription}}</a>
              <span ng-if="!showSubscriptionLink(item.subscription)">{{item.subscription | subscriptionDescription}}</span>
            </td>
            <td class="table-body__cell">
              <span class="u_capitalize" ng-class="{ 'text-success': isActive(item.subscription), 'text-danger': isSuspended(item.subscription) || isCancelled(item.subscription) }">
                {{item.subscription.status}}
              </span>
            </td>
            <td class="table-body__cell">
              {{item.subscription.current_term_end * 1000 | date:'d-MMM-yyyy'}}
            </td>
            <td class="table-body__cell">
              ${{item.subscription.plan_amount / 100 | number:2}}
            </td>
            <td class="table-body__cell">
              <span ng-if="item.subscription.customer_id !== item.subscription.cf_ship_to_company">{{item.subscription.shipping_address.company}}</span>
            </td>
          </tr>

          <tr ng-show="subscriptions.items.list.length === 0 && !currentPlan.isPurchasedByParent">
            <td colspan="5" class="text-center"><span translate>You haven't Subscribed to any Products yet.</span></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="form-group mt-5 mb-3">
      <label>Billing History</label>
      <span ng-show="invoices.items.list.length > 0">
        (<a class="madero-link" ui-sref="apps.billing.unpaid({token: invoiceFactory.getToken()})" target="_blank">View Unpaid Invoices</a>)
      </span>
    </div>

    <div id="errorBox" ng-show="invoices.apiError" class="madero-style alert alert-danger" role="alert">
      <p><strong>{{invoices.errorMessage}}</strong></p>
      {{invoices.apiError}}
    </div>

    <div id="errorBox" ng-show="invoiceFactory.apiError" class="madero-style alert alert-danger" role="alert">
      <strong>{{invoiceFactory.apiError}}</strong>
    </div>

    <div class="scrollable-list horizontal-scroll border-container mt-0 u_margin-md-bottom" scrolling-list="invoices.load()">

      <table id="invoicesListTable" class="table">
        <thead class="table-header">
          <tr class="table-header__row">
            <th class="table-header__cell col-xs-1">Status</th>
            <th class="table-header__cell col-xs-1">Date</th>
            <th class="table-header__cell col-xs-2">Description</th>
            <th class="table-header__cell col-xs-5">Amount</th>
            <th class="table-header__cell col-xs-2">Invoice</th>
            <th class="table-header__cell col-xs-1">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-body__row" ng-repeat="item in invoices.items.list">
            <td class="table-body__cell">
              <streamline-icon class="status unpaid" name="exclamation" width="5" height="15" ng-show="item.invoice.status !== 'paid'"></streamline-icon>
              <streamline-icon class="status paid" name="checkmark" width="17" height="14" ng-show="item.invoice.status === 'paid'"></streamline-icon>
            </td>
            <td class="table-body__cell">{{item.invoice.date * 1000 | date:'d-MMM-yyyy'}}</td>
            <td class="table-body__cell font-weight-bold">
              Invoice #{{item.invoice.id}}
            </td>
            <td class="table-body__cell">
              ${{(item.invoice.amount_due || item.invoice.total) / 100 | number:2}}
            </td>
            <td class="table-body__cell">
              <a class="madero-link u_clickable" ng-click="invoiceFactory.downloadInvoice(item.invoice.id)">
                <img src="../images/icon-download.svg" width="20" height="20">
              </a>
            </td>
            <td class="table-body__cell py-0">
              <a class="btn btn-default btn-pay-now" ng-if="item.invoice.status !== 'paid'" ui-sref="apps.billing.invoice({invoiceId: item.invoice.id, token: invoiceFactory.getToken()})" target="_blank">Pay Now</a>
            </td>
          </tr>

          <tr ng-show="invoices.items.list.length === 0">
            <td colspan="6" class="text-center"><span translate>You do not have any invoices yet.</span></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="u_margin-lg text-center">
      <label>Need help with something?</label>
      <p><a class="madero-link" href="https://help.risevision.com/hc/en-us/articles/360041149991-Payment-instructions-and-common-questions-" target="_blank">Common Billing & Payment Questions</a></p>
    </div>

  </div><!--container-->
</div><!--appLauncherContainer-->
