.rise-playlist-container, .presentation-selector-container, .playlist-item-container {
  --playlist-button-bar-height: 90px;
  --playlist-selected-title-height: 50px;
  --selector-search-box-height: 60px;
}
.rise-playlist-container {
  --playlist-button-bar-height: 40px;
}
@media (min-width: $screen-sm) {
  .rise-playlist-container, .presentation-selector-container, .playlist-item-container {
    --selector-body-height: calc(100vh - var(--body-height) - var(--component-header-height));
  }
}

@media (max-width: $screen-sm) {
  .rise-playlist-container, .presentation-selector-container, .playlist-item-container {    
    --selector-body-height: calc(100vh - var(--body-height));
  }
}

.rise-playlist-container, .presentation-selector-container, .playlist-item-container {
  --duration-group-offset: 29px;

  &.attribute-editor-component {
    margin-top: 0;
  }

  .duration-input-group {
    width: calc(100% - var(--duration-group-offset));
    margin-left: var(--duration-group-offset);
  }

.templates-list {
  height: var(--playlist-body-height);
  overflow-x: hidden;
  overflow-y: auto;

  .templates-row {
    min-height: 45px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm) {
      min-height: 40px;
    }
  }

  .templates-list-empty {
    margin: 20px;

    h2 {
      font-size: 1em;
      font-weight: bold;
      padding: 20px 0 0 0;
      margin-top: 0;
    }

    p {
      font-size: 0.75em;
      line-height: 0.8;
      padding-bottom: 20px;
    }

    img {
      margin: 0 auto;
    }
  }
}

.templates-selector {
  height: calc(var(--selector-body-height) - var(--playlist-selected-title-height) - var(--playlist-button-bar-height));
  padding-top: 0px;
  overflow-x: hidden;
  overflow-y: auto;

  &.active-search {
    height: calc(var(--selector-body-height) - var(--playlist-selected-title-height) - var(--selector-search-box-height) - var(--playlist-button-bar-height));
  }

  .templates-row {
    min-height: 45px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm) {
      min-height: 40px;
    }
  }
}

  .playlist-templates-title {
    height: var(--playlist-selected-title-height);
    margin: 0px 20px 0px;
    border-bottom: 1px solid #999999;

    &.active-search {
      border: none;
    }

    label {
      padding: 20px 0 0 0;
    }
  }

.templates-selector-search-box .input-group {
  height: var(--selector-search-box-height);
  padding: 0px 0px 20px;
  margin: 0px 20px 0px;

  svg {
    fill: #999999;
  }
}

.templates-list-show {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-list-hide {
  animation-name: slide-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-list-cover {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-list-uncover {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-row {
  border-bottom: 1px solid #999999;
  margin-left: 20px;
  margin-right: 20px;
}

.templates-name {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 20px;
}

.templates-name-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.templates-status {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0px;
  color: #999999;
}

.templates-status-revised {
  color: #d9544f;
}

.templates-delete {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  letter-spacing: 0px;
  line-height: 18px;

  & a {
    color: #d9534f;
    text-decoration: underline;
  }
}

.templates-selector {
  & .templates-row label {
    cursor: pointer;
  }
}

.templates-selector-show {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-selector-hide {
  animation-name: slide-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-selector-popular {
  font-weight: bold;
  font-size: 0.8em;
  margin: 20px 0px 0px;
  padding: 0px 20px;
}

.templates-selector-checkbox {
  position: absolute;
}

.templates-selector-name {
  display: inline-block;
}

.templates-selector-no-results {
  font-size: 0.9em;
  margin: 20px;

  & a {
    color: $rise-blue;
  }

}

.templates-row--is-selected {
  background: #107DDA;

  & .templates-name {
    color: #FFF;
  }

  & .templates-status {
    color: #FFF;
  }
}

.playlist-action-button-bar {
  height: var(--playlist-button-bar-height);
  margin: 0 20px;
  background: #FFF;

  border-top: 1px solid #999;

  .add-templates {
    padding: 27px 0 0 0;
  }

  & > div {
    background: #FFF;
  }
}

  .madero-radio {
    label {
      font-weight: normal;
    }
  }

}

.templates-row {
  &.draggable-mirror {
    min-height: 45px;
    display: flex;
    align-items: center; 
    background: rgba(242, 242, 242, 0.85);
    border-bottom: 1px solid $madero-gray;
  }
}
