<div class="madero-style">
  <div class="app-header u_padding-20-vertical mb-5 border-bottom">
    <!-- App Title -->
    <h1 class="app-header-title">Subscribe</h1>
  </div>

  <div rv-spinner rv-spinner-key="purchase-loader" rv-spinner-start-active="1"></div>

  <plan-picker ng-if="currentStep === 0"></plan-picker>
  <billing-address ng-if="currentStep === 1"></billing-address>
  <payment-methods ng-if="currentStep === 2"></payment-methods>
  <checkout-success ng-if="currentStep === 3"></checkout-success>

  <div id="security-branding" class="text-center my-5 pt-5 border-top" ng-show="currentStep < 4">
    <span class="text-muted">
      <i class="fa fa-lock icon-left"></i>
      Secure Checkout from ChargeBee and <img alt="powered by Stripe" height="16" src="https://s3.amazonaws.com/Rise-Images/UI/powered_by_stripe.svg">
    </span>
  </div>

</div>
