<div class="container u_margin-md-top">

  <h2 class="u_margin-md-bottom">Checkout</h2>

  <div rv-spinner rv-spinner-key="purchase-modal" rv-spinner-start-active="1"></div>

  <div class="steps">
    <div ng-repeat="step in PURCHASE_STEPS" class="step-item" ng-class="{ active: currentStep === step.index, complete: currentStep > step.index }">
      <span>{{step.name}}</span>
    </div>
  </div>

  <div id="purchase-modal" class="modal-body checkout-modal" stop-event="touchend">

    <billing-address ng-if="currentStep === 0"></billing-address>
    <payment-methods ng-if="currentStep === 1"></payment-methods>
    <review-purchase ng-if="currentStep === 2"></review-purchase>
    <checkout-success ng-if="currentStep === 3"></checkout-success>

  </div> <!-- //Modal Body -->

  <div id="security-branding" class="modal-footer text-center" ng-show="currentStep > 1 && currentStep < 4">
    <span class="text-muted">
      <i class="fa fa-lock icon-left"></i>
      Secure Checkout from ChargeBee and <img alt="powered by Stripe" height="16" src="https://s3.amazonaws.com/Rise-Images/UI/powered_by_stripe.svg">
    </span>
  </div>

</div>
