<div class="madero-style">
  <div class="app-header u_padding-20-vertical mb-5 border-bottom">
    <!-- App Title -->
    <h1 class="app-header-title">Subscribe</h1>
  </div>

  <div rv-spinner rv-spinner-key="purchase-loader" rv-spinner-start-active="1"></div>

  <plan-picker ng-show="currentStep === 0"></plan-picker>
  <billing-address ng-show="currentStep === 1"></billing-address>
  <payment-methods ng-show="currentStep === 2"></payment-methods>
  <checkout-success ng-show="currentStep === 3"></checkout-success>

  <div class="mt-5 border-top">
    <purchase-footer></purchase-footer>
  </div>

</div>
