<!-- Step 0 -->
<div id="checkout-pricing-picker"> 

  <div id="pricingComponentContainer">
    <pricing-component
      ng-attr-apply-discount="{{pricingComponentDiscount ? '' : undefined}}"
      ng-attr-prod-env="{{useProductionChargebeeData ? '' : undefined}}"
      rv-on="display-count-changed:refreshButton">
    </pricing-component>

    <button type="button" ng-disabled="!pricingAtLeastOneDisplay" class="btn btn-primary btn-block btn-hg font-weight-bold" ng-click="purchasePlan()">I Want To Subscribe</button>
  </div>

</div>
