<!-- Step 4 -->
<div class="purchase-sideways-panels">
  <div id="checkout-payment-methods">
    <h4 class="u_margin-md-bottom">Payment Method</h4>

    <form id="form.paymentMethodsForm" role="form" name="form.paymentMethodsForm" novalidate>
      <payment-method-form form-object="form.paymentMethodsForm" show-invoice-option="!purchase.plan.isMonthly" contact-email="purchase.contact.email"></payment-method-form>
    </form>

  </div>
  <purchase-summary id="checkout-purchase-summary" ng-if="currentStep === 2"></purchase-summary>
</div>

<div id="errorBox" class="madero-style alert alert-danger u_margin-md-top" role="alert" ng-show="paymentMethods.tokenError">
  <strong>Card Processing Error</strong> {{paymentMethods.tokenError}}
</div>

<div id="errorBox" class="madero-style alert alert-danger u_margin-md-top" role="alert" ng-show="purchase.checkoutError">
  <strong>Payment Error</strong> {{purchase.checkoutError}}
</div>

<div class="button-row text-right mt-5">
  <button id="backButton" type="button" aria-label="Go back to Billing Address" class="btn btn-default btn-toolbar pull-left" ng-click="setPreviousStep()" translate>common.back</button>
  <button id="payButton" type="submit" class="btn btn-primary btn-toolbar-wide" form="form.paymentMethodsForm" ng-click="completeCardPayment()" tabindex="1" aria-label="Complete Payment" ng-if="paymentMethods.paymentMethod === 'card'">
    <span id="payLabel">Pay ${{purchase.estimate.total | number:2}} Now</span>
  </button>
  <button id="invoiceButton" type="submit" class="btn btn-primary btn-toolbar-wide" form="form.paymentMethodsForm" ng-click="completePayment()" tabindex="1" aria-label="Complete Payment" ng-if="paymentMethods.paymentMethod === 'invoice'">
    <span id="invoiceLabel">Invoice Me ${{purchase.estimate.total | number:2}} Now</span>
  </button>
</div>
