<div id="credit-card-form">
  <!-- NEW CREDIT CARD -->
  <div id="new-credit-card-form" ng-show="creditCardFactory.paymentMethods.selectedCard.isNew">
    <div class="row" ng-if="creditCardFactory.paymentMethods.selectedCard.isNew">
      <div class="col-md-12">
        <div class="form-group" ng-class="{ 'has-error': (formObject.cardholderName.$dirty || formObject.$submitted) && formObject.cardholderName.$invalid }">
          <label for="new-card-name" class="control-label">Cardholder Name: *</label>
          <input id="new-card-name" aria-required="true" type="text" class="form-control" name="cardholderName" data-stripe="name" ng-model="creditCardFactory.paymentMethods.newCreditCard.name" autocomplete="cc-name" required>
          <p class="text-danger" ng-show="(formObject.cardholderName.$dirty || formObject.$submitted) && formObject.cardholderName.$invalid">
            Choose a Cardholder Name.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" ng-class="{ 'has-error': stripeElementError('new-card-number') }">
          <label for="new-card-number" class="control-label">Card Number: *</label>
          <div class="form-control" id="new-card-number"></div>
          <p class="text-danger" ng-show="stripeElementError('new-card-number')">
            Choose a Card Number.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group" ng-class="{ 'has-error': stripeElementError('new-card-expiry') }">
          <label for="new-card-expiry" class="control-label">Expiration Date: *</label>
          <div class="form-control" id="new-card-expiry"></div>
          <p class="text-danger" ng-show="stripeElementError('new-card-expiry')">
            Choose an Expiration Date Month and Year.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" ng-class="{ 'has-error': stripeElementError('new-card-cvc') }">
          <label for="new-card-cvc" class="control-label">Security Code: *</label>
          <div class="form-control" id="new-card-cvc"></div>
          <p class="text-danger" ng-show="stripeElementError('new-card-cvc')">
            Choose a Security Code.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="toggleMatchBillingAddress" class="control-label mb-0">Cardholder Billing Address: *</label>
          <div class="flex-row" ng-if="creditCardFactory.paymentMethods.newCreditCard.billingAddress">
            <madero-checkbox id="toggleMatchBillingAddress" ng-model="creditCardFactory.paymentMethods.newCreditCard.useBillingAddress"></madero-checkbox>
            <span class="mr-3">Use Company Billing Address</span>
          </div>
        </div>
      </div>
    </div>

    <!-- NEW CC ADDRESS -->
    <div id="new-card-address">

      <address-form form-object="formObject" address-object="creditCardFactory.paymentMethods.newCreditCard.address" hide-company-name="true" ng-if="!creditCardFactory.paymentMethods.newCreditCard.useBillingAddress"></address-form>

    </div>
    <!--  END NEW CC ADDRESS -->
  </div>
  <!-- END NEW CC -->

  <!-- EXISTING CREDIT CARD -->
  <div id="existing-credit-card-form" ng-if="!creditCardFactory.paymentMethods.selectedCard.isNew">
    <div class="row">
      <div class="col-md-12">
        <label>Choose Payment Method:</label><br>
        <div class="madero-radio" ng-repeat="card in paymentSourcesFactory.existingCreditCards">
          <input type="radio" ng-model="creditCardFactory.paymentMethods.selectedCard" ng-value="card" name="{{card.payment_source.id}}" id="{{card.payment_source.id}}" tabindex="1">
          <label for="{{card.payment_source.id}}" class="font-weight-normal">
            {{card.payment_source.card | cardDescription}}
          </label>
        </div>
        <div class="mt-4">
          <a class="madero-link u_clickable" ng-click="creditCardFactory.selectNewCreditCard()">Use A Different Payment Method</a>
        <div>
      </div>
    </div>
  </div>
  <!-- END EXISTING CC -->
  
</div>
