<div rv-spinner rv-spinner-key="tax-exemption-modal" rv-spinner-start-active="1">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">
      <streamline-icon name="close" width="12" height="12"></streamline-icon>
    </button>
  </div>
  <div class="modal-body" stop-event="touchend">
    <h4 class="text-center">Add Tax Exemption</h4>

    <form id="form.taxExemptionForm" role="form" name="form.taxExemptionForm" class="u_margin-md-top" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" ng-class="{ 'has-error': isFieldInvalid('number') }">
            <label for="number" class="control-label">Tax Exemption Number: *</label>
            <input name="number" id="number" type="text" class="form-control" ng-model="factory.taxExemption.number" tabindex="1" maxlength="25" required>
            <span class="text-danger" ng-show="isFieldInvalid('number')">
              Choose a Tax Exemption Number.
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" ng-class="{ 'has-error': isFieldInvalid('fileName') }">
            <label for="fileName" class="control-label">Tax Exemption Document (Image or PDF only): *</label>
            <input id="inputExemption" type="file" accept="application/pdf,image/*" onchange="angular.element(this).scope().setFile(this)" style="display:none">
            <div class="flex-row">
              <input name="fileName" id="fileName" class="form-control mr-3" type="text" readonly="readonly" ng-model="factory.taxExemption.file.name" required>
              <button name="selectFile" id="selectFile" type="button" ng-click="selectFile()" tabindex="1" class="btn btn-default">Attach File</button>
            </div>
            <span class="text-danger" ng-show="isFieldInvalid('fileName')">
              Choose a Tax Exemption Document.
            </span>
          </div>
        </div>
      </div>
    </form>

    <div class="madero-style alert alert-danger u_margin-md-top" ng-show="factory.taxExemptionError">
      {{factory.taxExemptionError}}
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" ng-click="close()" aria-label="Cancel Tax Exemption" tabindex="2" class="btn btn-default pull-left" translate>common.cancel</button>
        <button id="submitButton" type="submit" form="form.taxExemptionForm" ng-click="submit()" aria-label="Submit Tax Exemption" tabindex="1" class="btn btn-primary pull-right">Submit Tax Exemption</button>
      </div>
    </div>
  </div>

</div>
