<div id="checkout-success" class="checkout-centered-panel">
  <span ng-if="purchaseAction === 'add'">
    <h4 class="u_margin-md-bottom">A great big thank you!</h4>
    <p class="u_margin-md-bottom">
      We’ve sent a confirmation email to <b>{{factory.userEmail}}</b>.
    </p>
    <p>
      <b>Details:</b><br />
      You’ve added <b>{{factory.purchase.licensesToAdd}} display license{{ factory.purchase.licensesToAdd > 1 ? 's' : '' }}</b> to your subscription.<br/>
      You will be charged <b>${{factory.estimate.invoice_estimate.amount_due/100 | number:2}}</b>.
    </p>
  </span>
  
  <span ng-if="purchaseAction === 'remove'">
    <h4 class="u_margin-md-bottom">
      Display licenses have been removed.
    </h4>
    <p class="u_margin-md-bottom">
      We’ve sent a confirmation email to <b>{{factory.userEmail}}</b>.
    </p>
    <p>
      <b>Details:</b><br />
      You’ve removed <b>{{factory.purchase.licensesToRemove}} display license{{ factory.purchase.licensesToRemove > 1 ? 's' : '' }}</b> from your subscription.<br/>
      You will be credited <b>${{factory.getCreditTotal() | number:2}}</b>.
    </p>
  </span>

  <div class="button-row mt-5">
    <button id="doneButton" class="btn btn-primary btn-block" ng-click="close()" aria-label="Done" tabindex="1">Continue</button>
  </div>
</div>
