.idea/
.vscode/
*.iml
node_modules
src/bower_components
reports
*.log
dist
tmp
src/tmp
src/scripts/config/config.js
src/vendor/tus
src/vendor/compressor
test/e2e/config/config.json
.DS_Store
.project
