.idea/
.vscode/
*.iml
node_modules
web/bower_components
reports
*.log
dist
tmp
web/tmp
web/scripts/config/config.*
web/*.js
web/*.map
web/src/**/*.js
web/src/**/*.map
web/scripts/*.ajs.js
web/scripts/*.ajs.js.map
web/vendor/tus
web/vendor/compressor
test/e2e/config/config.json
.DS_Store
.project
