<div class="modal-body" style="padding: 30px" ng-controller="UxCtrl">
   

   <style>
.grow {
  width: 100%;
 
  -webkit-transition: all 5s ease;
     -moz-transition: all 5s ease;
       -o-transition: all 5s ease;
      -ms-transition: all 5s ease;
          transition: all 5s ease;
}
 
.grow:hover {
   -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  
}

</style>

 <button class="btn btn-default half-top" style="float:left"> <i class="fa fa-reply icon-left"></i> Back To All Templates</button>
    <button style="margin-top: -30px; margin-right: -30px" class="close"><i class="fa fa-times"></i></button>
   
    <div class="row">
	    <div class="col-xs-12">
	        <h3> Education Landscape 1 </h3>
	    </div>
    </div>
   
    <div class="row">
        <div class="col-xs-9">
            <p>It's always lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
        </div>
        <div class="col-xs-3">
        	 <button class="btn btn-primary pull-right">Start with this Template<i class="fa fa-plus icon-right"></i></button>
        </div>
       
    </div>

   <div class="content-box" style="overflow:hidden">
	    <div class="grow">
	        <img class="animated pulse" style="width:100%" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_college2_landscape.jpg">
	    </div>
	</div>


</div>
