<div class="modal-body padding-large">
	<button class="close button-badge"><i class="fa fa-times"></i></button>
	<h3>Do you want to save changes before leaving?</h3>
	<p>Your changes will be lost if you don’t save them.</p>
</div>
<div class="modal-footer padding-large">
	<button class="btn btn-danger pull-left">Don't Save</button>

	<button class="btn btn-primary">Save <i class="fa fa-check icon-right"></i></button>
	<button class="btn btn-default">Cancel <i class="fa fa-times icon-right"></i></button>
</div>