.schedule-fields-body {
  .scrollable-list {
    @media (min-width: $screen-md) {
      height: 275px;
      min-height: 275px;
      max-height: 275px;
    }

    @media (min-width: $screen-lg) {
      height: 387px;
      min-height: 387px;
      max-height: 387px;
    }

    .draggable-mirror {
      border-top: 1px solid $madero-gray;
      background: rgba(242, 242, 242, 0.85);
    }

    .list-group-item {
      min-height: 62px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .playlist-item-name {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      span {
        vertical-align: middle;
      }
    }
  }
}

.playlist-menu {
  margin-top: -9px;
}

.playlist-item-reference {
  @extend .u_ellipsis-md;
  max-width: 320px;
  line-height: 24px;
}
