<div class="form-group" ng-class="{ 'has-error' : (ngModelCtrl.$invalid && ngModelCtrl.$dirty) }">
	<label class="control-label" for="password">
		{{ isCreating ? 'Create ' : ''}}Password
	</label>
	<input id="password"
	     type="password"
	     class="form-control"
	     placeholder="Enter Password"
	     ng-model="ngModel"/>

	<ng-messages role="alert" for="ngModelCtrl.$error" ng-if="ngModelCtrl.$invalid && ngModelCtrl.$dirty">
		<p ng-message="required" class="text-danger">Please provide a password.</p>
		<p ng-message="minlength" class="text-danger">Password must be at least {{ isCreating ? 12 : 4}} characters long.</p>
	</ng-messages>

	<div ng-if="isCreating && scorePercentage && ngModelCtrl.$dirty">
		<p class="text-warning">{{feedback}}</p>

		<p>Strength: <span class="text-{{strengthClass}}">{{strength}}</span></p>

		<div class="progress">
			<div class="progress-bar progress-bar-{{strengthClass}}" role="progressbar" aria-valuenow="{{scorePercentage}}"
			aria-valuemin="0" aria-valuemax="100" style="width: {{scorePercentage}}%">
			</div>
		</div>
	</div>

</div>