<div id="configure-control-modal">
  <div class="modal-header">
    <button id="dismissButton" type="button" class="close" ng-click="dismiss()">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title">Configure Display Control</h3>
  </div>
  <div class="modal-body">	
    <div class="alert alert-warning">
      <b>DISCLAIMER:</b> Display Control is currently provided as beta, and is only supported on Player Version RisePlayerElectron 2017.xx.xx.xx.xx and higher. <br/>
      Once out of beta, it will only be available to a Display subscribed to Rise Player Professional. 
    </div>

    <a class="info-link" href="#" target="_blank"> <i class="fa fa-question-circle icon-left" aria-hidden="true"></i> <span>Need help configuring Display Control?</span> </a>
    
    <br/><br/>

<textarea class="form-control" rows="12">
Select 'Need help configuring Display Control?' above for instructions.
----------------------------------------------------------------
interface=
serial-port=
serial-baud-rate=
serial-data-bits=
serial-parity=
serial-stop-bits=
serial-flow-control=
serial-screen-on-cmd=
serial-screen-off-cmd=
</textarea>
  </div>

  <div class="modal-footer">
    <button id="" class="btn btn-danger pull-left" ng-click="">Reset To Defaults 
    </button>
    <button id="" class="btn btn-primary" ng-click="">Save 
      <i class="fa fa-check icon-right"></i>
    </button>
    <button id="" class="btn btn-default" ng-click="">Cancel 
      <i class="fa fa-times icon-right"></i>
    </button>
  </div>
</div>