<div id="emailedInstructions" rv-spinner rv-spinner-key="display-email" rv-spinner-start-active="1">
  <p>
    These instructions have been sent via email. Send to another address?
  </p>

  <ng-form id="emailForm" role="form" name="emailForm" novalidate>
    <div class="form-group" ng-class="{'has-error': !emailForm.email.$pristine && emailForm.email.$invalid}" show-errors>
      <div class="sideways-panels">
        <input type="email" class="form-control w-75 mr-3" placeholder="example@email.com"
          id="email" name="email" ng-model="email" required>

        <button class="btn btn-default w-25" type="submit" ng-click="sendEmail()" ng-disabled="emailForm.$invalid || displayEmail.sendingEmail" translate="common.send"></button>
      </div>

      <p class="text-danger text-left" ng-show="!emailForm.email.$pristine && emailForm.email.$invalid" translate>
        Please enter a valid email address.
      </p>

      <div ng-show="emailError" class="madero-style alert alert-danger text-left w-100 mt-3" role="alert">
        <strong>{{emailError}}</strong>
      </div>

      <p class="mt-3" ng-show="emailForm.email.$pristine && emailSent">
        Sent!
      </p>
    </div>
  </ng-form>
</div>
