<div id="configure-control-modal">
  <div class="modal-header">
    <button id="dismissButton" type="button" class="close" ng-click="dismiss()">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title">Try Rise Player Professional</h3>
  </div>
  <div class="modal-body">	
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>
          <a ng-href="https://store.risevision.com/product/2048/rise-player-professional" link-cid target="_blank">
            Rise Player Professional
          </a>
          offers premium features for your digital signage content!
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 u_padding-lg">
        <div class="text-center u_margin-md-bottom">
          <img src="https://s3.amazonaws.com/Rise-Images/store/display_control_icon.png">
        </div>
    
        <div>
          <b>Display Control</b> powers off your screen when nothing is showing, and powers on when content is available.
        </div>
        <br/>
        <div class="bullet-list">
          <ul>
            <li>Saves on electricity costs.</li>
            <li>Extends the life of your hardware.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 u_padding-lg">
        <div class="text-center u_margin-md-bottom">
          <img src="https://s3.amazonaws.com/Rise-Images/store/offline_play_icon.png">
        </div>
    
        <div>
          <b>Offline Play</b> eliminates having to be connected to the internet in order to start and show your content. 
        </div>
        <br/>
        <div class="bullet-list">
          <ul >
            <li>Compatible with many widgets.</li>
            <li>Monitors network status.</li>
            <li>Refreshes content when connected.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center u_margin-md-bottom">
      <button class="btn btn-primary btn-lg u_margin-md-top" ng-click="startTrial()">
        Subscribe to Rise Player Professional
      </button>
      <br/><br/>
      <p>
        If you're already subscribed to Rise Player Professional, please assign your Display in your 
        <a ng-href="https://store.risevision.com/account" link-cid target="_blank">
          Store Account</a>.
     </p>
   </div>

  </div>
</div>
