<div class="madero-style fields-container">
  <div class="row">

    <div class="col-sm-12 col-md-8 pb-2 pb-lg-0">
      <stretchy-input class="mb-0 mr-auto" ng-model="display.name"></stretchy-input> 
    </div>

    <div class="col-sm-12 col-md-4 pl-lg-0">
      <div class="pull-right">
        <label class="mr-2">Media Player Actions:</label>
        <div class="btn-group" dropdown>
          <button id="addPlaylistItemButton" type="button" dropdown-toggle class="form-control btn-select btn-schedule-selector btn-toolbar flex-row">
            <div class="row-entry">
              <span class="text-gray mr-auto">Choose an action</span>
              <span class="text-gray pl-2"><i class="fa fa-sort"></i></span>
            </div>
          </button>
          <div class="dropdown-menu playlist-menu" role="menu" ng-controller="displayControls">
            <ul>
              <li>
                <button type="button" class="u_clickable" ng-disabled="!display.playerVersion" ng-click="confirm(display.id, display.name, 'restart')" require-role="da">
                  <span translate>displays-app.fields.controls.restart.name</span>
                </button>
              </li>
              <li>
                <button type="button" class="u_clickable" ng-disabled="!display.playerVersion || !canReboot(display)" ng-click="confirm(display.id, display.name, 'reboot')" require-role="da">
                  <span translate>displays-app.fields.controls.reboot.name</span>
                </button>
              </li>
              <li>
                <a id="installPlayer" class="u_clickable" ng-click="factory.addDisplayModal(display)">
                  <span translate>displays-app.fields.controls.install</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- DISPLAY ERRORS AND ALERTS -->
<div class="row">
    <div class="col-sm-12">
        <div ng-show="controlsError" class="alert alert-danger" role="alert">
            <strong translate>displays-app.fields.controls.error</strong> {{controlsError}}
        </div>
        <div class="panel animated fadeIn" ng-show="controlsInfo">
            <div class="panel-body bg-warning">
                <strong>{{ controlsInfo | translate }}</strong>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="fields-preview-panels display-fields-body mt-4">
  <div class="fields-container">

    <!-- DISPLAY DETAILS -->
    <div class="u_padding-20-vertical">
      <label class="mb-0 mr-auto" translate>displays-app.displayDetails</label>
    </div>

    <div class="scrollable-list border-container">

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0">License Display?</label>

          <span class="mr-auto" ng-show="updatingRPP">
            <span translate>displays-app.details.rpp-loading</span> <i class="fa fa-spinner fa-spin fa-fw"></i>
          </span>
          <div class="toggle-group mr-auto" ng-hide="updatingRPP">
            <input type="checkbox" id="on-off-switch" ng-model="display.playerProAuthorized" ng-change="toggleProAuthorized()" ng-disabled="updatingRPP || !isProToggleEnabled()">
            <div class="onoffswitch" aria-hidden="true">
                <div class="onoffswitch-label">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.id</label>
          <span class="mr-auto">
            {{display.id}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.resolution</label>
          <span class="mr-auto">
            <span ng-show="display.playerVersion">{{display.width | resolution: display.height}}</span>
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.lastConnection</label>
          <span class="mr-auto" ng-if="factory.showLicenseRequired(display)">
            License Required
          </span>
          <span class="mr-auto" ng-if="!factory.showLicenseRequired(display)">
            {{display.lastConnectionTime | date:'d-MMM-yyyy h:mm a'}}
          </span>
        </div>
      </div>

      <!-- SCREENSHOT  -->
      <div ng-if="!playerProFactory.isCROSLegacy(display)">
        <screenshot></screenshot>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.status</label>
          <span class="mr-auto" ng-if="factory.showLicenseRequired(display)">
            License Required
          </span>
          <span class="mr-auto" ng-if="!factory.showLicenseRequired(display)">
            <i ng-if="displayService.statusLoading" class="fa fa-spinner fa-spin fa-fw"></i>
            <span class="text-danger" ng-show="!displayService.statusLoading && (display | status) === 'offline'"> <i class="fa fa-times"></i> Offline</span>
            <a ng-show="!displayService.statusLoading && (display | status) === 'offline'" href="https://help.risevision.com/hc/en-us/articles/115002694906-Why-is-my-Display-status-offline-" target="_blank">Why is my Display offline?</a>
            <span class="text-success" ng-show="!displayService.statusLoading && (display | status) === 'online'"> <i class="fa fa-check"></i> Online</span>
            <a id="notActivatedLink" class="u_icon-hover u_clickable" ng-show="!displayService.statusLoading && (display | status) === 'notinstalled'" ng-click="factory.addDisplayModal(display)">
              {{ 'displays-app.list.status.notActivated' | translate }}
            </a>
          </span>
        </div>
      </div>

      <div class="form-group reboot-time">
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox" ng-model="display.restartEnabled" ng-disabled="factory.showLicenseRequired(display)">
            <strong translate>displays-app.fields.reboot</strong>
          </label>
        </div>
        <time-picker ng-model="display.restartTime" ng-disabled="!display.restartEnabled || factory.showLicenseRequired(display)"></time-picker>
      </div>

      <table class="table">
        <tbody class="table-body">

          <tr class="table-body__row">
            <td class="table-body__cell text-nowrap u_no-border">
               <div class="checkbox u_remove-margin" id="enableInputs">
                <label class="">
                  <input type="checkbox" ng-model="display.monitoringEnabled" ng-disabled="!display.playerProAuthorized">
                  <span class="no-select" translate>displays-app.fields.player.rpp.monitoring</span>
                </label>
              </div></td>
              <td class="table-body__cell u_no-border">
              <span translate>displays-app.fields.player.rpp.send-email-offline</span>
            </td>
          </tr>

          <tr class="table-body__row">
            <td class="table-body__cell text-nowrap u_no-border u_align-top">
              <span translate>displays-app.fields.player.rpp.email-recipients</span>
            </td>
            <td class="table-body__cell u_no-border" ng-class="{ 'has-error': !displayDetails.monitoringEmails.$valid }">
              <emails-field name="monitoringEmails" ng-model="display.monitoringEmails"></emails-field>
              <p class="help-block validation-error-message-email" ng-show="!displayDetails.monitoringEmails.$valid" translate>
                displays-app.fields.player.rpp.invalid-email
              </p>
            </td>
          </tr>

          <tr class="table-body__row">
            <td class="table-body__cell text-nowrap u_align-top u_no-border">
              <span translate>displays-app.fields.player.rpp.monitoring-timeline</span>
            </td>
            <td class="table-body__cell u_no-border">
              <timeline-basic-textbox timeline-string="display.monitoringSchedule" ng-disabled="!display.monitoringEnabled" />
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <tbody class="table-body">
          <tr class="table-body__row" ng-class="{ 'table--disabled': !display.playerProAuthorized }" ng-if="!playerProFactory.isCROSLegacy(display) && !playerProFactory.isChromeOSPlayer(display)">
            <td class="table-body__cell">
              <span translate>displays-app.fields.player.displayControl.label</span>
            </td>
            <!-- ACTIVE -->
            <td class="table-body__cell" ng-show="playerProFactory.isDisplayControlCompatiblePlayer(display)">
              <span translate> displays-app.fields.player.displayControl.description </span>
              <button type="button" class="btn btn-primary btn-xs" ng-click="playerProFactory.openConfigureDisplayControl(display)" ng-disabled="!display.playerProAuthorized" require-role="da" translate>
                displays-app.fields.player.displayControl.configure
              </button>
            </td>
            <!-- INACTIVE -->
            <td class="table-body__cell" ng-hide="playerProFactory.isDisplayControlCompatiblePlayer(display)">
              <span>
                <div class="text-danger">
                  <span translate>
                    displays-app.fields.player.displayControl.unsupported
                  </span>
                </div>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="list-group-item flex-row form-group mb-0" ng-show="(display.playerVersion || display.onlineStatus === 'online') && (playerProFactory.isCROSLegacy(display) || playerProFactory.isChromeOSPlayer(display))">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.orientation.name</label>
          <select class="form-control mr-auto" ng-model="display.orientation" integer-parser>
            <option value="0" translate>displays-app.fields.player.orientation.0</option>
            <option value="90" translate>displays-app.fields.player.orientation.90</option>
            <option value="180" translate>displays-app.fields.player.orientation.180</option>
            <option value="270" translate>displays-app.fields.player.orientation.270</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox" ng-model="display.useCompanyAddress" name="useCompanyAddress" ng-disabled="factory.showLicenseRequired(display)">
            <strong translate>displays-app.fields.address.useCompany</strong>
          </label>
        </div>
      </div>

      <div ng-hide="display.useCompanyAddress" class="u_margin-md-top u_margin-md-bottom">
        <div class="form-group">
          <label class="control-label" translate>displays-app.fields.address.description</label>
          <input type="text" class="form-control" ng-model="display.addressDescription">
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" translate>displays-app.fields.address.street</label>
              <input type="text" class="form-control" ng-model="display.street" name="street">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" translate>displays-app.fields.address.unit</label>
              <input type="text" class="form-control" ng-model="display.unit" name="unit">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" translate>displays-app.fields.address.city</label>
              <input type="text" class="form-control" ng-model="display.city" name="city">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" translate>displays-app.fields.address.country.name</label>
              <select class="form-control" ng-model="display.country" name="country" ng-options="c.code as c.name for c in countries" empty-select-parser>
                <option value="" ng-show="false" translate>displays-app.fields.address.country.placeholder</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" translate>displays-app.fields.address.province.name</label>
              <input type="text" class="form-control" ng-model="display.province" name="province" ng-if="display.country != 'US' && display.country != 'CA'" />
              <select class="form-control selectpicker" ng-model="display.province" name="province" ng-options="c[1] as c[0] for c in regionsCA" ng-if="display.country == 'CA'" empty-select-parser>
                <option value="" ng-show="false" translate>displays-app.fields.address.province.provincePlaceholder</option>
              </select>
              <select class="form-control selectpicker" ng-model="display.province" name="province" ng-options="c[1] as c[0] for c in regionsUS" ng-if="display.country == 'US'" empty-select-parser>
                <option value="" ng-show="false" translate>displays-app.fields.address.province.statePlaceholder</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" translate>displays-app.fields.address.postalCode</label>
              <input type="text" class="form-control" ng-model="display.postalCode" name="postalCode">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" translate>displays-app.fields.address.timezone.name</label>
          <select class="form-control" ng-model="display.timeZoneOffset" integer-parser>
            <option value="" ng-show="false" translate>displays-app.fields.address.timezone.placeholder</option>
            <option value="{{c[1]}}" ng-repeat="c in timezones">{{c[0]}}</option>
          </select>
        </div>
        <hr>
      </div><!--display address-->



      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.ipAddress</label>
          <span class="mr-auto" ng-if="factory.showLicenseRequired(display)">
            License Required
          </span>
          <span class="mr-auto" ng-if="!factory.showLicenseRequired(display)">
            {{display.playerLocalIpAddress}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0" ng-show="display.macAddress">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.macAddress</label>
          <span class="mr-auto" ng-if="factory.showLicenseRequired(display)">
            License Required
          </span>
          <span class="mr-auto" ng-if="!factory.showLicenseRequired(display)">
            {{display.macAddress}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.operatingSystem</label>
          <span class="mr-auto">
            {{display.os}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0 aligner-item--top" translate>displays-app.fields.player.playerVersion</label>
          <span class="mr-auto">
            <div ng-show="display.playerName">{{display.playerName}}</div>
            <div ng-show="display.playerVersion">{{display.playerVersion}}</div>
            <div ng-if="display.playerVersion && playerProFactory.isOutdatedPlayer(display)">
              <a href="https://help.risevision.com/hc/en-us/articles/115004250723-Why-is-Rise-Player-version-not-current-" target="_blank" translate>displays-app.fields.player.version.notCurrent</a>
            </div>
            <div ng-if="display.playerVersion && playerProFactory.isUnsupportedPlayer(display)">
              <a href="" ng-click="factory.addDisplayModal(display)"><span class="text-danger" translate>displays-app.fields.player.version.unsupported</span> - {{'displays-app.fields.player.version.upgrade' | translate}}</a>
            </div>
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0" ng-show="display.viewerVersion">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.viewerVersion</label>
          <span class="mr-auto">
            {{display.viewerVersion}}
          </span>
        </div>
      </div>
      <div class="list-group-item flex-row form-group mb-0" ng-show="display.browserVersion">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.browserVersion</label>
          <span class="mr-auto">
            {{(display.browserName ? display.browserName + " " : "") + (display.browserVersion ? display.browserVersion : "")}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0" ng-show="display.serialNumber">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.serialNumber</label>
          <span class="mr-auto">
            {{display.serialNumber}}
          </span>
        </div>
      </div>
      <div class="list-group-item flex-row form-group mb-0" ng-show="display.cpu">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.cpu</label>
          <span class="mr-auto">
            {{display.cpu}}
          </span>
        </div>
      </div>
      <div class="list-group-item flex-row form-group mb-0" ng-show="display.hostName">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.hostName</label>
          <span class="mr-auto">
            {{display.hostName}}
          </span>
        </div>
      </div>
      <div class="list-group-item flex-row form-group mb-0" ng-show="display.productName">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.productName</label>
          <span class="mr-auto">
            {{display.productName}}
          </span>
        </div>
      </div>

    </div>
  </div>

  <!-- TODO: Remove madero-style once it's global for the page -->
  <div class="madero-style preview-container" ng-if="displayService.hasSchedule(display)">
    <div class="flex-row border-bottom u_padding-20-vertical mb-4">
      <div class="row-entry form-inline">

        <div class="pull-left mr-auto mb-0 form-group" preview-selector>
          <label for="preview-selector" class="mr-3">Schedule: {{display.scheduleName}}</label>
          <!-- <button id="preview-selector" class="form-control btn-select btn-schedule-selector flex-row"
            tooltip-template="'partials/schedules/preview-selector-tooltip.html'"
            tooltip-trigger="show"
            ng-click="toggleTooltip($event)" 
            tooltip-animation="false"
            tooltip-placement="bottom" 
            tooltip-class="madero-style tooltip-schedule-selector ml-0"
            tooltip-append-to-body="true"
            tooltip-digest-on-resize
          >
          	<div class="row-entry">
              <span class="text-muted mr-auto" ng-if="!display.scheduleId">Create or select a schedule</span>
              <span class="u_text-ellipsis mr-auto" ng-if="display.scheduleId">{{display.scheduleName}}</span>
              <span class="text-muted pl-2"><i class="fa fa-sort"></i></span>
            </div>
          </button> -->
        </div>

        <span class="pull-right button-toolbar">
          <a id="viewSchedule" type="button" class="btn btn-default btn-toolbar" ui-sref="apps.schedules.details({ scheduleId: display.scheduleId, cid: display.companyId })">Edit Schedule</a>
          <ng-show ng-show="tooltipKey">
            <button id="shareButton" type="button" class="btn btn-default btn-toolbar" 
            tooltip-overlay tooltip-template="'partials/schedules/share-schedule-tooltip.html'" tooltip-placement="bottom" tooltip-class="madero-style tooltip-guide tooltip-share-guide">
              Share
            </button>
          </ng-show>
          <share-schedule-button schedule="factory.schedule" button-class="btn-default btn-toolbar" ng-hide="tooltipKey"></share-schedule-button>
        </span>

      </div>
    </div>

    <div class="preview-embed">
      <iframe frameborder="0" ng-src="{{getEmbedUrl(display.scheduleId)}}">
      </iframe>
    </div>
  </div>

  <div class="madero-style preview-container" ng-hide="displayService.hasSchedule(display)">
    <label class="u_padding-20-vertical mb-0">Schedule:</label>

    <div class="border-container text-center">
      <div class="panel-body">
        <div class="form-group my-4">
          <label>Nothing is currently showing on your display.</label>
        </div>
        <div class="mb-4">
          <a id="createScheduleButton" class="btn btn-default btn-toolbar" ui-sref="apps.schedules.list({ cid: display.companyId })">Add To Schedule</a>
        </div>
      </div>
    </div>
  </div>
</div>
