<form id="messageForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" data-dismiss="modal" aria-hidden="true">
      <streamline-icon name="close" width="12" height="12"></streamline-icon>
    </button>
  </div>
  <div class="modal-body" stop-event="touchend">
    <h4>Install Rise Player</h4>
    <div class="bullet-list">
      <strong>Windows</strong>
      <ul>
        <li>
          <a class="madero-link" href="http://install-versions.risevision.com/installer-win-32.exe">
            Download for Windows 10 (32-bit)
          </a>
        </li>
        <li>
          <a class="madero-link" id="downloadWindows64" href="http://install-versions.risevision.com/installer-win-64.exe">
            Download for Windows 10 (64-bit)
          </a>
        </li>
      </ul>
    </div>
    <div class="bullet-list">
      <strong>Linux</strong>
      <ul>
        <li>
          <a class="madero-link" href="http://install-versions.risevision.com/installer-lnx-32.sh">
            Download for Ubuntu 18.04 LTS (32-bit)
          </a>
        </li>
        <li>
          <a class="madero-link" href="http://install-versions.risevision.com/installer-lnx-64.sh">
            Download for Ubuntu 18.04 LTS (64-bit)
          </a>
        </li>
      </ul>
    </div>
    <div class="bullet-list">
      <strong>Chrome OS</strong>
      <ul>
        <li>
          <a class="madero-link" href="https://help.risevision.com/hc/en-us/articles/360001252066" target="_blank">
            Download for Chrome OS
          </a>
        </li>
      </ul>
    </div>
    <div class="bullet-list">
      <strong>Raspberry Pi</strong>
      <ul>
        <li>
          <a class="madero-link" href="http://install-versions.risevision.com/installer-lnx-armv7l.sh">
            Download for Raspberry Pi
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary w-100" id="dismissButton" ng-click="dismiss()">
          <span>Okay, I'm done</span>
        </button>
      </div>
    </div>
  </div>
</form>
