<div id="player-pro-info-modal">
  <div class="modal-header">
    <button id="dismissButton" type="button" class="close" ng-click="dismiss()">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" ng-if="display.showTrialButton">Try Rise Player Professional</h3>
    <h3 class="modal-title" ng-if="!display.showTrialButton">Rise Player Professional</h3>
  </div>
  <div class="modal-body" rv-spinner rv-spinner-key="loading-trial" rv-spinner-start-active="0">	
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>
          <a ng-href="https://store.risevision.com/product/2048/rise-player-professional" link-cid target="_blank">
            Rise Player Professional
          </a>
          offers premium features for your digital signage content!
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 u_padding-lg">
        <div class="text-center u_margin-md-bottom">
          <img src="https://s3.amazonaws.com/Rise-Images/store/display_control_icon.png">
        </div>
    
        <div>
          <b>Display Control</b> powers off your screen when nothing is showing, and powers on when content is available.
        </div>
        <br/>
        <div class="bullet-list">
          <ul>
            <li>Saves on electricity costs.</li>
            <li>Extends the life of your hardware.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 u_padding-lg">
        <div class="text-center u_margin-md-bottom">
          <img src="https://s3.amazonaws.com/Rise-Images/store/offline_play_icon.png">
        </div>
    
        <div>
          <b>Offline Play</b> eliminates having to be connected to the internet in order to start and show your content. 
        </div>
        <br/>
        <div class="bullet-list">
          <ul >
            <li>Compatible with many widgets.</li>
            <li>Monitors network status.</li>
            <li>Refreshes content when connected.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 u_margin-md-bottom text-center">
        <p ng-show="display.showTrialButton" translate>displays-app.playerProTrial.description2</p>
        <p translate>displays-app.playerProTrial.price</p>
      </div>
    </div>

    <div class="text-center u_margin-md-bottom">
      <button id="playerProTrialButton" ng-if="display.showTrialButton" class="btn btn-primary btn-lg" ng-click="startTrial()" translate>
        displays-app.details.startPlayerProTrial
      </button>
      <a id="subscribePlayerProButton" ng-if="!display.showTrialButton" class="btn btn-lg btn-primary" ng-href="{{productLink}}" link-cid target="_blank" translate>
        displays-app.details.subscribePlayerPro
      </a>

      <p class="u_margin-md-top">
        If you're already subscribed to Rise Player Professional, please assign your Display in your 
        <a ng-href="{{accountLink}}" link-cid target="_blank">
          Store Account</a>.
      </p>
    </div>

  </div>
</div>
