<div>
  <p>
    Great choice! With the Rise Vision Media Player you’ll be up and running in just a few minutes.
  </p>

  <p>
    I want to ...
  </p>
  <div class="prototype-download-content row u_margin-md">
    <div class="col-xs-6 text-center">
      <a href="https://www.cdw.com/product/risevision-preconfig-n3350-64-4-lin/5471221" class="u_link-no-underline">
        <div class="u_bordered u_bordered-hover u_clickable">
          <img src="../images/group.svg" width="68">
          <h5>
            <span>Purchase The Rise Vision Media Player</span>
          </h5>
          <span>(Not available outside the United States)</span>
        </div>
      </a>
    </div>
    <div class="col-xs-6 text-center">
      <a href="https://help.risevision.com/hc/en-us/articles/115001817143-Choose-a-Media-Player#%E2%80%9Crise-vision-preconfigured-media-player%E2%80%9D" class="u_link-no-underline" id="downloadWindows64">
        <div class="u_bordered u_bordered-hover u_clickable">
          <img src="../images/book.svg" width="68">
          <h5>
            <span>Learn More About The Rise Vision Media Player</span>
          </h5>
        </div>
      </a>
    </div>
  </div>

  <p class="u_margin-sm-top">
    Once you receive your Media Player plug in your Display and enter the Display ID below to activate it and show the content you’ve created!
  </p>

  <!-- MATCH STYLE HERE -->
  <div class="col-xs-12 u_margin-md-bottom">
    <input type="text" class="id-form form-control" value="{{display.id}}" readonly="readonly" select-on-focus>
  </div>

  <div>
    <p class="u_margin-sm-top">
      <span>{{'displays-app.add.instructions.emailInfo' | translate}}
        <b>{{userEmail}}</b>
      </span>
      <a class="" href="#" ng-click="toggleEmailForm()" target="_blank">
        Send to another email?
      </a>
    </p>
  </div>
</div>

