<div class="input-group rise-date-picker radio-nested-input-group mt-3">
  <input type="text"
         class="form-control"
         readonly="true"
         id="restartTime"
         name="restartTime"
         ng-model="time"
         ng-click="openTimePicker($event, 'restartTimePickerOpen')"
         time-picker-popup
         is-open="restartTimePickerOpen"
  />
  <span class="input-group-btn">
    <button type="button" id="restartTimePickerButton" class="btn btn-primary" ng-click="openTimePicker($event, 'restartTimePickerOpen')">
      <streamline-icon name="clock"></streamline-icon>
    </button>
  </span>
</div>
