<div class="form-group mw-100 {{additionalClass}}">
  <label class="mr-3">{{ label || 'Schedule:' }}</label>
  <button id="preview-selector" type="button" class="form-control mw-100 btn-select btn-schedule-selector btn-toolbar flex-row"
    tooltip-template="'partials/schedules/preview-selector-tooltip.html'"
    tooltip-trigger="show"
    ng-click="toggleTooltip($event)" 
    tooltip-animation="false"
    tooltip-placement="bottom" 
    tooltip-class="madero-style tooltip-schedule-selector ml-0"
    tooltip-append-to-body="true"
    tooltip-digest-on-resize
  >
    <div class="row-entry">
      <span class="text-muted mr-auto" ng-if="!ngModel">Select or add a new schedule</span>
      <span class="u_text-ellipsis mr-auto" ng-if="ngModel">{{ngModel.name}}</span>
      <span class="text-muted pl-2"><i class="fa fa-sort"></i></span>
    </div>
  </button>
</div>