<span id="preview-selector-tooltip" class="preview-selector-tooltip">
  <div class="row">
    <div class="col-xs-12">
      <search-filter filter-config="filterConfig" search="search" do-search="schedules.doSearch" icon-set="madero"></search-filter>
    </div> 
  </div>

  <div class="scrollable-list mt-3 mb-3"
    scrolling-list="schedules.load()"
    rv-spinner
    rv-spinner-key="preview-selector-spinner"
    rv-spinner-start-active="1"
  >
    <div class="flex-row" ng-repeat="schedule in schedules.items.list">
      <div class="row-entry mb-3">
        <a class="madero-link mr-auto u_text-ellipsis" href="" ng-click="select(schedule)">
          {{schedule.name}}
        </a>
        <a class="madero-link mr-3" ui-sref="apps.schedules.details({scheduleId: schedule.id})" link-cid>
          Edit
        </a>
      </div>
    </div>

    <div id="noItems" class="schedule-list-empty" ng-if="!schedules.loadingItems && !schedules.search.query && schedules.items.list.length === 0">
      No Schedules
    </div>
    <div id="noSearchResult" class="schedule-list-no-results" ng-if="!schedules.loadingItems && schedules.search.query && schedules.items.list.length === 0">
      No Results Found
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a type="button" class="btn btn-default btn-block" ui-sref="apps.schedules.add" link-cid>Add Schedule</a>
    </div>
  </div>

</span>
