<a href="" class="btn btn-default" ng-click="closeTooltip()">Cancel</a>
<a href="" class="btn btn-primary" ng-click="select()">Select</a>
<span class="schedule-selector-tooltip">
  <div class="row">
    <div class="col-xs-12">
      <search-filter filter-config="filterConfig" search="factory.nonSelectedSchedules.search" do-search="factory.nonSelectedSchedules.doSearch" icon-set="madero"></search-filter>
    </div> 
  </div>

  <div class="scrollable-list"
    scrolling-list="factory.nonSelectedSchedules.load()"
    rv-spinner
    rv-spinner-key="selected-schedules-spinner"
    rv-spinner-start-active="0"
  >
    <div class="flex-row" ng-repeat="schedule in factory.selectedSchedules track by $index">
      <div class="row-entry">
        <div class="madero-checkbox u_clickable" ng-click="factory.selectItem(schedule, false)">
          <input type="checkbox" ng-checked="factory.isSelected(schedule, true)" tabindex="1">
          <label>
            <streamline-icon name="checkmark" width="14" height="12"></streamline-icon>
          </label>
        </div>
        <div class="mr-auto u_clickable" ng-click="factory.selectItem(schedule, false)">
          {{schedule.name}}
        </div>
        <div class="u_float-left">
          <a ui-sref="apps.schedules.details({scheduleId: schedule.id})" link-cid>
            Edit
          </a>
        </div>
      </div>
    </div>

    <div class="flex-row" ng-repeat="schedule in factory.nonSelectedSchedules.items.list">
      <div class="row-entry">
        <div class="madero-checkbox u_clickable" ng-click="factory.selectItem(schedule, false)">
          <input type="checkbox" ng-checked="factory.isSelected(schedule, false)" tabindex="1">
          <label>
            <streamline-icon name="checkmark" width="14" height="12"></streamline-icon>
          </label>
        </div>
        <div class="mr-auto u_clickable" ng-click="factory.selectItem(schedule, false)">
          {{schedule.name}}
        </div>
        <div class="u_float-left">
          <a ui-sref="apps.schedules.details({scheduleId: schedule.id})" link-cid>
            Edit
          </a>
        </div>
      </div>
    </div>

    <div id="noItems" class="schedule-list-empty" ng-if="!factory.nonSelectedSchedules.loadingItems && !factory.nonSelectedSchedules.search.query && ((factory.selectedSchedules.length + factory.nonSelectedSchedules.items.list.length) === 0)">
      No Schedules
    </div>
    <div id="noSearchResult" class="schedule-list-no-results" ng-if="!factory.nonSelectedSchedules.loadingItems && factory.nonSelectedSchedules.search.query && ((factory.selectedSchedules.length + factory.nonSelectedSchedules.items.list.length) === 0)">
      No Results Found
    </div>
  </div>
</span>