<stretchy-input ng-model="factory.schedule.name"></stretchy-input>

<div class="form-group mt-5 mb-4">
  <label>Schedule Details</label>
</div>

<timeline-textbox
timeline-style = "madero"
use-localdate = "true"
time-defined = "factory.schedule.timeDefined"
start-date = "factory.schedule.startDate"
end-date = "factory.schedule.endDate"
start-time = "factory.schedule.startTime"
end-time = "factory.schedule.endTime"
recurrence-type = "factory.schedule.recurrenceType"
recurrence-frequency = "factory.schedule.recurrenceFrequency"
recurrence-absolute = "factory.schedule.recurrenceAbsolute"
recurrence-day-of-week = "factory.schedule.recurrenceDayOfWeek"
recurrence-day-of-month = "factory.schedule.recurrenceDayOfMonth"
recurrence-week-of-month = "factory.schedule.recurrenceWeekOfMonth"
recurrence-month-of-year = "factory.schedule.recurrenceMonthOfYear"
recurrence-days-of-week = "factory.schedule.recurrenceDaysOfWeek"
></timeline-textbox>

<distribution-selector distribution="factory.schedule.distribution" distribute-to-all="factory.schedule.distributeToAll" distribution-style="madero"></distribution-selector>

<div class="schedule-fields-body">
  <div class="playlist-container">
    <div class="py-4 flex-row">
      <label class="mb-0 mr-auto" translate>schedules-app.playlist.title</label>

      <div class="btn-group" dropdown ng-if="factory.schedule.content.length">
        <button id="addPlaylistItemButton" type="button" dropdown-toggle class="dropdown-toggle btn btn-default btn-toolbar">{{'schedules-app.playlist.add-playlist-item' | translate}}</button>
        <div class="dropdown-menu playlist-menu" role="menu">
          <ul>
          <li>
            <a class="u_clickable" id="addPresentationItemButton" ng-click="addPresentationItem()">
              <span translate>schedules-app.playlist.item.presentation</span>
            </a>
          </li>
          <li>
            <a class="u_clickable" id="addUrlItemButton" ng-click="addUrlItem()">
              <span translate>schedules-app.playlist.item.url</span>
            </a>
          </li>
          </ul>
        </div>
      </div>
    </div>

    <playlist playlist-items="factory.schedule.content" ng-show="factory.schedule.content.length"></playlist>
    <div class="border-container text-center" ng-if="!factory.schedule.content.length">
      <div class="panel-body">
        <div class="form-group my-4">
          <label translate>schedules-app.playlist.empty</label>
        </div>
        <div class="btn-group pb-2" dropdown>
          <button id="addPlaylistItemButton" type="button" dropdown-toggle class="dropdown-toggle btn btn-default btn-toolbar">{{'schedules-app.playlist.add-playlist-item' | translate}}</button>
          <div class="dropdown-menu playlist-menu" role="menu">
            <ul>
            <li>
              <a class="u_clickable" id="addPresentationItemButton" ng-click="addPresentationItem()">
                <span translate>schedules-app.playlist.item.presentation</span>
              </a>
            </li>
            <li>
              <a class="u_clickable" id="addUrlItemButton" ng-click="addUrlItem()">
                <span translate>schedules-app.playlist.item.url</span>
              </a>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- presentationIds field is only updated when the Schedule is saved -->
  <div class="preview-container" ng-show="factory.schedule.id && factory.schedule.content.length">
    <div class="flex-row border-bottom py-4 mb-4">
      <div class="row-entry">
        <label class="pull-left mr-auto mb-0">Schedule Preview</label>
        <div class="madero-checkbox u_clickable" ng-click="applyTimeline = !applyTimeline">
          <input type="checkbox" ng-checked="applyTimeline" tabindex="1">
          <label>
            <streamline-icon name="checkmark" width="14" height="12"></streamline-icon>
          </label>
        </div>
        <span class="mr-3">Apply Timeline to preview.</span>

        <share-schedule-button schedule="schedule" button-class="btn-default btn-toolbar"></share-schedule-button>
      </div>
    </div>

    <div class="preview-embed">
      <iframe frameborder="0" ng-src="{{getEmbedUrl()}}">
      </iframe>
    </div>
  </div>
</div>
