<div class="madero-style">
  <div class="app-header u_margin-md-top mb-5">
    <!-- App Title -->
    <h1 class="app-header-title" id="title" translate>schedules-app.title</h1>
  </div>

  <div id="errorBox" ng-show="apiError" class="madero-style alert alert-danger u_margin-md-top" role="alert">
    <strong>{{errorMessage}}</strong> {{apiError}}
  </div> 

  <div ng-if="!(!schedules.loadingItems && schedules.items.list.length === 0 && search.query === undefined)">

    <div class="flex-row button-toolbar-md-folded">
      <search-filter class="w-100" filter-config="filterConfig" search="search" do-search="schedules.doSearch" icon-set="madero"></search-filter>
      <div class="ml-md-3" require-role="cp">
        <a id="scheduleAddButton" class="btn btn-primary btn-toolbar-wide" ui-sref="apps.schedules.add" translate>
          schedules-app.actions.new
        </a>
      </div>
    </div>

    <batch-operations list-object="schedules" list-operations="listOperations"></batch-operations>

    <div class="scrollable-list horizontal-scroll border-container u_margin-md-top u_margin-md-bottom"
      scrolling-list="schedules.load()" rv-spinner rv-spinner-key="schedules-list-loader" rv-spinner-start-active="1">

      <table id="schedulesListTable" class="table">
        <thead class="table-header">
          <tr class="table-header__row u_clickable">
            <th class="table-header__cell col-sm-9">
              <div class="flex-row">
                <madero-checkbox ng-click="schedules.selectAll()" ng-value="search.selectAll"></madero-checkbox>
                <div class="u_clickable" id="tableHeaderName" ng-click="schedules.sortBy('name')">
                  {{ 'schedules-app.list.heading.name' | translate }}
                  <i ng-if="search.sortBy === 'name'" class="fa" ng-class="{false: 'fa-caret-up', true: 'fa-caret-down'}[search.reverse]"></i>
                </div>
              </div>
            </th>
            <th id="tableHeaderChangeDate" class="table-header__cell col-sm-3 hidden-xs" ng-click="schedules.sortBy('changeDate')">
              {{ 'schedules-app.list.heading.changeDate' | translate }}
              <i ng-if="search.sortBy === 'changeDate'" class="fa" ng-class="{false: 'fa-caret-up', true: 'fa-caret-down'}[search.reverse]"></i>
            </th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-body__row" ng-repeat="schedule in schedules.items.list">
            <td class="table-body__cell">
              <div class="flex-row">
                <madero-checkbox ng-click="schedules.select(schedule)" ng-value="schedule.selected"></madero-checkbox>
                <a class="madero-link" ui-sref="apps.schedules.details({scheduleId: schedule.id})">
                  <strong>{{schedule.name}}</strong>
                </a>
              </div>
            </td>
            <td class="table-body__cell hidden-xs">{{schedule.changeDate | date:'d-MMM-yyyy h:mm a'}} by {{schedule.changedBy | username}}</td>
          </tr>
          <!-- If no search results -->
          <tr class="table-body__row" ng-show="schedules.items.list.length === 0 && search.query !== undefined">
            <td colspan="3" class="table-body__cell text-center"><span translate>schedules-app.list.no-results</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="border-container text-center u_margin-md-bottom" ng-if="!schedules.loadingItems && schedules.items.list.length === 0 && search.query === undefined">
    <div class="panel-body">
      <div class="form-group my-4">
        <label translate>schedules-app.list.empty</label>
      </div>
      <a id="scheduleAddButton" class="btn btn-primary btn-toolbar-wide mb-2" ui-sref="apps.schedules.add" translate>
        schedules-app.actions.new
      </a>
    </div>
  </div>

</div>
