<button id="schedule-selector" class="form-control btn-select btn-block"
  tooltip-template="'partials/schedules/schedule-selector-tooltip.html'"
  tooltip-trigger="show"
  ng-click="showTooltip($event)" 
  tooltip-animation="false"
  tooltip-placement="bottom" 
  tooltip-class="madero-style tooltip-share-options ml-0"
  tooltip-append-to-body="true"
  tooltip-digest-on-resize
>
	<span class="text-muted" ng-if="factory.selectedSchedules.length === 0">Create or select a schedule</span>
	<span ng-if="factory.selectedSchedules.length > 0">{{factory.selectedSchedules.length}} schedules selected</span>
	<span class="pull-right" ng-class="{'text-muted': factory.selectedSchedules.length === 0}"><i class="fa fa-chevron-down"></i></span>
</button>