<stretchy-input ng-model="schedule.name"></stretchy-input>

<div class="form-group mt-5 mb-4">
  <label>Schedule Details</label>
</div>

<div class="form-group">
  <label class="control-label timeline-label" translate>schedules-app.fields.timeline</label>
  <timeline-textbox
  use-localdate = "true"
  time-defined = "schedule.timeDefined"
  start-date = "schedule.startDate"
  end-date = "schedule.endDate"
  start-time = "schedule.startTime"
  end-time = "schedule.endTime"
  recurrence-type = "schedule.recurrenceType"
  recurrence-frequency = "schedule.recurrenceFrequency"
  recurrence-absolute = "schedule.recurrenceAbsolute"
  recurrence-day-of-week = "schedule.recurrenceDayOfWeek"
  recurrence-day-of-month = "schedule.recurrenceDayOfMonth"
  recurrence-week-of-month = "schedule.recurrenceWeekOfMonth"
  recurrence-month-of-year = "schedule.recurrenceMonthOfYear"
  recurrence-days-of-week = "schedule.recurrenceDaysOfWeek"
  ></timeline-textbox>
</div><!--form-group-->

<distribution-selector distribution="schedule.distribution" distribute-to-all="schedule.distributeToAll" hide-cta="true"></distribution-selector>

<div class="u_margin-md-top text-right">
  <div class="pull-left">
    <h3 class="u_remove-top" style="line-height:33px;" translate>schedules-app.playlist.title</h3>
  </div>
  <button type="button" class="btn btn-default" id="shareScheduleButton" ng-click="openSharedScheduleModal()" ng-show="schedule.id">
    Share Schedule
  </button>
  <div class="btn-group" dropdown>
    <button id="addPlaylistItemButton" type="button" dropdown-toggle class="dropdown-toggle btn btn-default">{{'schedules-app.playlist.add-playlist-item' | translate}}</button>
    <div class="dropdown-menu playlist-menu" role="menu">
      <ul>
      <li>
        <a class="u_clickable" id="addPresentationItemButton" ng-click="addPresentationItem()">
          <span translate>schedules-app.playlist.item.presentation</span>
        </a>
      </li>
      <li>
        <a class="u_clickable" id="addUrlItemButton" ng-click="addUrlItem()">
          <span translate>schedules-app.playlist.item.url</span>
        </a>
      </li>
      </ul>
    </div>
  </div>  
  <a class="btn btn-default" id="previewButton" target="_blank" ng-href="{{previewUrl}}" ng-show="previewUrl && isPreviewAvailable()">
    {{'schedules-app.actions.preview' | translate}} <i class="fa fa-play icon-right"></i>
  </a>
</div>

<playlist playlist-items="schedule.content"></playlist>
