<div id="shareSchedulePopover" ng-controller="SharedSchedulePopoverController" class="share-schedule-popover">
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
        <streamline-icon name="close" width="10" height="10"></streamline-icon>
      </button>
      <span class="text-sm font-weight-bold" ng-show="currentTab === 'link'">Share</span>
      <a class="text-sm font-weight-bold u_float-left" href="#" ng-click="currentTab = 'link'" ng-show="currentTab !== 'link'">← Go Back</a>
      <div>
        <span class="text-sm font-weight-bold aligner" ng-show="currentTab === 'chromeExtension'">Chrome Extension</span>
        <span class="text-sm font-weight-bold aligner" ng-show="currentTab === 'embedCode'">Embed</span>
      </div>
    </div>
  </div>

  <div ng-show="currentTab === 'link'" class="row u_margin-sm-top">
    <div class="col-xs-12">

      <div class="u_scroll-x text-center sideways-panels scrollbox pb-4">
        <div id="extensionButton" class="panel panel-default u_remove-bottom u_clickable" ng-click="currentTab = 'chromeExtension'">
          <div class="panel-body">
            <div class="row pt-2">
              <div class="col-xs-12">
                <img src="../images/shared-schedule/google-chrome.svg" height="32">
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-xs-12">
                <a class="text-sm font-weight-bold" href="#">Chrome Extension</a>
              </div>
            </div>
          </div>
        </div>
        <div id="embedButton" class="panel panel-default u_remove-bottom u_clickable" ng-click="currentTab = 'embedCode'">
          <div class="panel-body">
            <div class="row pt-2">
              <div class="col-xs-12">
                <img src="../images/shared-schedule/embed-icon.svg" height="32">
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-xs-12">
                <a class="text-sm font-weight-bold" href="#">Embed</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default u_remove-bottom u_clickable" ng-click="shareOnSocial('classroom')">
          <div class="panel-body">
            <div class="row pt-2">
              <div class="col-xs-12">
                <img src="../images/shared-schedule/google-classroom.svg" height="32">
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-xs-12">
                <a class="text-sm font-weight-bold" href="#">Google Classroom</a>
              </div>
            </div>
          </div>
        </div>
        <div id="twitterShareButton" class="panel panel-default u_remove-bottom u_clickable" ng-click="shareOnSocial('twitter')">
          <div class="panel-body">
            <div class="row pt-2">
              <div class="col-xs-12">
                <img src="../images/shared-schedule/twitter.svg" height="32">
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-xs-12">
                <a class="text-sm font-weight-bold" href="#">Twitter</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default u_remove-bottom u_clickable" ng-click="shareOnSocial('linkedin')">
          <div class="panel-body">
            <div class="row pt-2">
              <div class="col-xs-12">
                <img src="../images/shared-schedule/linkedin.svg" height="32">
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-xs-12">
                <a class="text-sm font-weight-bold" href="#">LinkedIn</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default u_remove-bottom u_clickable" ng-click="shareOnSocial('facebook')">
          <div class="panel-body">
            <div class="row pt-2">
              <div class="col-xs-12">
                <img src="../images/shared-schedule/facebook.svg" height="32">
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-xs-12">
                <a class="text-sm font-weight-bold" href="#">Facebook</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div ng-show="currentTab === 'link'" class="row u_margin-sm-top">
    <div class="col-xs-12 aligner">
      <input class="form-control copy-text-box w-100" type="text" readonly="readonly" value="{{getLink()}}" ng-focus="onTextFocus($event)" focus-me="currentTab === 'link'"/>
      <button type="button" id="copyUrlButton" class="btn btn-primary ml-2" ng-click="copyToClipboard(getLink())" aria-label="Copy">Copy</button>
    </div>
  </div>

  <div ng-show="currentTab === 'embedCode'" class="row u_margin-sm-top">
    <div class="col-xs-12">
      <span class="text-sm font-weight-bold">Embed Code:</span>
      <br>
      <textarea class="form-control copy-text-box u_margin-sm-top w-100 resize-vertical" rows="10" readonly="readonly" ng-focus="onTextFocus($event)" focus-me="currentTab === 'embedCode'">{{getEmbedCode()}}</textarea>
      <button type="button" id="copyEmbedCodeButton" class="btn btn-primary u_remove-left u_margin-sm-top w-100" ng-click="copyToClipboard(getEmbedCode())" aria-label="Copy">Copy</button>
    </div>
  </div>

  <div ng-show="currentTab === 'chromeExtension'" class="row u_margin-sm-top">
    <div class="col-xs-12">
      <span class="text-sm font-weight-bold">Invite Message:</span>
      <br>
      <textarea class="form-control copy-text-box u_margin-sm-top w-100 resize-vertical" rows="10" readonly="readonly" ng-focus="onTextFocus($event)" focus-me="currentTab === 'chromeExtension'">{{getInviteMessage()}}</textarea>
      <button type="button" id="copyInviteMessageButton" class="btn btn-primary u_remove-left u_margin-sm-top w-100" ng-click="copyToClipboard(getInviteMessage())" aria-label="Copy">Copy</button>
      <a id="chromeExtensionLink" class="btn btn-default u_remove-left u_margin-sm-top w-100"  href="https://chrome.google.com/webstore/detail/rise-vision-anywhere/dkoohkdagjpgjheoaaegomjhdccfbcle" target="_blank" aria-label="Install Chrome Extension" ng-click="trackScheduleShared()">Install Chrome Extension</a>
    </div>
  </div>


</div>
