<div id="app-home-container" class="full-page-flex-container madero-style" common-header-height>

<div class="scrollable-content">
	<div class="row">
		<div class="col-xs-12">
			<in-app-messages></in-app-messages>
			<weekly-templates class="hidden-xs"></weekly-templates>
		</div>
	</div>

	<div class="row">
		<div class="form-inline schedules-toolbar">
			<span class="hidden-xs pull-right action-buttons">
				<button type="button" class="btn btn-default" ng-click="showTooltipOverlay=true;">Edit Schedule</button>
				<button id="shareButton" type="button" class="btn btn-primary" tooltip-overlay="showTooltipOverlay">Share</button>
			</span>
		  	<div class="form-group">
			    <label for="schedule-selector">Preview A Schedule:</label>
			    <select id="schedule-selector" class="form-control">
			    	<option value="schedule1">Schedule #1</option>
			    	<option value="schedule2">Schedule #2</option> 
			    </select>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="schedule-embed">
		   <iframe frameborder="0" src="https://viewer-test.risevision.com/?type=sharedschedule&id=73f5b08c-1fc1-431a-8034-a452233a95d0&env=embed">
		   </iframe>
		</div>
	</div>
</div>

<div class="mobile-footer visible-xs">
	<div class="container">
	    <button type="button" class="btn btn-default btn-block">Edit Schedule</button> 
		<button type="button" class="btn btn-primary btn-block">Share</button>	
	</div>	
 </div>
</div>
