<div id="app-home-container" class="madero-style">

	<div class="row">
		<div class="col-sm-12">
			<in-app-messages></in-app-messages>
			<weekly-templates></weekly-templates>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 form-inline">
			<span class="hidden-xs pull-right action-buttons">
				<button type="button" class="btn btn-default">Edit Schedule</button>
				<button type="button" class="btn btn-primary">Share</button>
			</span>

		  	<div class="form-group">
			    <label for="schedule-selector">Preview A Schedule:</label>
			    <select id="schedule-selector" class="form-control">
			    	<option value="schedule1">Schedule #1</option>
			    	<option value="schedule2">Schedule #2</option> 
			    </select>
			</div>    
		</div>
    
	</div>

	<hr/>

	<div class="container">
		<div class="schedule-embed">
		   <iframe frameborder="0"
		      src="https://viewer-test.risevision.com/?type=sharedschedule&id=73f5b08c-1fc1-431a-8034-a452233a95d0&env=embed">
		   </iframe>
		</div>
	</div>
</div>