<div id="app-home-container" class="full-page-flex-container madero-style" common-header-height>

<div class="scrollable-content" rv-spinner rv-spinner-key="app-home-loader" rv-spinner-start-active="1">
	<div class="row">
		<div class="col-xs-12">
			<in-app-messages></in-app-messages>
			<weekly-templates class="hidden-xs"></weekly-templates>
		</div>
	</div>

	<div class="row">
		<div id="errorBox" ng-if="apiError" class="text-danger u_padding-md" role="alert">
	      <i class="fa fa-times icon-left"></i>
	      <strong>{{errorMessage}}</strong> {{apiError}}
	    </div>

		<div class="form-inline schedules-toolbar" ng-if="!apiError">
			<span class="hidden-xs pull-right action-buttons">
				<button type="button" class="btn btn-default">Edit Schedule</button>

				<script>
					var lookAtMe = document.getElementById('shareButton'),
    				hone = new Hone({
							classPrefix: 'madero-style tooltip-backdrop',
							borderRadius: 4,
							padding: '10px'
						});
				</script>

				<script type="text/ng-template" id="myTooltipTemplate.html">
					<span>
						<strong>Communicate Everywhere</strong><br>
						<span class="u_margin-md-top">
							Keep your community connected anywhere they are. Share your message to digital signage, websites, personal computers, and more.
						</span>
						<span class="u_margin-md-top">
							<a href="">Got it.</a>
						</span>
					</span>
				</script>
				<button id="shareButton" type="button" class="btn btn-primary"
				onclick="hone.position(lookAtMe);hone.show()"
				tooltip-template="'myTooltipTemplate.html'"
				tooltip-placement="bottom" 
				tooltip-class="madero-style"
				tooltip-trigger="click"
				>Share</button>
			</span>
		  	<div class="form-group">
			    <label for="schedule-selector">Preview A Schedule:</label>
			    <select id="schedule-selector" class="form-control" ng-model="selectedScheduleId"
			    	ng-options="schedule.id as schedule.name for schedule in schedules" >
			    </select>
			</div>
		</div>
	</div>

	<div class="container" ng-if="!apiError">
		<div class="schedule-embed">
		   <iframe frameborder="0" ng-src="{{getEmbedUrl(selectedScheduleId)}}">
		   </iframe>
		</div>
	</div>
</div>

<div class="mobile-footer visible-xs" ng-if="!apiError">
	<div class="container">
	    <button type="button" class="btn btn-default btn-block">Edit Schedule</button> 
		<button type="button" class="btn btn-primary btn-block">Share</button>	
	</div>	
 </div>
</div>
