<div id="apps-home-container" class="full-page-flex-container madero-style" common-header-height>

  <div class="scrollable-content" rv-spinner rv-spinner-key="apps-home-loader" rv-spinner-start-active="1">
    <div class="row">
      <div class="col-xs-12">
        <in-app-messages></in-app-messages>
        <weekly-templates class="hidden-xs"></weekly-templates>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div id="errorBox" ng-show="schedules.apiError" class="alert alert-danger" role="alert">
          <strong>{{schedules.errorMessage}}</strong> {{schedules.apiError}}
        </div>

        <div ng-show="schedules.items.list.length === 0 && !schedules.loadingItems && !schedules.apiError" class="alert alert-warning" role="alert">
          <strong>You haven't created any Schedules yet.</strong> Keep your community connected anywhere they are. Share
          your message to digital signage, websites, personal computers, and more.
          <a ui-sref="apps.schedules.add" link-cid>Add a new Schedule.</a>
        </div>
      </div>

      <div class="form-inline schedules-toolbar" ng-show="selectedSchedule">
        <span class="hidden-xs pull-right">
          <a type="button" class="btn btn-default schedules-toolbar-btn" ui-sref="apps.schedules.details({scheduleId: selectedSchedule.id})" link-cid>Edit Schedule</a>
          <ng-show ng-show="tooltipKey">
            <button id="shareButton" type="button" class="btn btn-primary schedules-toolbar-btn" 
            tooltip-overlay tooltip-template="'partials/launcher/share-tooltip.html'" tooltip-placement="bottom" tooltip-class="madero-style tooltip-guide tooltip-share-guide">
              Share
            </button>
          </ng-show>
          <share-schedule-button schedule="selectedSchedule" ng-hide="tooltipKey"></share-schedule-button>
        </span>

        <div class="form-group" preview-selector="selectedSchedule">

          <label for="preview-selector">Preview A Schedule:</label>
          <ng-show ng-hide="tooltipKey">
            <button id="preview-selector" class="form-control btn-select btn-schedule-selector flex-row"
              tooltip-template="'partials/schedules/preview-selector-tooltip.html'"
              tooltip-trigger="show"
              ng-click="toggleTooltip($event)" 
              tooltip-animation="false"
              tooltip-placement="bottom" 
              tooltip-class="madero-style tooltip-schedule-selector ml-0"
              tooltip-append-to-body="true"
              tooltip-digest-on-resize
            >
            	<div class="row-entry">
                <span class="text-muted mr-auto" ng-if="!selectedSchedule">Create or select a schedule</span>
                <span class="u_text-ellipsis mr-auto" ng-if="selectedSchedule">{{selectedSchedule.name}}</span>
              	<span class="text-muted pl-2"><i class="fa fa-sort"></i></span>
              </div>
            </button>
          </ng-show>
          <button id="preview-selector-dummy" class="form-control btn-select btn-schedule-selector flex-row" ng-show="tooltipKey">
            <div class="row-entry">
              <span class="text-muted mr-auto" ng-if="!selectedSchedule">Create or select a schedule</span>
              <span class="u_text-ellipsis mr-auto" ng-if="selectedSchedule">{{selectedSchedule.name}}</span>
              <span class="text-muted pl-2"><i class="fa fa-sort"></i></span>
            </div>
          </button>

        </div>
      </div>
    </div>

    <div class="container" ng-show="selectedSchedule">
      <div class="schedule-embed">
        <iframe frameborder="0" ng-src="{{getEmbedUrl(selectedSchedule.id)}}">
        </iframe>
      </div>
    </div>
  </div>

  <div class="mobile-footer visible-xs" ng-show="selectedSchedule">
    <div class="container">
      <a type="button" class="btn btn-default btn-block" ui-sref="apps.schedules.details({scheduleId: selectedSchedule.id})">Edit Schedule</a>
      <ng-show ng-show="tooltipKey">
        <button type="button" class="btn btn-primary btn-block" tooltip-overlay tooltip-placement="top" tooltip-class="madero-style tooltip-share-guide">Share</button>
      </ng-show>
      <share-schedule-button schedule="selectedSchedule" ng-hide="tooltipKey"></share-schedule-button>
    </div>
  </div>
</div>
