.madero-style {

  // dropdown selector button
  .btn-select {
    text-align: left;
    font-weight: normal;

    .text-muted {
      color: $madero-gray;
    }
  }

  .btn-dropdown {
    // duplicate "dropdown-menu > ul > li > a" styles
    color: $dark-gray;
    display: block;
    padding: 10px;
    margin: 0;
    background-color: white;
    border: 0;

    &:disabled {
      color: $madero-gray;
      cursor: not-allowed;
    }

    &:hover:enabled,
    &:focus:enabled {
      // duplicate "dropdown-menu > ul > li > a:hover" styles
      background-color: rgba(150, 150, 150, 0.1);
      color: $rise-blue;
      // duplicate <a> styles
      text-decoration: underline;
      text-align: left;
      width: 100%;
    }
  }

  .text-danger {
    color: $danger;
  }

  .text-gray {
    color: $mid-gray;
  }

  last-modified .text-muted {
    @extend .text-gray;
  }

  .border-bottom {
    border-bottom: 1px solid $madero-gray;
  }

  .border-top {
    border-top: 1px solid $madero-gray;
  }

  .border-container {
    border: 1px solid $madero-gray;
    border-radius: 4px;

    &.scrollable-list {
      min-height: auto;

      .list-group-item {
        @extend .border-top;

        border-radius: 0px;

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          @extend .border-bottom;

          margin-bottom: -1px !important;
        }
      }

      &.horizontal-scroll {
        overflow-x: auto;
      }

      .table>tbody>tr>td, .table>thead>tr>th {
        @extend .u_padding-md-vertical;
        @extend .u_padding-sm-horizontal;
        @extend .u_nowrap;

        .madero-checkbox {
          @extend .my-0;
        }
      }

      .table>thead>tr>th {
        font-weight: bold;
        border-bottom: 0;
      }

      .table>tbody>tr {
        @extend .border-top;

        &>td {
          border-top: none;
        }
      }
    }
  }

  .btn-danger {
    background: $danger;
    border-color: $danger;
  }

  .btn-toolbar {
    min-width: 160px;
    margin-left: auto;
  }

  .btn-toolbar-wide {
    min-width: 200px;
    margin-left: auto;
  }

  .button-toolbar {
    & > * {
      @extend .mr-3;

      &:last-child{
        @extend .mr-0;
      }      
    }
  }

  @media (max-width: 768px) {
    .button-toolbar-md-folded {
      display: block;

      .button-toolbar {
        display: block;
      }

      .btn-toolbar, .btn-toolbar-wide {
        margin-top: 1rem !important;

        width: 100%;
      }
    }
  }

  .fields-preview-panels {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-flow: column-reverse;

    @media (min-width: $screen-md) {
      display: flex;
      flex-flow: row;
      height: calc(100vh - var(--body-height));
    }

    .preview-container {
      width: 100%;
      overflow: auto;

      @media (min-width: $screen-md) {
        @extend .ml-lg-5;

        width: 100%;
        height: 100%;
      }
    }

    .fields-container {
      --sidebar-width: 450px;

      height: 100%;

      @media (min-width: $screen-md) {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: var(--sidebar-width);
        width: var(--sidebar-width);
      }
    }
  }

  .preview-embed {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
    }
  }

  &.tooltip {
    opacity: 1;

    .scrollable-list {
      min-height: 150px;
      max-height: 150px;
    }    

    &.tooltip-share-options {
      margin-left: -106px;

      .tooltip-inner {
        text-align: left;
        padding: 10px;
        border: 0px;
        box-shadow: 0px 0px 5px 0px rgba(2, 6, 32, 0.5);
        opacity: 1;
        max-width: 374px;
        width: 374px;

        .close {
          height: 10px;
          width: 10px;

          svg {
            fill: rgb(153, 153, 153);
          }
        }

        .input-group-btn {
          width: 1%;
        }
      }

      &.bottom {
        margin-top: -8px;
      }

      .tooltip-arrow {
        display: none;
      }

      &.tooltip-sm {
        .tooltip-inner {
          width: 303px;
        }
      }
    }

    &.tooltip-schedule-selector {
      @extend .tooltip-share-options;

      .tooltip-inner {
        max-width: 360px;
        width: 360px;
        padding: 15px;
        font-size: 14px;

        hr {
          border-top: 1px solid $madero-gray;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      &.bottom {
        margin-top: -9px;
      }
    }

    &.tooltip-schedule-selector {
      @extend .tooltip-share-options;

      .tooltip-inner {
        max-width: 360px;
        width: 360px;
        padding: 15px;
        font-size: 14px;

        hr {
          border-top: 1px solid $madero-gray;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      &.bottom {
        margin-top: -9px;
      }
    }
  }

  &.action-sheet {
    &.tooltip-share-options {
      padding: 20px;
      box-shadow: 0px 0px 5px 0px rgba(2, 6, 32, 0.5);

      .close {
        height: 15px;
        width: 15px;

        svg {
          fill: rgb(153, 153, 153);
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  &.tooltip-share-options {
    .sideways-panels {
      .panel {
        border-color: rgb(153, 153, 153);
        background-color: transparent;

        @extend .mr-2;

        &:last-child{
          @extend .u_remove-right;
        }

        .panel-body {
          min-width: 90px;
          padding: 10px;
        }
      }
    }

    .copy-text-box {
      background-color: $lighter-gray;
      color: $madero-gray;
      font-size: 12px;
      padding: 15px;
    }

    // from https://codepen.io/mrowa44/pen/xRpMYm
    .scrollbox {
      background:
        linear-gradient(to right, white 0%, rgba(0, 0, 0, 0)),
        linear-gradient(to right, rgba(0, 0, 0, 0), white 100%) 0 100%,
        linear-gradient(to right, black, rgba(0, 0, 0, 0) 6%),
        linear-gradient(to left, black, rgba(0, 0, 0, 0) 6%);
      background-attachment: local, local, scroll, scroll;
      background-clip: padding-box; /* fix right border on Chrome */
    }
  }

}
