<div class="flex-row multi-actions-panel u_padding-20 u_margin-md-top" ng-show="listObject.getSelected().length > 0 && !listObject.operations.isActive">
  <div class="flex-row button-toolbar-md-folded w-100">
    <div class="col-sm-5 pl-0">
      <strong>{{listObject.getSelected().length}}</strong>
      <span class="text-gray">
        {{listOperations.name}}<span ng-show="listObject.getSelected().length > 1">s</span> selected. 
        <span ng-hide="listObject.search.selectAll"><a class="madero-link u_clickable" ng-click="listObject.selectAll()"> Select all</a>.</span>
      </span>
    </div>
    <div class="col-sm-7 pl-0">
      <div>
        <label class="mr-2">Actions:</label>
        <div class="btn-group" dropdown>
          <button id="listActionsButton" type="button" dropdown-toggle class="form-control btn-select btn-toolbar-wide flex-row mt-0">
            <div class="row-entry">
              <span class="text-gray mr-auto">Choose an action</span>
              <span class="text-gray pl-2"><i class="fa fa-sort"></i></span>
            </div>
          </button>
          <div class="dropdown-menu playlist-menu" role="menu">
            <ul>
              <li ng-repeat="operation in listOperations.operations" require-role="da">
                <button type="button" class="btn-dropdown u_clickable" ng-click="operation.actionCall()">
                  <span>{{operation.name}}</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="close" ng-click="listObject.deselectAll()" data-dismiss="modal" aria-hidden="true">
    <streamline-icon name="close" width="15" height="15"></streamline-icon>
  </button>
</div>

<div class="border-container text-center u_padding-20 u_margin-md-top" ng-show="listObject.operations.isActive">
  <div class="multi-actions-progress-panel">
    <p class="mb-0"><strong>Bulk delete in progress.</strong></p>
    <p>Please don’t navigate away from this page.</p>
    <div class="progress my-4">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{listObject.operations.progress}}.0"
      aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': listObject.operations.progress + '%' }"></div>
    </div>
    <p class="mb-0">{{listObject.operations.completedItemCount}} out of {{listObject.operations.totalItemCount}} {{listObject.name | lowercase}}<span ng-show="listObject.operations.totalItemCount > 1">s</span> deleted.</p>
  </div>
</div>
