<div id="addStoreProductModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 id="storeModalTitle" class="modal-title">{{ 'editor-app.storeProduct.' + (factory.search.category === 'Content' ? 'content' : 'templates') + '.title' | translate }}</h3>
  </div>


<!-- FREE TEMPLATE -->
<div class="modal-body" style="padding: 30px;" ng-show="showDetailsFree">

  <button class="btn btn-default pull-left" ng-click=""> <i class="fa fa-reply icon-left"></i> Back to all Templates</button>
   
    <div class="row">
      <div class="col-xs-12">
          <h3> Education Landscape 2 </h3>
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-9 col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
      </div>
      <div class="col-md-3 col-xs-12">
        <a href="#" target="" class="btn btn-primary btn-lg btn-block">Start with this Template<i class="fa fa-plus icon-right"></i></a>
      </div>
    </div>

    <div class="video-box add-top">
      <img class="img-responsive" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_college2_landscape.jpg">
    </div>
  </div>

  <!-- PREMIUM TEMPLATE -->
  <div class="modal-body" style="padding: 30px" ng-show="showDetailsPremium">
    <button class="btn btn-default pull-left"> <i class="fa fa-reply icon-left"></i> Back To All Templates</button>
   
    <div class="row">
      <div class="col-xs-12">
          <h3> Restaurant Menu Board </h3>
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-9 col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
      </div>
      <div class="col-md-3 col-xs-12"><!-- 
        <button class="btn btn-primary pull-right"><i class="fa fa-info-circle icon-left icon-white"></i>Details</button> -->
        <p class="template-pricing"><span>$10</span> USD per Company</p>
        <a class="btn btn-primary btn-lg btn-block" href="https://store.risevision.com/product/166/restaurant-menu-board" target="_blank">
          View in Store <i class="fa fa-shopping-cart icon-right"></i>
        </a>
      </div>   
    </div>

    <div class="video-box add-top">
      <img class="img-responsive" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_restaurant_menu_board.png">
    </div>
  </div>

<!-- SELECTOR LIST
 -->
 <div class="modal-body padding-large" stop-event="touchend" ng-hide="showDetailsFree || showDetailsPremium" ng-show="!showDetailsFree || !showDetailsPremium">
    
    <search-filter filter-config="filterConfig" search="search" do-search="factory.doSearch"></search-filter>  

    <div class="templates">

      <div class="template-filters half-bottom">
        <ul class="list-unstyled" ng-if="factory.search.category === 'Templates'">
          <li ng-repeat="tag in productTags" ng-class="{ active : search.productTag === tag || !search.productTag && tag === 'all' }" ng-click="selectProductTag(tag)"><span>{{tag}}</span></li>
        </ul>
      </div><!--template-filters-->


      <ul id="productList" class="template-grid" 
          scrolling-list="factory.load()"
          rv-spinner rv-spinner-key="product-list-loader"
          rv-spinner-start-active="1">

      <li class="blank-template" ng-if="factory.search.category == 'Templates' && !factory.loadingItems">
        <div class="template-image">
          <a class="clickable" id="newPresentationButton" ui-sref="apps.editor.workspace.artboard" ng-click="dismiss();">
            <p><span><i class="fa fa-plus fa-2x"></i></span> {{'editor-app.storeProduct.templates.blank' | translate}}</p>
          </a>
        </div><!--template-image-->
      </li>

      <li>
        <div ng-click="showDetailsFree = !showDetailsFree" class="template-image clickable">
          <span class="show-details"></span>
          <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_college2_landscape.jpg" class="img-responsive">
        </div><!--template-image-->
          <div class="template-info">
            <a href="#" class="btn btn-primary btn-sm pull-right">
              <i class="fa fa-plus"></i>
            </a>
            <h3>Education Landscape 2</h3>
            <p>Free</p>
        </div>
      </li>

      <li>
        <div ng-click="showDetailsPremium = !showDetailsPremium" class="template-image clickable">
          <span class="show-details"></span>
          <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_restaurant_menu_board.png" class="img-responsive">
        </div><!--template-image-->
        <div class="template-info">
            <!--<a href="#" class="btn btn-default btn-sm pull-right">
              <i class="fa fa-info"></i>
            </a>-->
          <a href="#" class="btn btn-primary btn-sm pull-right">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <h3>Restaurant Menu Board</h3>
          <p>Premium</p>
        </div>
      </li>

     
      <ng-repeat ng-repeat="product in factory.items.list">
      <li class="storeProduct" ng-click="select(product)">
          <div class="template-image clickable">
            <span class="show-details"></span>
            <img ng-src="{{product.imageUrl}}" class="img-responsive">
          </div>        
          <div class="template-info">
            <a class="btn btn-primary btn-sm pull-right" ng-href="{{storeUrl}}/product/{{product.productId}}/" target="_blank" ng-click="$event.stopPropagation()"><i class="fa fa-plus"></i></a>
            <h3 id="productName">{{product.name}}</h3>
            <p id="status">{{product.paymentTerms.toLowerCase() === 'free'? 'Free' : 'Premium'}} {{product.trialPeriod > 0 ? ' - '+product.trialPeriod+' Days Trial' : ''}}</p>
          </div>
      </li>
      </ng-repeat>

      <li class="suggest-template" ng-if="factory.search.category == 'Templates' && !factory.loadingItems">
        <div class="template-image">
          <a href="https://docs.google.com/forms/d/1slHKxGxywkiSakMukDr4dMGLmhzhYhoU0F2BHP8FSd4/viewform" target="_blank">
            <h3 translate>editor-app.storeProduct.templates.cantFind</h3>
            <p translate>editor-app.storeProduct.templates.suggest</p>
          </a>
        </div>
      </li>
      </ul>

    </div>

    <a id="addWidgetByUrl" class="btn btn-default" href="#" ng-click="addWidgetByUrl()" ng-if="factory.search.category == 'Content'">
            {{'editor-app.addWidget.title' | translate}} <i class="fa fa-code icon-right"></i>
        </a>
    
  </div>
</div>