<div id="checkout-success" class="checkout-centered-panel">
  <h4 class="u_margin-md-bottom">A great big thank you!</h4>
  <p class="u_margin-md-bottom">
    We’ve sent a confirmation email to <b>{{purchase.contact.email}}</b>.
  </p>
  <p>
    <b>Details:</b><br />
    You’ve purchased a subscription to <b>{{purchase.plan.name}}</b>.<br />
    You will be 
    <span ng-show="paymentMethods.paymentMethod === 'invoice'">invoiced</span>
    <span ng-show="paymentMethods.paymentMethod === 'card'">charged</span>
    <b>${{purchase.estimate.total | number:2}}</b>.
  </p>
  <div class="button-row mt-5">
    <button id="doneButton" class="btn btn-primary btn-block" ng-click="close()" aria-label="Done" tabindex="1">Continue</button>
  </div>
</div>
