<div ng-show="taxExemption.show && !taxExemption.sent">
  <form id="form.taxExemptionForm" role="form" name="form.taxExemptionForm" novalidate>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group" ng-class="{ 'has-error': isFieldInvalid('number') }">
          <label for="number" class="control-label">Tax Exemption Number: *</label>
          <input name="number" id="number" type="text" class="form-control" ng-model="taxExemption.number" tabindex="1" maxlength="25" required>
          <span class="text-danger" ng-show="isFieldInvalid('number')">
            Choose a Tax Exemption Number.
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group mb-0">
          <label for="fileName" class="control-label">Tax Exemption Document (Image or PDF only): *</label>
          <input id="inputExemption" type="file" accept="application/pdf,image/*" onchange="angular.element(this).scope().setFile(this)" style="display:none">
          <div class="flex-row" ng-show="taxExemption.file.name">
            <div class="u_ellipsis">{{taxExemption.file.name}}</div>
            <div class="ml-auto"><a aria-label="Remove Tax Exemption File" class="madero-link u_clickable text-danger font-weight-bold" ng-click="removeFile()" tabindex="1">Remove</a></div>
          </div>
          <button name="selectFile" id="selectFile" type="button" ng-click="selectFile()" aria-label="Attach Tax Exemption File" tabindex="1" class="btn btn-default btn-block" ng-show="!taxExemption.file.name">Attach File</button>
        </div>
      </div>
    </div>
  </form>

  <div class="madero-style alert alert-danger u_margin-md-top" ng-show="taxExemption.error">
    {{taxExemption.error}}
  </div>

  <div ng-if="!showCancel">
    <button id="submitButton" type="submit" form="form.taxExemptionForm" ng-click="submit()" aria-label="Submit Tax Exemption" tabindex="1" class="btn btn-default btn-block u_margin-md-top" ng-show="taxExemption.file.name">Submit Tax Exemption</button>
  </div>

  <div class="flex-row u_margin-md-top" ng-if="showCancel">
    <button id="cancelButton" type="button" ng-click="taxExemption.show = false" aria-label="Cancel" tabindex="2" class="btn btn-default flex-1 mr-3">Cancel</button>
    <button id="applyButton" type="submit" form="form.taxExemptionForm" ng-click="submit()" aria-label="Apply Tax Exemption" tabindex="1" class="btn btn-primary flex-1" ng-disabled="!taxExemption.file.name">Apply</button>
  </div>
</div>
