<div class="brandscript-clients">
  <strong>Top Organizations Trust Rise Vision</strong>
  <div class="flex-row w-100 mt-4 mb-5">
    <img class="" src="../images/sign-up/marriott-logo.png" alt="Marriott Hotels" height="42">
    <img class=" mx-4" src="../images/sign-up/cps-logo.png" alt="Chicago Public Schools" height="42">
    <img class="" src="../images/sign-up/eagles-logo.png" alt="Philadelphia Eagles" height="42">
  </div>
  <ul class="features-checklist">
    <li><streamline-icon name="checkmark"></streamline-icon>Fraction of the cost of competitors.</li>
    <li><streamline-icon name="checkmark"></streamline-icon>Hundreds of professionally-designed templates.</li>
    <li><streamline-icon name="checkmark"></streamline-icon>No contract, cancel anytime.</li>
    <li><streamline-icon name="checkmark"></streamline-icon>Unlimited, premium support.</li>
  </ul>
</div>