<div class="border-container mx-auto">
  <div class="panel-body">

    <h4>Password Reset</h4>
    <!-- CUSTOM LOGIN -->

    <!-- ERROR PANEL -->
    <div class="panel-body bg-info u_margin-lg-top" ng-show="emailSent">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span>An email with password reset instructions has been sent to your email inbox (if it exists in our system).</span> 
      </p>
    </div>
    <div class="panel-body bg-danger u_margin-lg-top" ng-show="isGoogleAccount">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span>This account is authenticated by Google.<br/>
        <a href="https://myaccount.google.com/security#signin" target="_blank">Change your password on your Google account.</a></span>
      </p>
    </div>

    <form id="requestResetForm" role="form" name="forms.requestResetForm" novalidate ng-show="!emailSent">
      <div class="u_margin-md-top">
        <div class="form-group" ng-class="{'has-error': (forms.requestResetForm.$submitted && forms.requestResetForm.username.$invalid)}" show-errors>
          <label class="control-label">Email:</label>
          <input type="text" class="form-control" name="username" ng-model="credentials.username" placeholder="example@email.com" required focus-me="true">
          <p class="text-danger" ng-show="forms.requestResetForm.$submitted && forms.requestResetForm.username.$invalid">
            Please enter an Email
          </p>
        </div>

        <button class="btn btn-primary btn-hg btn-block" ng-disabled="forms.requestResetForm.$invalid" ng-click="requestPasswordReset()">Email Me Reset Instructions</button>
      </div>
    </form>

  </div>
</div><!--panel-->	

<div class="align-center u_margin-md-top">
  <a class="madero-link" id="sign-in-link" ui-sref="common.auth.unauthorized">Go back to the sign in page</a>.
</div>
