<div id="breakLinkModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title"> Warning! </h3><!-- translate -->
  </div>
  <div class="modal-body" stop-event="touchend" autofocus="autofocus">
   <div>
    <p>Modifying these file(s) or folder(s) will break all links with existing Presentations.</p>
    <p>If you are using this asset in any Presentation, the link for each must be manually updated in Editor.</p>
   </div>
  </div>
  <div class="modal-footer">
      <label type="checkbox"></label>
      <button id="renameFileFolderModalSaveButton" class="btn btn-primary btn-fixed-width" ng-click="cancel()"> 
        <span>Proceed</span> <i class="fa fa-white fa-check icon-right"></i>
      </button>
      <button id="renameFileFolderModalCancelButton" class="btn btn-default btn-fixed-width" ng-click="cancel()">
        <span>Cancel</span> <i class="fa fa-white fa-times icon-right"></i>
      </button>
  </div>
</div>
