<div class="row">
  <div class="col-xs-12 u_margin-sm-top u_margin-sm-bottom">
  	<div class="alert alert-danger u_margin-xs-bottom" ng-show="!flipHide" ng-click="flipHide=true">
    Duplication unsuccessful.  Please try again.
    </div>
    <div class="alert alert-danger u_margin-xs-bottom" ng-show="flipHide" ng-click="flipHide=false">
    <strong>API Error:</strong>
    </div>
  </div>
</div>

<div class="panel" ng-show="!trialAvailable">
  <div class="scrollable-list" 
  rv-spinner rv-spinner-key="storage-selector-loader"
  rv-spinner-start-active="1" >
    <ng-include src="'partials/storage/list-view.html'" ng-if="isListView"></ng-include>
    <ng-include src="'partials/storage/grid-view.html'" ng-if="!isListView"></ng-include>
    
    <ng-include src="'partials/storage/empty-state.html'" ng-show="!filesFactory.loadingItems && isEmptyState()"></ng-include>
  </div>	
</div>
