<div class="row">
  <div class="col-xs-12 u_margin-sm-top">
	<div class="alert alert-warning">
  <button type="button" class="close" style="padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    font-size: 21px;
    position: relative;
    top: -21px;
    right: -10px;" close="closeAlert($index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Duplication unsuccessful.  Please try again.</div>
  </div>
</div>

<div class="panel" ng-show="!trialAvailable">
  <div class="scrollable-list" 
  rv-spinner rv-spinner-key="storage-selector-loader"
  rv-spinner-start-active="1" >
    <ng-include src="'partials/storage/list-view.html'" ng-if="isListView"></ng-include>
    <ng-include src="'partials/storage/grid-view.html'" ng-if="!isListView"></ng-include>
    
    <ng-include src="'partials/storage/empty-state.html'" ng-show="!filesFactory.loadingItems && isEmptyState()"></ng-include>
  </div>	
</div>
