 <label class="btn btn-default pull-right">
        <i class="fa fa-lg fa-th-large"></i>
 </label>

<!-- <div class="btn-group">
	<a id="gridViewSelector" class="btn btn-default" ng-class="{active: !isListView}" ng-click="toggleListView()" ng-disabled="!subscriptionStatus.subscribed"><i class="fa fa-lg fa-th-large"></i></a>
	<a id="listViewSelector" class="btn btn-default" ng-class="{active: isListView}" ng-click="toggleListView()" ng-disabled="!subscriptionStatus.subscribed"><i class="fa fa-lg fa-th-list"></i></a>
</div> -->
<!-- <div class="" data-toggle="buttons">
    <label class="btn btn-toggle btn-success active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked>
        <i class="fa fa-check"></i> 
    </label>
    <label class="btn btn-toggle btn-danger">
        <input type="radio" name="options" id="option2" autocomplete="off">
        <i class="fa fa-warning"></i> 
    </label>
</div> -->
<!-- 
<style>
.btn-toggle.active {                
	display: none;		
}

.btn-toggle span:nth-of-type(1)  {            	
	display: none;
}
.btn-toggle  span:last-child  {            	
	display: block;		
}

.btn-toggle.active span:nth-of-type(1)  {            	
	display: block;		
}
.btn-toggle.active span:last-child  {            	
	display: none;			
}
</style>

<script>
var $button = $('#myToggleButton'),
$body = $('body');

$button.on('click', function () {
  $button.toggleClass('active');
  
  $body.append([
    '<div>',
    'Button is ',
    $button.hasClass('active') ? 
      'activated':
      'deactivated',
    '</div>'
  ].join(''));
});
</script> -->