<div class="madero-style">
  <div class="app-header u_padding-20-vertical mb-5 border-bottom">
    <!-- App Title -->
    <h1 class="app-header-title">Add Payment Method</h1>
  </div>

  <div rv-spinner rv-spinner-key="payment-source-loader" rv-spinner-start-active="1"></div>

  <div id="errorBox" ng-show="subscriptionFactory.apiError" class="madero-style alert alert-danger" role="alert">
    <strong>{{subscriptionFactory.apiError}}</strong>
  </div>

  <div id="errorBox" ng-show="addPaymentSourceFactory.apiError" class="madero-style alert alert-danger" role="alert">
    <strong>{{addPaymentSourceFactory.apiError}}</strong>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="u_margin-md-bottom">Payment Method</h4>

      <form id="form.paymentMethodsForm" role="form" name="form.paymentMethodsForm" novalidate>
        <payment-method-form form-object="form.paymentMethodsForm" show-invoice-option="subscriptionFactory.getItemSubscription().billing_period_unit !== 'month' && !subscriptionFactory.isInvoiced()" contact-email="contactEmail"></payment-method-form>
      </form>

      <div class="row button-row text-right mt-4">
        <div class="col-md-3 px-0">
          <a id="backButton" type="button" aria-label="Go back" class="btn btn-default btn-hg btn-block" ui-sref="apps.billing.subscription({subscriptionId: subscriptionFactory.getItemSubscription().id})" translate>common.back</a>
        </div>
        <div class="col-md-6 col-md-offset-3 px-0">
          <button id="addButton" type="submit" class="btn btn-primary btn-hg btn-block" form="form.paymentMethodsForm" ng-click="addPaymentMethod(subscriptionFactory.getItemSubscription().id)" tabindex="1" aria-label="Add Payment Method">
            Add Payment Method
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 border-top">
    <purchase-footer></purchase-footer>
  </div>

</div><!--container-->
