<div class="madero-style">
  <div class="app-header u_padding-20-vertical mb-5 border-bottom">
    <!-- App Title -->
    <h1 class="app-header-title">Account & Billing</h1>
  </div>

  <div rv-spinner rv-spinner-key="billing-loader" rv-spinner-start-active="1">

    <div class="form-group mt-5 mb-4">
      <label>Billing Settings</label>
    </div>

    <div class="border-container" require-role="ua">
      <div class="panel-body">
        <div class="flex-row form-group mb-0">
          <div class="row-entry">
            <label class="control-label pull-left mb-0">Billing Email:</label>
            <div class="mx-5">
              <span ng-show="company.billingContactEmails">{{company.billingContactEmails.join(', ')}}</span>
              <span ng-show="!company.billingContactEmails">Not set. Please enter a billing email.</span>
            </div>

            <span class="ml-auto">
              <a class="madero-link u_clickable" ng-click="companySettingsFactory.openCompanySettings()">Edit</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-5 mb-4">
      <label>Subscriptions</label>
    </div>

    <div id="errorBox" ng-show="subscriptions.apiError" class="madero-style alert alert-danger" role="alert">
      <p><strong>{{subscriptions.errorMessage}}</strong></p>
      {{subscriptions.apiError}}
    </div>

    <div id="errorBoxChargebee" ng-show="chargebeeFactory.apiError" class="madero-style alert alert-danger" role="alert">
      <span ng-show="chargebeeFactory.apiError === 403">
        <span ng-show="currentPlan.parentPlanContactEmail" translate translate-values="{ parentPlanContactEmail: currentPlan.parentPlanContactEmail }">account-and-billing.errors.403-contact-email</span>
        <span ng-hide="currentPlan.parentPlanContactEmail" translate>account-and-billing.errors.403-no-contact-email</span>
      </span>
      <span ng-hide="chargebeeFactory.apiError === 403">{{chargebeeFactory.apiError}}</span>
    </div>

    <div class="scrollable-list horizontal-scroll border-container u_margin-md-top u_margin-md-bottom" scrolling-list="subscriptions.load()">

      <table id="subscriptionsListTable" class="table">
        <thead class="table-header">
          <tr class="table-header__row">
            <th class="table-header__cell col-xs-4">Subscription</th>
            <th class="table-header__cell col-xs-4">Status</th>
            <th class="table-header__cell col-xs-4">Ship To</th>
            <!-- <th class="table-header__cell col-xs-4">Price</th> -->
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-body__row" ng-repeat="subs in subscriptions.items.list">
            <td class="table-body__cell font-weight-bold">
              {{getSubscriptionDesc(subs)}}
            </td>
            <td class="table-body__cell">
              <span ng-class="{ 'text-success': isActive(subs), 'text-danger': isSuspended(subs) || isCancelled(subs) }">
                {{subs.status}}
              </span>
            </td>
            <td class="table-body__cell">
              {{subs.shipToName}}
            </td>
            <!-- <td>${{getSubscriptionPrice(subs) | number:2}}</td> -->
            <td class="table-body__cell">
              <a class="madero-link u_clickable" ng-click="editSubscription(subs)" ng-if="subs.billToId === company.id">Edit</a>
              <span ng-if="subs.billToId !== company.id">Managed by Parent</span>
            </td>
          </tr>

          <tr ng-show="subscriptions.items.list.length === 0">
            <td colspan="6" class="text-center"><span translate>You haven't Subscribed to any Products yet.</span></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="form-group mt-5 mb-4">
      <label>Billing History</label>
    </div>

    <div id="errorBox" ng-show="invoices.apiError" class="madero-style alert alert-danger" role="alert">
      <p><strong>{{invoices.errorMessage}}</strong></p>
      {{invoices.apiError}}
    </div>

    <div id="errorBox" ng-show="billingFactory.apiError" class="madero-style alert alert-danger" role="alert">
      <strong>{{billingFactory.apiError}}</strong>
    </div>

    <div class="scrollable-list horizontal-scroll border-container u_margin-md-top u_margin-md-bottom" scrolling-list="invoices.load()">

      <table id="invoicesListTable" class="table">
        <thead class="table-header">
          <tr class="table-header__row">
            <th class="table-header__cell col-xs-1">Status</th>
            <th class="table-header__cell col-xs-1">Date</th>
            <th class="table-header__cell col-xs-2">Description</th>
            <th class="table-header__cell col-xs-5">Amount</th>
            <th class="table-header__cell col-xs-2">Invoice</th>
            <th class="table-header__cell col-xs-1">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-body__row" ng-repeat="item in invoices.items.list">
            <td class="table-body__cell">
              <streamline-icon class="status unpaid" name="exclamation" width="5" height="15" ng-show="item.invoice.status !== 'paid'"></streamline-icon>
              <streamline-icon class="status paid" name="checkmark" width="17" height="14" ng-show="item.invoice.status === 'paid'"></streamline-icon>
            </td>
            <td class="table-body__cell">{{item.invoice.date * 1000 | date:'d-MMM-yyyy'}}</td>
            <td class="table-body__cell font-weight-bold">
              Invoice #{{item.invoice.id}}
            </td>
            <td class="table-body__cell">
              ${{item.invoice.total / 100 | number:2}}
            </td>
            <td class="table-body__cell">
              <a class="madero-link u_clickable" ng-click="billingFactory.downloadInvoice(item.invoice.id)">
                <img src="../images/icon-download.svg" width="20" height="20">
              </a>
            </td>
            <td class="table-body__cell py-0">
              <a class="btn btn-default btn-pay-now" ng-if="item.invoice.status !== 'paid'" ui-sref="apps.billing.invoice({invoiceId: item.invoice.id})">Pay Now</a>
            </td>
          </tr>

          <tr ng-show="invoices.items.list.length === 0 && invoices.items.list.length === 0">
            <td colspan="6" class="text-center"><span translate>You do not have any invoices yet.</span></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="form-group mt-5 mb-4">
      <label>Payment Methods</label>
    </div>

    <div class="border-container">
      <div class="panel-body">
        <a class="madero-link u_clickable" ng-click="editPaymentMethods()">Edit Payment Methods</a>
      </div>
    </div>

    <div class="u_margin-lg text-center">
      <label>Need help with something?</label>
      <p><a class="madero-link" href="https://help.risevision.com/hc/en-us/articles/360041149991-Payment-instructions-and-common-questions-" target="_blank">Common Billing & Payment Questions</a></p>
    </div>

  </div><!--container-->
</div><!--appLauncherContainer-->
