<div class="row">
  <div class="col-md-4">
    <label class="mb-0 u_nowrap">PO Number:</label>
  </div>
  <div class="col-md-8">
    <span ng-show="!item.po_number && !editPoNumber">
      <a aria-label="Add PO Number" class="madero-link u_clickable" tabindex="1" ng-click="editPoNumber = true">Add</a>
    </span>
    <span ng-show="item.po_number && !editPoNumber" class="flex-row">
      <span class="mr-2 u_ellipsis">
      {{item.po_number}}
      </span>
      <a aria-label="Edit PO Number" class="madero-link u_clickable" tabindex="1" ng-click="editPoNumber = true">Edit</a>
    </span>
    <span ng-show="editPoNumber">
      <a aria-label="Cancel PO Number" class="madero-link u_clickable" ng-click="hideEditForm()" tabindex="1">Cancel</a>
    </span>
  </div>
</div>
<div class="row" ng-if="editPoNumber">
  <div class="col-md-12">
    <div class="flex-row">
      <input id="po-number" aria-required="false" type="text" class="form-control mr-3" name="poNumber" ng-model="item.poNumber" ng-value="item.po_number" maxlength="100">
      <button id="update-po-number" type="button" aria-label="Update PO Number" class="btn btn-default" ng-click="updatePoNumber()">Update</button>
    </div>
  </div>
</div>
