<div class="madero-style">

  <div class="row my-5">
    <div class="col-xs-12 col-sm-2 pb-5 pb-md-0">
      <div class="rise-logo"><img src="https://s3.amazonaws.com/Rise-Images/Website/rise-logo.svg"></div>
    </div>

    <div class="col-xs-12 col-sm-10">
      <div class="button-row text-right my-0">
        <share-url-button class="btn btn-default btn-toolbar mr-2"></share-url-button>
        <button id="downloadButton" type="button" class="btn btn-default btn-toolbar mr-2" ng-click="invoiceFactory.downloadInvoice(invoiceFactory.invoice.id)">
          Download
        </button>
        <button id="payNowButton" type="button" class="btn btn-primary btn-toolbar" ng-click="showPaymentForm = true" ng-disabled="showPaymentForm" ng-hide="invoiceFactory.invoice.status === 'paid'">
          Pay Now
        </button>
      </div>
    </div>
  </div>

  <div rv-spinner rv-spinner-key="invoice-loader" rv-spinner-start-active="1"></div>

  <div id="errorBox" ng-show="invoiceFactory.apiError" class="madero-style alert alert-danger" role="alert">
    <strong>{{invoiceFactory.apiError}}</strong>
  </div>

  <div class="border-container u_margin-md-top u_margin-md-bottom" ng-show="showPaymentForm && invoiceFactory.invoice.status !== 'paid'">
    <div class="panel-body">

      <form id="form.paymentMethodsForm" role="form" name="form.paymentMethodsForm" novalidate>

        <credit-card-form form-object="form.paymentMethodsForm"></credit-card-form>

      </form>

      <div class="text-right mt-5">
        <button id="cancelButton" type="button" aria-label="Cancel" class="btn btn-default btn-toolbar pull-left" ng-click="showPaymentForm = false">Cancel</button>
        <button id="payButton" type="submit" class="btn btn-primary btn-toolbar-wide" form="form.paymentMethodsForm" ng-click="completeCardPayment()" tabindex="1" aria-label="Complete Payment">
          <span id="payLabel">Pay ${{invoiceFactory.invoice.amount_due / 100 | number:2}} Now</span>
        </button>
      </div>

    </div>
  </div>

  <div class="border-container u_margin-md-top u_margin-md-bottom">
    <div class="panel-body">
      <div class="pb-5 mb-5 border-bottom">
        <div class="row">
          <div class="col-sm-12 col-md-6 pb-4 pb-lg-0">
            <div class="app-header mb-3">
              <!-- App Title -->
              <h1 class="app-header-title">Invoice #{{invoiceFactory.invoice.id}}</h1>
            </div>
            <label>Billed To:</label><br>
            <span ng-show="invoiceFactory.invoice.billing_address.first_name || invoiceFactory.invoice.billing_address.last_name">
              {{invoiceFactory.invoice.billing_address.first_name}} {{invoiceFactory.invoice.billing_address.last_name}}<br>
            </span>
            {{invoiceFactory.invoice.billing_address.company}}<br>
            {{invoiceFactory.invoice.billing_address.line1}}<br> 
            <span ng-show="invoiceFactory.invoice.billing_address.line2">
              {{invoiceFactory.invoice.billing_address.line2}}
              <br>
            </span>
            {{invoiceFactory.invoice.billing_address.city}}, <span ng-show="invoiceFactory.invoice.billing_address.state">{{invoiceFactory.invoice.billing_address.state}},</span> {{invoiceFactory.invoice.billing_address.zip}}<br> 
            {{invoiceFactory.invoice.billing_address.country | countryName}}<br>
            <span ng-show="invoiceFactory.invoice.billing_address.email">
              {{invoiceFactory.invoice.billing_address.email}}<br>
            </span>
            <span ng-show="invoiceFactory.invoice.billing_address.phone">
              {{invoiceFactory.invoice.billing_address.phone}}<br>
            </span>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="app-header mb-3" ng-show="invoiceFactory.invoice.status === 'paid'">
              <!-- App Title -->
              <h1 class="app-header-title text-success">Paid</h1>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label class="mb-0">Invoice Date:</label>
              </div>
              <div class="col-md-8" ng-show="invoiceFactory.invoice.date">
                {{invoiceFactory.invoice.date * 1000 | date:'d-MMM-yyyy'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="mb-0">Invoice Amount:</label>
              </div>
              <div class="col-md-8" ng-show="invoiceFactory.invoice">
                ${{invoiceFactory.invoice.total / 100 | number:2}} {{invoiceFactory.invoice.currency_code}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="mb-0">Customer ID:</label>
              </div>
              <div class="col-md-8">
                {{invoiceFactory.invoice.customer_id}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="mb-0">Payment Terms:</label>
              </div>
              <div class="col-md-8">
                <span ng-show="invoiceFactory.invoice.net_term_days > 0">
                  Net {{invoiceFactory.invoice.net_term_days}}
                </span>
                <span ng-show="invoiceFactory.invoice.net_term_days === 0">
                  Due Upon Receipt
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="mb-0">Due Date:</label>
              </div>
              <div class="col-md-8" ng-show="invoiceFactory.invoice.due_date">
                {{invoiceFactory.invoice.due_date * 1000 | date:'d-MMM-yyyy'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="mb-0">Billing Period:</label>
              </div>
              <div class="col-md-8" ng-show="invoiceFactory.invoice.line_items[0]">
                {{invoiceFactory.invoice.line_items[0].date_from * 1000 | date:'d-MMM-yyyy'}} — {{invoiceFactory.invoice.line_items[0].date_to * 1000 | date:'d-MMM-yyyy'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="mb-0">Next Billing Date:</label>
              </div>
              <div class="col-md-8" ng-show="invoiceFactory.invoice.line_items[0]">
                {{invoiceFactory.invoice.line_items[0].date_to * 1000 | date:'d-MMM-yyyy'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="mb-0">PO:</label>
              </div>
              <div class="col-md-8">
                <span ng-show="!invoiceFactory.invoice.po_number && !editPoNumber">
                  <a aria-label="Add PO Number" class="madero-link u_clickable" tabindex="1" ng-click="editPoNumber = true">Add</a>
                </span>
                <span ng-show="invoiceFactory.invoice.po_number && !editPoNumber">
                  <span class="mr-2">
                  {{invoiceFactory.invoice.po_number}}
                  </span>
                  <a aria-label="Edit PO Number" class="madero-link u_clickable" tabindex="1" ng-click="editPoNumber = true">Edit</a>
                </span>
                <span ng-show="editPoNumber">
                  <a aria-label="Cancel PO Number" class="madero-link u_clickable" ng-click="hideEditForm()" tabindex="1">Cancel</a>
                </span>
              </div>
            </div>
            <div class="row" ng-if="editPoNumber">
              <div class="col-md-12">
                <div class="flex-row">
                  <input id="po-number" aria-required="false" type="text" class="form-control mr-3" name="poNumber" ng-model="invoiceFactory.invoice.poNumber" ng-value="invoiceFactory.invoice.po_number">
                  <button id="update-po-number" type="button" aria-label="Update PO Number" class="btn btn-default" ng-click="updatePoNumber()">Update</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="pb-5 mb-5 border-bottom" ng-show="invoiceFactory.invoice.line_items">
        <div class="text-right" ng-repeat="line_item in invoiceFactory.invoice.line_items">
          <label class="mb-0 pull-left">{{line_item.description}}</label>
          ${{line_item.amount / 100 | number:2}}
        </div>
      </div>

      <div ng-show="invoiceFactory.invoice">
        <div class="row">
          <div class="col-md-offset-8 col-md-4">
            <div class="pb-3 mb-3 border-bottom" ng-hide="invoiceFactory.invoice.sub_total === invoiceFactory.invoice.total">
              <div class="text-right">
                <span class="pull-left">Sub Total:</span>
                <span>
                  ${{invoiceFactory.invoice.sub_total / 100 | number:2}}
                </span>
              </div>
              <div class="text-right mt-3" ng-repeat="discount in invoiceFactory.invoice.discounts">
                <span class="pull-left">{{discount.description}}:</span>
                <span>
                  -${{discount.amount / 100 | number:2}}
                </span>
              </div>
              <div class="text-right mt-3" ng-repeat="tax in invoiceFactory.invoice.taxes">
                <span class="pull-left">{{tax.description}}:</span>
                <span>
                  ${{tax.amount / 100 | number:2}}
                </span>
              </div>

            </div>

            <div class="text-right">
              <label class="mb-0 pull-left">Total:</label>
              <label class="mb-0">
                ${{invoiceFactory.invoice.total / 100 | number:2}}
              </label>
            </div>
            <div class="text-right mt-3" ng-show="invoiceFactory.invoice.amount_paid">
              <span class="mb-0 pull-left">Payment:</span>
              <span class="mb-0">
                -${{invoiceFactory.invoice.amount_paid / 100 | number:2}}
              </span>
            </div>
            <div class="text-right mt-3" ng-show="invoiceFactory.invoice.credits_applied">
              <span class="mb-0 pull-left">Credits:</span>
              <span class="mb-0">
                -${{invoiceFactory.invoice.credits_applied / 100 | number:2}}
              </span>
            </div>

            <div class="text-right mt-3 border-top">
              <h4>
                <span class="pull-left">Amount Due:</span>
                ${{invoiceFactory.invoice.amount_due / 100 | number:2}}
              </h4>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <purchase-footer></purchase-footer>

</div><!--container-->
