<div class="madero-style">

  <div class="button-row text-right mt-5">
    <button id="shareButton" type="button" class="btn btn-default btn-toolbar mr-2">
      Share
    </button>
    <button id="downloadButton" type="button" class="btn btn-default btn-toolbar mr-2" ng-click="billingFactory.downloadInvoice(billingFactory.invoice.id)">
      Download
    </button>
    <button id="payNowButton" type="button" class="btn btn-primary btn-toolbar">
      Pay Now
    </button>
  </div>

  <div rv-spinner rv-spinner-key="invoice-loader" rv-spinner-start-active="1">
    <div id="errorBox" ng-show="billingFactory.apiError" class="madero-style alert alert-danger" role="alert">
      <strong>{{billingFactory.apiError}}</strong>
    </div>

    <div class="border-container u_margin-md-top u_margin-md-bottom">
      <div class="panel-body">
        <div class="app-header mb-3">
          <!-- App Title -->
          <h1 class="app-header-title">Invoice #{{billingFactory.invoice.id}}</h1>
        </div>

        <div class="pb-5 mb-5 border-bottom">
          <div class="row">
            <div class="col-sm-12 col-md-6 pb-4 pb-lg-0">
              <label>Billed To:</label><br>
              <span ng-show="billingFactory.invoice.billing_address.first_name || billingFactory.invoice.billing_address.last_name">
                {{billingFactory.invoice.billing_address.first_name}} {{billingFactory.invoice.billing_address.last_name}}<br>
              </span>
              {{billingFactory.invoice.billing_address.company}}<br>
              {{billingFactory.invoice.billing_address.line1}}<br> 
              <span ng-show="billingFactory.invoice.billing_address.line2">
                {{billingFactory.invoice.billing_address.line2}}
                <br>
              </span>
              {{billingFactory.invoice.billing_address.city}}, <span ng-show="billingFactory.invoice.billing_address.state">{{billingFactory.invoice.billing_address.state}},</span> {{billingFactory.invoice.billing_address.zip}}<br> 
              {{billingFactory.invoice.billing_address.country | countryName}}<br>
              <span ng-show="billingFactory.invoice.billing_address.email">
                {{billingFactory.invoice.billing_address.email}}<br>
              </span>
              <span ng-show="billingFactory.invoice.billing_address.phone">
                {{billingFactory.invoice.billing_address.phone}}<br>
              </span>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <label class="mb-0">Invoice Date:</label>
                </div>
                <div class="col-md-8" ng-show="billingFactory.invoice.date">
                  {{billingFactory.invoice.date * 1000 | date:'d-MMM-yyyy'}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="mb-0">Invoice Amount:</label>
                </div>
                <div class="col-md-8" ng-show="billingFactory.invoice">
                  ${{billingFactory.invoice.total / 100 | number:2}} {{billingFactory.invoice.currency_code}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="mb-0">Customer ID:</label>
                </div>
                <div class="col-md-8">
                  {{billingFactory.invoice.customer_id}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="mb-0">Payment Terms:</label>
                </div>
                <div class="col-md-8">
                  <span ng-show="billingFactory.invoice.net_term_days > 0">
                    Net {{billingFactory.invoice.net_term_days}}
                  </span>
                  <span ng-show="billingFactory.invoice.net_term_days === 0">
                    Due Upon Receipt
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="mb-0">Due Date:</label>
                </div>
                <div class="col-md-8" ng-show="billingFactory.invoice.due_date">
                  {{billingFactory.invoice.due_date * 1000 | date:'d-MMM-yyyy'}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="mb-0">Billing Period:</label>
                </div>
                <div class="col-md-8" ng-show="billingFactory.invoice.line_items[0]">
                  {{billingFactory.invoice.line_items[0].date_from * 1000 | date:'d-MMM-yyyy'}} — {{billingFactory.invoice.line_items[0].date_to * 1000 | date:'d-MMM-yyyy'}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="mb-0">Next Billing Date:</label>
                </div>
                <div class="col-md-8" ng-show="billingFactory.invoice.line_items[0]">
                  {{billingFactory.invoice.line_items[0].date_to * 1000 | date:'d-MMM-yyyy'}}
                </div>
              </div>
              <div class="row" ng-show="billingFactory.invoice.po_number">
                <div class="col-md-4">
                  <label class="mb-0">PO:</label>
                </div>
                <div class="col-md-8">
                  {{billingFactory.invoice.po_number}}
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="pb-5 mb-5 border-bottom" ng-show="billingFactory.invoice.line_items">
          <div class="text-right" ng-repeat="line_item in billingFactory.invoice.line_items">
            <label class="mb-0 pull-left">{{line_item.description}}</label>
            ${{line_item.amount / 100 | number:2}}
          </div>
        </div>

        <div ng-show="billingFactory.invoice">
          <div class="row">
            <div class="col-md-offset-8 col-md-4">
              <div class="text-right">
                <label class="mb-0 pull-left">Total:</label>
                <label class="mb-0">
                  ${{billingFactory.invoice.total / 100 | number:2}}
                </label>
              </div>
              <div class="text-right mt-3">
                <h4>
                  <span class="pull-left">Amount Due:</span>
                  ${{billingFactory.invoice.amount_due / 100 | number:2}}
                </h4>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div ng-include="'partials/purchase/purchase-footer.html'"></div>


  </div><!--container-->
</div><!--appLauncherContainer-->
