<div class="madero-style">
  <div class="app-header u_padding-20-vertical mb-5 border-bottom">
    <!-- App Title -->
    <h1 class="app-header-title">Subscription</h1>
  </div>

  <div rv-spinner rv-spinner-key="subscription-loader" rv-spinner-start-active="1">

  <div id="errorBox" ng-show="subscriptionFactory.apiError" class="madero-style alert alert-danger" role="alert">
    <strong>{{subscriptionFactory.apiError}}</strong>
  </div>

  <div id="errorBox" ng-show="paymentSourcesFactory.apiError" class="madero-style alert alert-danger" role="alert">
    <strong>{{paymentSourcesFactory.apiError}}</strong>
  </div>

  <h4 class="u_margin-md-bottom">
    {{subscriptionFactory.getItemSubscription() | subscriptionDescription}} — 
    <span class="u_capitalize" ng-class="{ 'text-success': subscriptionFactory.getItemSubscription().status === 'active', 'text-danger': subscriptionFactory.getItemSubscription().status === 'suspended' || subscriptionFactory.getItemSubscription().status === 'cancelled' }">
      {{subscriptionFactory.getItemSubscription().status}}
    </span>
  </h4>

  <div class="row subscription-card-row">
    <div class="col-md-4 col-xs-12">
      <div class="border-container subscription-card">
        <div class="panel-body">
          <label>{{getPlanName(subscriptionFactory.getItemSubscription())}}</label>
          <h1 ng-show="isVolumePlan(subscriptionFactory.getItemSubscription())">{{subscriptionFactory.getItemSubscription().plan_quantity}}</h1>

          <div ng-show="subscriptionFactory.getItemSubscription().status === 'active'">
            <span ng-show="isDisplayLicensePlan(subscriptionFactory.getItemSubscription())">
              <a id="addLicenses" class="btn btn-default btn-block" ui-sref="apps.purchase.licenses.add({subscriptionId: subscriptionFactory.getItemSubscription().id})">Add Display Licenses</a>
              <a id="removeLicenses" class="btn btn-default btn-block mt-3" ui-sref="apps.purchase.licenses.remove({subscriptionId: subscriptionFactory.getItemSubscription().id})" ng-hide="subscriptionFactory.getItemSubscription().plan_quantity < 2">Remove Display Licenses</a>
              <a id="manageLicenses" class="btn btn-default btn-block mt-3" ui-sref="apps.billing.licenses.manage({subscriptionId: subscriptionFactory.getItemSubscription().id})" ng-if="false">Manage Network Licenses</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="border-container subscription-card">
        <div class="panel-body">
          <label ng-show="subscriptionFactory.isInvoiced()">Next Invoice</label>
          <label ng-show="!subscriptionFactory.isInvoiced()">Next Payment</label>
          <h1 class="mb-4">${{subscriptionFactory.getItemSubscription().plan_amount / 100 | number:2}}</h1>
          <p>On {{subscriptionFactory.getItemSubscription().current_term_end * 1000 | date:'d-MMM-yyyy'}}</p>
          <p><b>Billing Frequency:</b> {{subscriptionFactory.getItemSubscription().billing_period_unit === 'month' ? 'Monthly' : subscriptionFactory.getItemSubscription().billing_period === 1 ? 'Yearly' : subscriptionFactory.getItemSubscription().billing_period + ' Years'}}</p>

          <a id="switchToAnnual" class="btn btn-default btn-block mt-3" ui-sref="apps.purchase.frequency({subscriptionId: subscriptionFactory.getItemSubscription().id})" ng-show="subscriptionFactory.getItemSubscription().billing_period_unit === 'month'">Switch To Annual Billing (Save 10%)</a>
          <p class="mt-3 mb-0" ng-show="false">
            Need a copy of your next invoice in advance?<br>
            <a class="madero-link u_clickable" ng-click="factory.requestInvoice()">Click here.</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="border-container subscription-card">
        <div class="panel-body">
          <label class="mb-3">Payment Method</label>
          <div class="flex-row madero-radio align-left mb-3" ng-repeat="card in paymentSourcesFactory.existingCreditCards">
            <div class="row-entry">
              <input type="radio" ng-click="subscriptionFactory.changePaymentMethod($event, card)" ng-model="subscriptionFactory.item.paymentSourceId" ng-value="card.payment_source.id" name="{{card.payment_source.id}}" id="{{card.payment_source.id}}" tabindex="1">
              <label for="{{card.payment_source.id}}" class="mr-auto u_text-ellipsis mb-0">
                {{card.payment_source.card | cardDescription}}
              </label>
              <a class="madero-link u_clickable text-danger font-weight-bold" ng-click="paymentSourcesFactory.removePaymentMethod(card)" ng-show="subscriptionFactory.getItemSubscription().payment_source_id !== card.payment_source.id">Remove</a>
            </div>
          </div>
          <div class="madero-radio align-left" ng-show="subscriptionFactory.isInvoiced()">
            <input type="radio" ng-change="setPaymentMethod()" ng-model="subscriptionFactory.item.paymentSourceId" value="invoice" name="invoiceMe" id="invoiceMe" tabindex="1">
            <label for="invoiceMe">
              Invoice Me
            </label>
          </div>

          <div class="align-left mt-3" ng-show="subscriptionFactory.isInvoiced()">
            <edit-po-number item="subscriptionFactory.item.subscription" update-function="subscriptionFactory.changePoNumber()"></edit-po-number>
          </div>

          <a id="addPaymentMethod" class="btn btn-default btn-block mt-4" ui-sref="apps.billing.payment({subscriptionId: subscriptionFactory.getItemSubscription().id})">Add Payment Method</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 subscription-card-row">
    <div class="col-md-8 col-xs-12">
      <div class="border-container subscription-card">
        <div class="panel-body">
          <label class="mb-3">Company Billing Details</label>
          <span class="pull-right"><a class="madero-link u_clickable" ng-click="companySettingsFactory.openCompanySettings()">Edit</a></span>

          <div class="align-left">
            <div class="row mb-3" ng-show="subscriptionFactory.getItemCustomer().billing_address.first_name || subscriptionFactory.getItemCustomer().billing_address.last_name">
              <div class="col-md-3">
                <label class="mb-0">Name:</label>
              </div>
              <div class="col-md-9">
                {{subscriptionFactory.getItemCustomer().billing_address.first_name}} {{subscriptionFactory.getItemCustomer().billing_address.last_name}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3">
                <label class="mb-0">Company Name:</label>
              </div>
              <div class="col-md-9">
                {{company.name}}
              </div>
            </div>
            <div class="row mb-3" ng-show="company.telephone">
              <div class="col-md-3">
                <label class="mb-0">Phone:</label>
              </div>
              <div class="col-md-9">
                {{company.telephone}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label class="mb-0">Address:</label>
              </div>
              <div class="col-md-9">
                <p class="mb-0">{{company.street}} <span ng-show="company.unit">{{company.unit}}</span></p>
                <p class="mb-0">{{company.city}}, {{company.province}} {{company.postalCode}}</p>
                <p class="mb-0">{{company.country | countryName}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="border-container subscription-card">
        <div class="panel-body">
          <label class="mb-3">Tax Exemption</label>
          <p ng-show="subscriptionFactory.getItemCustomer().taxability !== 'taxable' || taxExemptionFactory.taxExemption.sent">Tax exemption applied.</p>

          <button id="addTaxExemption" class="btn btn-default btn-block" ng-click="taxExemptionFactory.taxExemption.show = true" ng-show="subscriptionFactory.getItemCustomer().taxability === 'taxable' && !taxExemptionFactory.taxExemption.show">I'm Tax Exempt</button>
          <tax-exemption class="align-left" show-cancel="true"></tax-exemption>
        </div>
      </div>
    </div>
  </div>

  <div class="u_margin-lg subscription-footer">
    <label>
      <streamline-icon name="help" width="20" height="20"></streamline-icon>
      Need to cancel or pause your subscription?
    </label>
    <p><a class="madero-link" href="mailto:support@risevision.com" target="_blank">Contact Us</a></p>
  </div>

</div><!--container-->
