<div class="madero-style">
  <div class="app-header u_padding-20-vertical mb-5 border-bottom">
    <!-- App Title -->
    <h1 class="app-header-title">Subscription</h1>
  </div>

  <div rv-spinner rv-spinner-key="subscription-loader" rv-spinner-start-active="1">

  <div id="errorBox" ng-show="subscriptionFactory.apiError" class="madero-style alert alert-danger" role="alert">
    <strong>{{subscriptionFactory.apiError}}</strong>
  </div>

  <h4>
    {{subscriptionFactory.subscription.subscription | subscriptionDescription}} — 
    <span class="u_capitalize" ng-class="{ 'text-success': subscriptionFactory.subscription.subscription.status === 'active', 'text-danger': subscriptionFactory.subscription.subscription.status === 'suspended' || subscriptionFactory.subscription.subscription.status === 'cancelled' }">
      {{subscriptionFactory.subscription.subscription.status}}
    </span>
  </h4>

  <div class="u_margin-lg subscription-footer">
    <label>
      <streamline-icon name="help" width="20" height="20"></streamline-icon>
      Need to cancel or pause your subscription?
    </label>
    <p>Please email us at <a class="madero-link" href="mailto:support@risevision.com" target="_blank">support@risevision.com</a>.</p>
  </div>

</div><!--container-->
