@media (min-width: $screen-sm) {
  .rise-playlist-container {
    --playlist-button-bar-height: 70px;
    --selector-search-box-height: 95px;
    --playlist-body-height: calc(100vh - var(--body-height) - var(--component-header-height) - var(--playlist-button-bar-height));
    --selector-body-height: calc(100vh - var(--body-height) - var(--component-header-height) - var(--playlist-button-bar-height) - var(--selector-search-box-height));
  }
}

@media (max-width: $screen-sm) {
  .rise-playlist-container {
    --playlist-button-bar-height: 75px;
    --selector-search-box-height: 95px;
    --playlist-body-height: calc(100vh - var(--body-height) - var(--playlist-button-bar-height));
    --selector-body-height: calc(100vh - var(--body-height) - var(--playlist-button-bar-height) - var(--selector-search-box-height));
  }
}

.templates-list {
  height: var(--playlist-body-height);
  overflow-x: hidden;
  overflow-y: auto;

  .templates-row {
    min-height: 45px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm) {
      min-height: 40px;
    }
  }

  .templates-list-empty {
    margin: 20px;

    h2 {
      font-size: 1em;
      font-weight: bold;
      padding: 20px 0 0 0;
      margin-top: 0;
    }

    p {
      font-size: 0.75em;
      line-height: 0.8;
      padding-bottom: 20px;
    }

    img {
      margin: 0 auto;
    }
  }
}

.playlist-item-name {
  display: inline-block;
}

.templates-selector {
  height: var(--selector-body-height);
  padding-top: 0px;
  overflow-x: hidden;
  overflow-y: auto;

  .templates-row {
    min-height: 45px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm) {
      min-height: 40px;
    }
  }
}

.selected-templates-label {
  margin: 0px 20px 0px;
  border-bottom: 1px solid #999999;
}

.templates-selector-search-label {
  padding: 0px 0px 2px;
  margin: 0px 20px 0px;
}

.templates-selector-search-box {
  padding: 0px 0px 20px;
  margin: 0px 20px 0px;

  svg {
    fill: #999999;
  }
}

.templates-list-show {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-list-hide {
  animation-name: slide-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-list-cover {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-list-uncover {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-row {
  border-bottom: 1px solid #999999;
  margin-left: 20px;
  margin-right: 20px;
}

.templates-name {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 20px;
}

.templates-name-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.templates-status {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0px;
  color: #999999;
}

.templates-status-revised {
  color: #d9544f;
}

.templates-status-inline {
  display: inline;
}

.templates-delete {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  letter-spacing: 0px;
  line-height: 18px;

  & a {
    color: #d9534f;
    text-decoration: underline;
  }
}

.templates-selector {
  & .templates-row {
    cursor: pointer;
  }
}

.templates-selector-show {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-selector-hide {
  animation-name: slide-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.templates-selector-popular {
  font-weight: bold;
  font-size: 0.8em;
  margin: 20px 0px 0px;
  padding: 0px 20px;
}

.templates-selector-checkbox {
  position: absolute;

  input[type=checkbox] { display:none; }

  label {
    cursor: pointer;
  }

  input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 35px;
    background: url('../images/checkbox.svg') 0px center no-repeat;
  }

  input[type=checkbox]:checked + label span {
    background: url('../images/checkbox-selected.svg') 0px center no-repeat;
  }
}

.templates-selector-name {
  display: inline-block;
  margin-left: 30px;
}

.templates-selector-no-results {
  font-size: 0.9em;
  margin: 20px;

  & > div {
    margin: 0 0 10px;
  }

  & > h2 {
    font-size: 1.2em;
    font-weight: 700;
    padding: 20px 0px;
    margin-top: 0px;
  }

  & > div:first-of-type {
    font-weight: bold;
  }

  & i {
    font-size: 15pt;
    color: $rise-green;
    margin-right: 5px;
  }

  & a {
    color: $dark-gray;

    &:hover > span {
      text-decoration: underline;
    }
  }

}

.templates-row--is-selected {
  background: #107DDA;

  & .templates-name {
    color: #FFF;
  }

  & .templates-status {
    color: #FFF;
  }
}

.playlist-item-actions {
  text-align: right;
  & .streamline-component-icon {
    margin-right: 0px;
  }
}

.playlist-action-button-bar {
  height: var(--playlist-button-bar-height);
  padding: 0px 20px;
  background: #FFF;

  & > div {
    background: #FFF;
    padding: 18px 0 0 0;
    border-top: 1px solid #999999;
  }
}
