#apps-home-container {
	.scrollable-content {
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;

		@media (max-width: $screen-sm) {
			padding-bottom: 155px;
		}

		.schedules-toolbar {
			padding-bottom: 20px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 20px;
			border-bottom: 1px solid $madero-gray;

			@media (max-width: $screen-sm) {
				padding-bottom: 10px;
			}

			label {
				margin-right: 10px;
			}
		}
	}

	.mobile-footer {
		position: fixed;
		width: 100%;
		bottom: 0px;
		background: white;

		.container {
			padding: 20px;
			border-top: 1px solid $madero-gray;

			.btn-default {
				margin-bottom: 10px;
			}
		}
	}
}


.madero-style {

  &.tooltip-backdrop {
    background: rgba(2, 6, 32, 0.5);
    z-index: 1001;
    fill: rgb(2, 6, 32);
    fill-opacity: 0.5;
  }

  &.tooltip {
    opacity: 1;

    .scrollable-list {
      min-height: 150px;
      max-height: 150px;
    }    

    &.tooltip-guide {
      .tooltip-inner {
        text-align: left;
        padding: 20px;
        border: 1px solid rgb(153, 153, 153);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
        opacity: 1;
        max-width: 356px;
      }

      &.bottom {
        margin-top: 8px;

        .tooltip-arrow {
          margin-top: 1px;
        }

        .tooltip-arrow:after {
          margin-top: -2px;
          margin-left: calc(-#{$tooltip-arrow-width} - 1px);
          border-width: 0 calc(#{$tooltip-arrow-width} + 1px) calc(#{$tooltip-arrow-width} + 1px);
          border-bottom-color: rgb(153, 153, 153);
        }
      }

      &.top {
        margin-top: -8px;

        .tooltip-arrow {
          margin-bottom: 1px;
        }

        .tooltip-arrow:after {
          margin-top: -7px;
          margin-left: calc(-#{$tooltip-arrow-width} - 1px);
          border-width: calc(#{$tooltip-arrow-width} + 1px) calc(#{$tooltip-arrow-width} + 1px) 0;
          border-top-color: rgb(153, 153, 153);
        }
      }

      /* styles for arrow border */
      .tooltip-arrow:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        z-index: -1;
      }
    }

    &.tooltip-share-guide {
      &.bottom {
        margin-left: -100px;

        .tooltip-arrow {
          margin-left: 100px;
        }
      }
    }

    &.tooltip-share-options {
      margin-left: -106px;

      .tooltip-inner {
        text-align: left;
        padding: 10px;
        border: 0px;
        box-shadow: 0px 0px 5px 0px rgba(2, 6, 32, 0.5);
        opacity: 1;
        max-width: 374px;
        width: 374px;

        .close {
          height: 10px;
          width: 10px;

          svg {
            fill: rgb(153, 153, 153);
          }
        }

        .input-group-btn {
          width: 1%;
        }
      }

      &.bottom {
        margin-top: -8px;
      }

      .tooltip-arrow {
        display: none;
      }

      &.tooltip-sm {
        .tooltip-inner {
          width: 303px;
        }
      }
    }

    &.tooltip-schedule-selector {
      @extend .tooltip-share-options;

      .tooltip-inner {
        max-width: 360px;
        width: 360px;
        padding: 15px;
        font-size: 14px;

        hr {
          border-top: 1px solid $madero-gray;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      &.bottom {
        margin-top: -9px;
      }
    }

    &.tooltip-schedule-selector {
      @extend .tooltip-share-options;

      .tooltip-inner {
        max-width: 360px;
        width: 360px;
        padding: 15px;
        font-size: 14px;

        hr {
          border-top: 1px solid $madero-gray;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      &.bottom {
        margin-top: -9px;
      }
    }
  }

  &.action-sheet {
    &.tooltip-share-options {
      padding: 20px;
      box-shadow: 0px 0px 5px 0px rgba(2, 6, 32, 0.5);

      .close {
        height: 15px;
        width: 15px;

        svg {
          fill: rgb(153, 153, 153);
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  &.tooltip-share-options {
    .sideways-panels {
      .panel {
        border-color: rgb(153, 153, 153);
        background-color: transparent;

        @extend .mr-2;

        &:last-child{
          @extend .u_remove-right;
        }

        .panel-body {
          min-width: 90px;
          padding: 10px;
        }
      }
    }

    .copy-text-box {
      background-color: $lighter-gray;
      color: $madero-gray;
      font-size: 12px;
      padding: 15px;
    }

    // from https://codepen.io/mrowa44/pen/xRpMYm
    .scrollbox {
      background:
        linear-gradient(to right, white 0%, rgba(0, 0, 0, 0)),
        linear-gradient(to right, rgba(0, 0, 0, 0), white 100%) 0 100%,
        linear-gradient(to right, black, rgba(0, 0, 0, 0) 6%),
        linear-gradient(to left, black, rgba(0, 0, 0, 0) 6%);
      background-attachment: local, local, scroll, scroll;
      background-clip: padding-box; /* fix right border on Chrome */
    }
  }
}
