// Billing Page container
.billing-app {
  .border-container {
    & > .panel-body {
      @extend .u_padding-20;
    }

    &.scrollable-list {
      .table>tbody>tr>td, .table>thead>tr>th {
        @extend .u_padding-20;
      }
    }
  }

  .status {
    &.paid svg {
      fill: $madero-green;
    }
    &.unpaid svg {
      @extend .ml-2;

      fill: $danger;
    }
  }

}


// Help dropdown
#helpDropdownButton {
	&.add-notice {
		@extend .animated;
	    -webkit-animation-iteration-count: 3;
        animation-iteration-count: 3;
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
}

// Login page
.app-login {
	padding-top: 60px;
	height: 100vh;

  h1, h4 {
    @extend .align-center;
  }

  h1 {
    @extend .mb-5;
  }

	h4 {
		@extend .u_remove-top;
    @extend .u_margin-md-bottom;
	}

  .has-error .control-label {
    color: $state-danger-text;
  }

	.rise-logo {
    margin-bottom: 40px;

		img {
			width: 150px;
		}
	}

  .feature-sideways-panels {
    @extend .stack-md-sideways-panels;
    @extend .mx-auto;

    max-width:736px;
    margin-left: 0px;
    margin-right: 0px;

    >:first-child {
      @extend .mx-auto;

      max-width: 271px;
    }

    @media (min-width: $screen-md) {
      >:first-child {
        @extend .mx-lg-0;
        @extend .mr-lg-5;

        width: 271px;
      }
    }
  }

  .border-container {
    max-width: 465px;

    @media (min-width: $screen-md) {
      width: 465px;
    }

    & > .panel-body {
      padding: 30px;
    }
  }  
}

.brandscript-clients {
  ul.features-checklist > li {
    @extend .flex-row;

    @extend .u_margin-sm-bottom;

    >:first-child {
      @extend .mb-auto;
    }

    svg {
      fill: $madero-green;
      height: 15px;
      width: 18px;
      margin-right: 15px;
    }
  }
}

// Weekly templates
.weekly-templates {
	.collapsed-label {
		font-size: 18px;
	}
	.expanded-panel {
		color: #444;
	}
	.expanded-message {
		font-size: 16px;
	}
	.col-centered {
		float: none; display:
		inline-block;
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			width: 49%;
		}	
		@media (min-width: $screen-md) and (max-width: $screen-md-max) {
			width: 33%;
		}
		@media (min-width: $screen-lg) {
			width: 24%;
		}
	}
}
