.purchase-app {
  .purchase-sideways-panels {
    .btn-group-justified {
      @extend .mb-0;

      width: 400px;

      button {
        width: 200px;
        font-weight: normal;
      }

      @media(max-width: $screen-xs-max) {
        width: 100%;

        button {
          width: 100%;
        }

        .btn:first-child {
          border-top-right-radius: 4px !important;
          border-bottom-left-radius: 0;
        }

        .btn:last-child {
          margin-left: 0;
          margin-top: -1px;
          border-top-right-radius: 0;
          border-bottom-left-radius: 4px;
        }
      }

      streamline-icon {
        @extend .ml-3;
      }
    }
  }

  // Temporary for the review purchase page
  .btn.btn-xs {
    min-height: auto;
    padding: 2px 12px;
  }

  .StripeElement {
    padding: 11px 12px;
  }

  .purchase-sideways-panels {
    @extend .stack-md-sideways-panels;

    margin-left: 0px;
    margin-right: 0px;

    >:first-child {
    }

    >:last-child {
      @extend .mx-auto;

      max-width: 363px;
    }

    @media (min-width: $screen-md) {
      >:first-child {
        width: 100% !important;
      }

      >:last-child {
        @extend .mx-lg-0;
        @extend .ml-lg-5;

        width: 363px;
        min-width: 363px;
      }
    }
  }

  .purchase-summary {
    @extend .p-4;

    background-color: $lighter-gray;
  }

  .purchase-total {
    font-size: 18px;
    font-weight: bold;
  }

  #checkout-success {
    @extend .mx-auto;

    width: 744px;
  }

}

.purchase-footer {
  text-align: center;

  .title {
     font-weight: bold;

     svg {
      fill: $madero-gray;
      vertical-align: middle;
      margin-left: 5px;
     }
  }
}

.checkout-plan-picker {

  .brandscript-panel {
    width: 320px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-md) {
      margin-right: 60px;
    }
  }

  .rzslider {
    margin-top: 30px;
  }

  .display-count-input {
    @extend .form-control;
    
    width: 75px;    
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: inline;
  }

  .btn-group-period {
    .btn {
      font-weight: normal;
    }
  } 

  .education-discount {
    .madero-checkbox {
      display: inline-block;
    }
  }

  .pricing-calculator {
    .number {
      font-size: 24px;
      font-weight: bold;
    }

    .checkmark {
      svg {
        fill: $madero-green;
        margin-top: 5px;
        height: 19px;
        width: 23px;
      }
    }
  }
}


// OLD CHECKOUT FLOW - REMOVE
.subscription-summary {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.subscription-summary-item {
  flex-grow: 1;
  width: 45%;
}

.subscription-summary-divider {
  flex-grow: 0;
  width: 10%;
  align-self: center;
  font-weight: 900;
  font-size: 2em;
}

.stat-value {
  font-size: 4em;
}



.flex-additive-rule {
  height: 32px;
  b {
    font-size: 33px;
    position: relative;
    top: -28px;
    background: #fcfcfc;
    border: 10px solid #fcfcfc;
  }
}


.payment-recurrence-selector {
  padding: 0;
  .radio {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 20px;
    padding: 9px;
    margin: 0;
    .label {
      margin-left: auto;
      font-size: 1em;
    }
    &.active {
      background: aliceblue;
    }
  }
}

.spinner {
  border-radius: 4px;
  input {
    width: 50px !important;
    font-size: 18px;
    border-radius: 4px !important;
    text-align: center;
  }
  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
    &>.btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 8px;
      margin-left: -1px;
      position: relative;
      border-radius: 0;
      &:first-child {
        border-top-left-radius: 4px;
      }
      &:last-child {
        margin-top: -2px;
        border-bottom-left-radius: 4px;
      }
    }
    i {
      position: absolute;
      top: 0;
      left: 4px;
    }
  }
}
