.purchase-app {
  .btn-group-justified {
    @extend .mb-0;

    width: 400px;

    button {
      width: 200px;
      font-weight: normal;
    }

    @media(max-width: $screen-xs-max) {
      width: 100%;

      button {
        width: 100%;
      }

      .btn:first-child {
        border-top-right-radius: 4px !important;
        border-bottom-left-radius: 0;
      }

      .btn:last-child {
        margin-left: 0;
        margin-top: -1px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
      }
    }

    streamline-icon {
      @extend .ml-3;
    }
  }

  // Temporary for the review purchase page
  .btn.btn-xs {
    min-height: auto;
    padding: 2px 12px;
  }

  .StripeElement {
    padding: 11px 12px;
  }

  #checkout-success {
    @extend .mx-auto;

    width: 744px;
  }
}



// OLD CHECKOUT FLOW - REMOVE

.subscription-summary {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.subscription-summary-item {
  flex-grow: 1;
  width: 45%;
}

.subscription-summary-divider {
  flex-grow: 0;
  width: 10%;
  align-self: center;
  font-weight: 900;
  font-size: 2em;
}

.stat-value {
  font-size: 4em;
}



.flex-additive-rule {
  height: 32px;
  b {
    font-size: 33px;
    position: relative;
    top: -28px;
    background: #fcfcfc;
    border: 10px solid #fcfcfc;
  }
}


.payment-recurrence-selector {
  padding: 0;
  .radio {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 20px;
    padding: 9px;
    margin: 0;
    .label {
      margin-left: auto;
      font-size: 1em;
    }
    &.active {
      background: aliceblue;
    }
  }
}

.spinner {
  border-radius: 4px;
  input {
    width: 50px !important;
    font-size: 18px;
    border-radius: 4px !important;
    text-align: center;
  }
  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
    &>.btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 8px;
      margin-left: -1px;
      position: relative;
      border-radius: 0;
      &:first-child {
        border-top-left-radius: 4px;
      }
      &:last-child {
        margin-top: -2px;
        border-bottom-left-radius: 4px;
      }
    }
    i {
      position: absolute;
      top: 0;
      left: 4px;
    }
  }
}
