.display-fields-body {
  .scrollable-list {
    @media (min-width: $screen-md) {
      height: 296px;
      min-height: 296px;
      max-height: 296px;
    }

    @media (min-width: $screen-lg) {
      height: 408px;
      min-height: 408px;
      max-height: 408px;
    }

    .list-group-item {
      @extend .u_padding-md;
    }

    .control-label {
      width: 241px;
    }
  }

  .btn-group-justified {
    @extend .mb-0;

    width: 167px;

    button {
      width: 84px;
      font-weight: normal;
    }

    streamline-icon {
      @extend .ml-3;
    }
  }

  .address-fields .form-group {
    @extend .mb-3;
  }

}


/* Deprecate Below
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== */

.display-name {
  span {
    @extend .u_ellipsis-md;
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
  }
}

.display-address {
  span {
    @extend .u_ellipsis-md;
    max-width: 320px;
    display: inline-block;
    vertical-align: middle;
  }
}

.offline {
  &:before {
    color: #e74c3c;
  }
}

.notinstalled {
  &:before {
    color: #444;
  }
}

.online {
  &:before {
    color: $rise-green;
  }
}

.display-product {
  padding: 4px 8px !important;
  & span,
  a {
    display: block;
    cursor: pointer;
  }
  & span:nth-child(2) {
    display: inline;
  }
}

.display-status {
  padding: 4px 8px !important;
  & span,
  a {
    display: block;
    cursor: pointer;
  }
  & .btn-link.btn-xs {
    display: block;
  }
}
