.display-fields-body {
  .scrollable-list, .empty-preview {
    @media (min-width: $screen-md) {
      height: 296px;
      min-height: 296px;
      max-height: 296px;
    }

    @media (min-width: $screen-lg) {
      height: 408px;
      min-height: 408px;
      max-height: 408px;
    }

    .list-group-item {
      @extend .u_padding-md;
    }

    .control-label {
      width: 241px;
    }
  }

  .btn-group-justified {
    @extend .mb-0;

    width: 167px;

    button {
      width: 84px;
      font-weight: normal;
    }

    streamline-icon {
      @extend .ml-3;
    }
  }

  .empty-preview {
    @media (max-width: $screen-md) {
      height: 296px;
      min-height: 296px;
      max-height: 296px;
    }

    .form-group {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      height: 100%;
      margin: 0px;

      button {
        max-width: 250px;
        margin-left: 0px;
        @extend .mt-3;
      }
    }
  }

  .btn-group-checkbox {
    position: relative;

    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 0;
      width: 167px;
      height: 40px;
      margin: 0;
      padding: 0;
      vertical-align: top;
      z-index: 100;
      opacity: 0;
    }
  }

  .display-screenshot {
    height: 235px;
    background: $light-gray;

    .display-screenshot-info {
      @extend .text-center;
      @extend %vertical-align;
    }  
  }

  .address-fields .form-group {
    @extend .mb-3;
  }

}

.display-instructions-panel {
  @extend .mx-auto;

  max-width: 701px;

  .btn-toolbar {
    width: 320px;
  }
}

.download-player-modal {
  .bullet-list {
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;

    li {
      @extend .mt-0;

      a {
        margin-left: 10px;
      }
    }
  }
}

/* Deprecate Below
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== */

.display-name {
  span {
    @extend .u_ellipsis-md;
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
  }
}

.display-address {
  span {
    @extend .u_ellipsis-md;
    max-width: 320px;
    display: inline-block;
    vertical-align: middle;
  }
}

.offline {
  &:before {
    color: #e74c3c;
  }
}

.notinstalled {
  &:before {
    color: #444;
  }
}

.online {
  &:before {
    color: $rise-green;
  }
}

.display-product {
  padding: 4px 8px !important;
  & span,
  a {
    display: block;
    cursor: pointer;
  }
  & span:nth-child(2) {
    display: inline;
  }
}

.display-status {
  padding: 4px 8px !important;
  & span,
  a {
    display: block;
    cursor: pointer;
  }
  & .btn-link.btn-xs {
    display: block;
  }
}
