.onboarding-container {
	a, a:hover, .nav>li>a, .nav>li>a:hover {
		color: $madero-light-blue;
		text-decoration: underline;
	}

	.nav>li.active>a {
		color: $madero-black;
		text-decoration: none;
	}

	.app-header-title {
		color: $madero-black;
		font-size: 24px;
		font-weight: bold;
	}

	.product-grid_image {
		cursor: pointer;
	}
}