.playlist-item-reference {
  @extend .u_ellipsis-md;
  max-width: 320px;
  line-height: 24px;
}

.shared-schedule-modal {
  .copy-text-box {
    background-color: #f0f0f0;
  }

  .u_bordered-hover {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.madero-style {
  .btn-select {
    text-align: left;
    font-weight: normal;

    .text-muted {
      color: $madero-gray;
    }
  }

  &.tooltip {
    .scrollable-list {
      min-height: 150px;
      max-height: 150px;
    }    
  }
}
