.playlist-item-reference {
  @extend .u_ellipsis-md;
  max-width: 320px;
  line-height: 24px;
}

.madero-style {
  .btn-select {
    text-align: left;
    font-weight: normal;

    .text-muted {
      color: $madero-gray;
    }
  }
}
