<div class="madero-style">
  <div class="app-header u_padding-20-vertical mb-5 border-bottom">
    <!-- App Title -->
    <div class="app-header-title">
      <h1 class="m-0">Displays</h1>
      <div>
        <span ng-show="playerLicenseFactory.hasProfessionalLicenses()">
          {{ playerLicenseFactory.getUsedLicenseString() }}
        </span>
      </div>
    </div>

    <div class="ml-auto" require-role="da">
      <button ng-click="addDisplay()" class="btn btn-default btn-toolbar-wide">
        Add Display
      </button>
    </div>
  </div>

  <div rv-spinner rv-spinner-key="display-loader"></div>

  <!-- body -->
  <div>
    <form role="form" name="displayDetails" ng-submit="save()" novalidate>

      <display-fields></display-fields>

      <div class="button-row text-right mt-5">
        <p class="visible-sm visible-xs text-right"><last-modified [change-date]="factory.display.changeDate" [changed-by]="factory.display.changedBy"></last-modified></p>
        <!-- Indicates delete or destructive action -->
        <button id="deleteButton" type="button" class="btn btn-danger btn-toolbar pull-left" ng-click="confirmDelete()" require-role="da">
          Delete Display
        </button>
        <span class="hidden-sm hidden-xs u_margin-right"><last-modified [change-date]="factory.display.changeDate" [changed-by]="factory.display.changedBy"></last-modified></span>
        <!-- Indicates cancel or non-destructive action -->
        <button id="cancelButton" type="button" ui-sref="apps.displays.list" class="btn btn-default btn-toolbar mr-2">
          {{'common.cancel' | translate}}
        </button>
        <!-- Indicates a successful or positive action -->
        <button id="saveButton" type="submit" class="btn btn-primary btn-toolbar" ng-disabled="displayDetails.$invalid || factory.savingDisplay" require-role="da">
          {{ factory.savingDisplay ? ('common.saving' | translate) : ('common.save' | translate)}}
        </button>
      </div>

    </form><!-- displayDetails -->
  </div><!--container-->

</div>
