<div class="fields-container">
  <div class="row">

    <div class="col-sm-12 col-md-7 pb-2 pb-lg-0">
      <stretchy-input class="mb-0 mr-auto" ng-model="factory.display.name"></stretchy-input> 
    </div>

    <div class="col-sm-12 col-md-5 pl-lg-0">
      <div class="pull-right">
        <label class="mr-2">Media Player Actions:</label>
        <div class="btn-group" dropdown>
          <button id="displayActionsButton" type="button" dropdown-toggle class="form-control btn-select btn-schedule-selector btn-toolbar flex-row">
            <div class="row-entry">
              <span class="text-gray mr-auto">Choose an action</span>
              <span class="text-gray pl-2"><i class="fa fa-sort"></i></span>
            </div>
          </button>
          <div class="dropdown-menu playlist-menu" role="menu">
            <ul>
              <li>
                <button type="button" class="btn-dropdown u_clickable" ng-hide="!displayService.statusLoading && factory.display.onlineStatus === 'not_activated' || playerProFactory.isWebPlayer(factory.display) || playerProFactory.isAndroidPlayer(factory.display)" ng-disabled="!factory.display.playerVersion" ng-click="playerActionsFactory.confirm(factory.display.id, factory.display.name, 'restart')" require-role="da">
                  <span translate>displays-app.fields.controls.restart.name</span>
                </button>
              </li>
              <li>
                <button type="button" class="btn-dropdown u_clickable" ng-hide="!displayService.statusLoading && factory.display.onlineStatus === 'not_activated' || playerProFactory.isWebPlayer(factory.display) || playerProFactory.isAndroidPlayer(factory.display)" ng-disabled="!factory.display.playerVersion || !canReboot(factory.display)" ng-click="playerActionsFactory.confirm(factory.display.id, factory.display.name, 'reboot')" require-role="da">
                  <span translate>displays-app.fields.controls.reboot.name</span>
                </button>
              </li>
              <li>
                <a id="installPlayerAction" class="u_clickable" ng-click="installationInstructionsModal()">
                  <span translate>displays-app.fields.controls.install</span>
                </a>
              </li>
              <li>
                <a id="purchasePlayerAction" class="u_nowrap" href="https://www.thebookpc.com/risevision-s/97.htm" target="_blank">
                  Purchase A Preconfigured Media Player
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- DISPLAY ERRORS AND ALERTS -->

<div ng-show="playerActionsFactory.controlsError" class="madero-style alert alert-danger u_margin-md-top" role="alert">
  <strong>{{playerActionsFactory.controlsError}}</strong>
</div> 

<div class="border-container text-center u_margin-md-top" ng-show="!factory.loadingDisplay && factory.display.id && !displayService.statusLoading && factory.display.onlineStatus === 'not_activated'">
  <div class="panel-body display-instructions-panel">

    <div class="form-group my-2">
      <label translate>Display not activated.</label>
    </div>
    <div class="mb-4">
      <a class="btn btn-default btn-toolbar mr-2" id="purchasePlayerButton" href="https://www.thebookpc.com/risevision-s/97.htm" target="_blank">
        Purchase A Preconfigured Media Player
      </a>
      <span class="hidden-xs">or</span>
      <div class="visible-xs">or</div>
      <button type="button" id="installPlayerButton" ng-click="installationInstructionsModal()" class="btn btn-default btn-toolbar ml-md-2">
        Install Rise Player On Your Media Player
      </button>
    </div>
    <p>On startup of your media player enter this ID <strong>{{factory.display.id}}</strong> to activate your display.</p>

    <display-email></display-email>
  </div>
</div>

<div class="fields-preview-panels display-fields-body mt-4">
  <div class="fields-container">

    <!-- DISPLAY DETAILS -->
    <div class="u_padding-20-vertical">
      <label class="mb-0 mr-auto" translate>displays-app.displayDetails</label>
    </div>

    <div class="scrollable-list border-container">

      <div class="list-group-item">
        <div class="flex-row form-group mb-0">
          <div class="row-entry">
            <label class="control-label pull-left mb-0">License Display?</label>
            <yes-no-toggle ng-model="factory.display.playerProAuthorized" ng-change="toggleProAuthorized()" ng-disabled="!playerLicenseFactory.isProToggleEnabled(factory.display)"></yes-no-toggle> 
          </div>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.id</label>
          <span class="mr-auto">
            {{factory.display.id}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.resolution</label>
          <span class="mr-auto">
            <span ng-show="factory.display.playerVersion">{{factory.display.width | resolution: factory.display.height}}</span>
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.lastConnection</label>
          <ng-include src="'partials/displays/display-details-license-required.html'"></ng-include>
          <span class="mr-auto" ng-if="!factory.showLicenseRequired()">
            {{factory.display.lastActivityDate | date:'d-MMM-yyyy h:mm a'}}
          </span>
        </div>
      </div>

      <!-- SCREENSHOT  -->
      <screenshot ng-if="playerProFactory.isScreenshotCompatiblePlayer(factory.display)"></screenshot>

      <div class="list-group-item flex-row form-group mb-0" ng-hide="!displayService.statusLoading && factory.display.onlineStatus === 'not_activated'">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.status</label>
          <ng-include src="'partials/displays/display-details-license-required.html'"></ng-include>
          <span class="mr-auto" ng-if="!factory.showLicenseRequired()">
            <i ng-if="displayService.statusLoading" class="fa fa-spinner fa-spin fa-fw"></i>
            <span class="text-danger" ng-show="!displayService.statusLoading && factory.display.onlineStatus === 'offline'">Offline</span>
            <span class="text-success" ng-show="!displayService.statusLoading && factory.display.onlineStatus === 'online'">Online</span>
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.rpp.monitoring</label>
          <ng-include src="'partials/displays/display-details-license-required.html'"></ng-include>

          <yes-no-toggle ng-model="factory.display.monitoringEnabled" ng-disabled="factory.showLicenseRequired()" ng-if="!factory.showLicenseRequired()"></yes-no-toggle>
        </div>
      </div>

      <div class="list-group-item" ng-show="!factory.showLicenseRequired() && factory.display.monitoringEnabled">
        <timeline-basic-textbox timeline-string="factory.display.monitoringSchedule" ng-disabled="!factory.display.monitoringEnabled" />
      </div>

      <div class="list-group-item" ng-show="!factory.showLicenseRequired() && factory.display.monitoringEnabled">
        <div class="flex-row form-group mb-0">
          <div class="row-entry">
            <label class="control-label pull-left mb-0" translate>displays-app.fields.player.rpp.email-recipients</label>
            <ng-include src="'partials/displays/display-details-license-required.html'"></ng-include>
          </div>
        </div>

        <div class="mt-2" ng-if="!factory.showLicenseRequired()">Separate multiple recipients by a comma.</div>
        <div class="mt-3" ng-class="{ 'has-error': !displayDetails.monitoringEmails.$valid }" ng-if="!factory.showLicenseRequired()">
          <emails-field name="monitoringEmails" ng-model="factory.display.monitoringEmails"></emails-field>
          <p class="help-block text-danger" ng-show="!displayDetails.monitoringEmails.$valid" translate>
            displays-app.fields.player.rpp.invalid-email
          </p>
        </div>
      </div>

      <div class="list-group-item" ng-show="!playerProFactory.isWebPlayer(factory.display) && !playerProFactory.isAndroidPlayer(factory.display)">
        <div class="flex-row form-group mb-0">
          <div class="row-entry">
            <label class="control-label pull-left mb-0">Reboot Media Player Daily At</label>
            <ng-include src="'partials/displays/display-details-license-required.html'"></ng-include>

            <yes-no-toggle ng-model="factory.display.restartEnabled" ng-disabled="factory.showLicenseRequired()" button-id="restartEnabled" ng-if="!factory.showLicenseRequired()"></yes-no-toggle>
          </div>
        </div>

        <restart-time-picker ng-model="factory.display.restartTime" ng-show="!factory.showLicenseRequired() && factory.display.restartEnabled"></restart-time-picker>
      </div>

      <div class="list-group-item" ng-if="playerProFactory.isDisplayControlCompatiblePlayer(factory.display)">
        <div class="flex-row form-group mb-0">
          <div class="row-entry">
            <label class="control-label pull-left mb-0" translate>displays-app.fields.player.displayControl.label</label>
            <ng-include src="'partials/displays/display-details-license-required.html'"></ng-include>

            <span class="mr-auto" ng-if="!factory.showLicenseRequired()">
              <a class="madero-link u_clickable" ng-click="configureDisplayControl(factory.display)" require-role="da" translate>
                Edit
              </a>
            </span>
          </div>
        </div>

        <div class="mt-2" ng-show="!factory.showLicenseRequired()">
          <span translate>displays-app.fields.player.displayControl.description</span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0" ng-show="(factory.display.playerVersion || factory.display.onlineStatus === 'online') && (playerProFactory.isCROSLegacy(factory.display) || playerProFactory.isChromeOSPlayer(factory.display))">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.orientation.name</label>
          <span class="mr-auto">
            <select class="form-control" ng-model="factory.display.orientation" integer-parser>
              <option value="0" translate>displays-app.fields.player.orientation.0</option>
              <option value="90" translate>displays-app.fields.player.orientation.90</option>
              <option value="180" translate>displays-app.fields.player.orientation.180</option>
              <option value="270" translate>displays-app.fields.player.orientation.270</option>
            </select>
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.address.useCompany</label>
          <ng-include src="'partials/displays/display-details-license-required.html'"></ng-include>

          <yes-no-toggle ng-model="factory.display.useCompanyAddress" ng-disabled="factory.showLicenseRequired()" button-id="useCompanyAddress" ng-if="!factory.showLicenseRequired()"></yes-no-toggle>
        </div>
      </div>

      <display-address display="factory.display"></display-address>

      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.playerLocalIpAddress">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.ipAddress</label>
          <ng-include src="'partials/displays/display-details-license-required.html'"></ng-include>
          <span class="mr-auto" ng-if="!factory.showLicenseRequired()">
            {{factory.display.playerLocalIpAddress}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.macAddress">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.macAddress</label>
          <ng-include src="'partials/displays/display-details-license-required.html'"></ng-include>
          <span class="mr-auto" ng-if="!factory.showLicenseRequired()">
            {{factory.display.macAddress}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.os">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.operatingSystem</label>
          <span class="mr-auto">
            {{factory.display.os}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.playerName || factory.display.playerVersion">
        <div class="row-entry">
          <label class="control-label pull-left mb-0 aligner-item--top" translate>displays-app.fields.player.playerVersion</label>
          <span class="mr-auto">
            <div ng-show="factory.display.playerName">{{factory.display.playerName}}</div>
            <div ng-show="factory.display.playerVersion">{{factory.display.playerVersion}}</div>
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.viewerVersion">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.viewerVersion</label>
          <span class="mr-auto">
            {{factory.display.viewerVersion}}
          </span>
        </div>
      </div>
      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.browserVersion">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.browserVersion</label>
          <span class="mr-auto">
            {{(factory.display.browserName ? factory.display.browserName + " " : "") + (factory.display.browserVersion ? factory.display.browserVersion : "")}}
          </span>
        </div>
      </div>

      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.serialNumber">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.serialNumber</label>
          <span class="mr-auto">
            {{factory.display.serialNumber}}
          </span>
        </div>
      </div>
      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.cpu">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.cpu</label>
          <span class="mr-auto">
            {{factory.display.cpu}}
          </span>
        </div>
      </div>
      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.hostName">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.hostName</label>
          <span class="mr-auto">
            {{factory.display.hostName}}
          </span>
        </div>
      </div>
      <div class="list-group-item flex-row form-group mb-0" ng-show="factory.display.productName">
        <div class="row-entry">
          <label class="control-label pull-left mb-0" translate>displays-app.fields.player.productName</label>
          <span class="mr-auto">
            {{factory.display.productName}}
          </span>
        </div>
      </div>

    </div>
  </div>

  <div class="preview-container" ng-show="selectedSchedule">
    <div class="row border-bottom pt-3 mx-0 mb-4">
      <div class="col-sm-12 px-0 form-inline">
        <label class="mr-auto pt-3" ng-show="!userState.hasRole('cp')">Schedule: {{factory.display.scheduleName}}</label>
        <preview-selector ng-model="selectedSchedule" label="Schedule:" on-select="scheduleSelected()" additional-class="mr-auto mb-0 pt-3" ng-show="userState.hasRole('cp')"></preview-selector>

        <span class="pull-right button-toolbar pt-3 u_padding-20-bottom">
          <a id="viewSchedule" type="button" class="btn btn-default btn-toolbar hidden-md" ui-sref="apps.schedules.details({ scheduleId: selectedSchedule.id, cid: selectedSchedule.companyId })">Edit Schedule</a>
          <share-schedule-button schedule="selectedSchedule" button-class="btn-default btn-toolbar"></share-schedule-button>
        </span>

      </div>
    </div>

    <div class="preview-embed">
      <iframe frameborder="0" ng-src="{{getEmbedUrl(selectedSchedule.id)}}">
      </iframe>
    </div>
  </div>

  <div class="preview-container" ng-hide="selectedSchedule">
    <label class="u_padding-20-vertical mb-0">Schedule:</label>

    <div class="border-container empty-preview text-center">
      <div class="form-group" ng-hide="userState.hasRole('cp')">
        <label>Nothing is currently showing on your display.</label>
      </div>
      <preview-selector ng-model="selectedSchedule" on-select="scheduleSelected()" label="Nothing is currently showing on your display." ng-show="userState.hasRole('cp')"></preview-selector>
    </div>
  </div>
</div>

<div id="errorBox" ng-show="factory.apiError" class="madero-style alert alert-danger u_margin-md-top" role="alert">
  <strong>{{factory.apiError}}</strong>
</div> 
