
<div ng-hide="display.useCompanyAddress" class="list-group-item address-fields">
  <div class="form-group">
    <label class="control-label" translate>displays-app.fields.address.description</label>
    <input type="text" class="form-control" ng-model="display.addressDescription">
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.street</label>
        <input type="text" class="form-control" ng-model="display.street" name="street">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.unit</label>
        <input type="text" class="form-control" ng-model="display.unit" name="unit">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.city</label>
        <input type="text" class="form-control" ng-model="display.city" name="city">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.country.name</label>
        <select class="form-control" ng-model="display.country" name="country" ng-options="c.code as c.name for c in countries" empty-select-parser>
          <option value="" ng-show="false" translate>displays-app.fields.address.country.placeholder</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.province.name</label>
        <input type="text" class="form-control" ng-model="display.province" name="province" ng-if="display.country != 'US' && display.country != 'CA'" />
        <select class="form-control selectpicker" ng-model="display.province" name="province" ng-options="c[1] as c[0] for c in regionsCA" ng-if="display.country == 'CA'" empty-select-parser>
          <option value="" ng-show="false" translate>displays-app.fields.address.province.provincePlaceholder</option>
        </select>
        <select class="form-control selectpicker" ng-model="display.province" name="province" ng-options="c[1] as c[0] for c in regionsUS" ng-if="display.country == 'US'" empty-select-parser>
          <option value="" ng-show="false" translate>displays-app.fields.address.province.statePlaceholder</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.postalCode</label>
        <input type="text" class="form-control" ng-model="display.postalCode" name="postalCode">
      </div>
    </div>
  </div>

  <div class="form-group mb-0">
    <label class="control-label" translate>displays-app.fields.address.timezone.name</label>
    <select class="form-control" ng-model="display.timeZoneOffset" integer-parser>
      <option value="" ng-show="false" translate>displays-app.fields.address.timezone.placeholder</option>
      <option value="{{c[1]}}" ng-repeat="c in timezones">{{c[0]}}</option>
    </select>
  </div>

</div><!--display address-->
