<form id="messageForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" data-dismiss="modal" aria-hidden="true">
      <streamline-icon name="close" width="12" height="12"></streamline-icon>
    </button>
  </div>
  <div class="modal-body" stop-event="touchend">
    <h4>Install Rise Player on:</h4>
    <p class="mb-3">
      <a class="madero-link" id="downloadWindows32" href="https://storage.googleapis.com/install-versions.risevision.com/installer-win-32.exe">
        Windows 10 (32-bit)
      </a>
      <br/>
      <a class="madero-link" id="downloadWindows64" href="https://storage.googleapis.com/install-versions.risevision.com/installer-win-64.exe">
        Windows 10 (64-bit)
      </a>
      <br/>
      <a class="madero-link" id="downloadUbuntu32" href="https://storage.googleapis.com/install-versions.risevision.com/installer-lnx-32.sh">
        Ubuntu 18.04 LTS (32-bit)
      </a>
      <br/>
      <a class="madero-link" id="downloadUbuntu64" href="https://storage.googleapis.com/install-versions.risevision.com/installer-lnx-64.sh">
        Ubuntu 18.04 LTS (64-bit)
      </a>
      <br/>
      <a class="madero-link" href="https://help.risevision.com/hc/en-us/articles/360001252066" target="_blank">
        Chrome OS
      </a>
      <br/>
      <a class="madero-link" id="downloadRaspberry" href="https://storage.googleapis.com/install-versions.risevision.com/installer-lnx-armv7l.sh">
        Raspberry Pi
      </a>
    </p>

    <h4>Install Web Player on:</h4>   
    <p> Great for classroom and meeting room displays!</p>
    <p class="mt-1">
      <a class="madero-link" id="installAirtame" href="https://help.risevision.com/hc/en-us/articles/360061086311" target="_blank">
        Airtame
      </a>
      <br/>
      <a class="madero-link" id="installZoomRooms" href="https://help.risevision.com/hc/en-us/articles/360062378091" target="_blank">
        Zoom Rooms
      </a>
      <br/>
      <a class="madero-link" id="installWebPlayer" href="https://help.risevision.com/hc/en-us/articles/4401757878420" target="_blank">
        All Other Hardware
      </a>
    </p>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary w-100" id="dismissButton" ng-click="dismiss()">
          <span>Okay, I'm Done</span>
        </button>
      </div>
    </div>
  </div>
</form>
