<div class="rise-playlist-container attribute-editor-component"
rv-spinner rv-spinner-key="rise-playlist-loader">

  <!-- default view -->
  <div class="attribute-editor-component" >
    <div class="attribute-editor-row">
      <button id="te-playlist-select-templates" class="btn btn-default btn-block" ng-click="showAddTemplates()" ng-if="!showComponentsDropdown()">
        Select Presentations
      </button>
      <div class="btn-group btn-block" dropdown ng-if="showComponentsDropdown()">
        <button id="addPlaylistItemButton" type="button" dropdown-toggle class="btn btn-default btn-block">Add</button>
        <div class="dropdown-menu playlist-menu" role="menu">
          <ul>
          <li>
            <a class="u_clickable" id="addPresentationItemButton" ng-click="showAddTemplates()">
              Presentations
            </a>
          </li>
          <li ng-repeat="component in playlistComponents">
            <a class="u_clickable" id="addTextButton" ng-click="addPlaylistItem(component.type)">
              {{component.title}}
            </a>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="templates-selector te-scrollable-container" ng-show="playlistItems.length">
    <div rv-sortable on-sort="sortItem(evt)" append-to=".component-container" class="sortable-list">
      <div class="row templates-row rv-sortable-item"
          ng-repeat="(key, value) in playlistItems">
        <div class="rv-sortable-handle">
          <streamline-icon class="streamline-component-icon" name="navigation-menu-vertical" width="8" height="24"></streamline-icon>    
        </div>
        <div>
          <streamline-icon ng-show="isEmbeddedTemplate(value)" class="streamline-component-icon" name="embedded-template" width="24" height="18"></streamline-icon>
          <streamline-icon ng-hide="isEmbeddedTemplate(value)" class="streamline-component-icon" name="{{ getComponentByType(value.tagName).icon }}" width="24" height="18"></streamline-icon>
        </div>
        <div class="px-2 mr-auto u_text-ellipsis">
          <span class="templates-name" ng-show="isEmbeddedTemplate(value)">{{ value.name }}</span>
          <a class="madero-link" href="#" ng-click="editPlaylistItem(key)" ng-hide="isEmbeddedTemplate(value)">
            <span class="templates-name">{{ getComponentName(value) }}</span>
          </a>
          <div class="templates-status templates-status-inline" ng-class="{'templates-status-revised' : value.revisionStatusName === 'Revised' || value.removed}" ng-show="isEmbeddedTemplate(value)">{{ value.revisionStatusName }}</div>
        </div>
        <a class="madero-link u_text-ellipsis" href="#" ng-click="editProperties(key)" ng-hide="value.removed">{{ durationToText(value) }}</a>
        <a href="#" ng-click="copyItem(key)">
          <streamline-icon class="ml-3 mr-0 streamline-component-icon" name="copy" width="16" height="18"></streamline-icon>
        </a>
        <a href="#" ng-click="removeItem(key)">
          <streamline-icon class="ml-3 streamline-component-icon" name="trash" width="16" height="18"></streamline-icon>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- "edit" view -->
<div class="playlist-item-container attribute-editor-component" style="display:none;"
  rv-spinner rv-spinner-key="rise-playlist-loader">

  <div class="form-group has-feedback">
    <div class="attribute-editor-row">
      <label class="control-label" for="te-playlist-item-duration">Duration:</label>

      <div class="flex-row" ng-show="selectedItem['play-until-done-supported']">
        <madero-checkbox name="pud" id="te-playlist-item-pud-true" ng-value="selectedItem['play-until-done']" ng-click="savePlayUntilDone()"></madero-checkbox>
        <span>
          Play Until Done
        </span>
      </div>

    </div>

    <div class="attribute-editor-row input-group" ng-show="!selectedItem['play-until-done']">
      <input type="number" id="te-playlist-item-duration" class="form-control" ng-class="{'duration-input-group' : selectedItem['play-until-done-supported']}" ng-model="selectedItem.duration" placeholder="Enter duration" ng-model-options="{ debounce: 1000 }" ng-change="saveProperties()">
      <span class="input-group-addon">Seconds</span>
    </div>

    <div class="attribute-editor-row mt-4">
      <label class="control-label" for="te-playlist-item-transition">Transition:</label>
      <select id="te-playlist-item-transition" ng-model="selectedItem['transition-type']" class="form-control" ng-change="saveProperties()">
        <option value="normal">No transition</option>
        <option value="fadeIn">Fade in</option>
        <option value="slideFromLeft">Slide from left</option>
        <option value="slideFromRight">Slide from right</option>
        <option value="slideFromTop">Slide from top</option>
        <option value="slideFromBottom">Slide from bottom</option>
        <option value="stripesHorizontal">Stripes horizontal</option>
        <option value="stripesVertical">Stripes vertical</option>
        <option value="zoomIn">Zoom in</option>
      </select>
    </div>

  </div>
</div>
