<div id="playlist-item-json-modal">
  <div class="modal-header">
    <button id="dismissButton" type="button" class="close" ng-click="dismiss()">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title">Modify Playlist Item JSON</h3>
  </div>
  <div class="modal-body">	
    <textarea class="form-control u_margin-md-top" rows="12" ng-model="formData.playlistItemJson"></textarea>
  </div>

  <div class="modal-footer">
    <button id="saveButton" type="submit" class="btn btn-primary" ng-click="save()">
      {{'common.save' | translate}}
      <i class="fa fa-check icon-right"></i>
    </button>

    <button id="cancelButton" class="btn btn-default" ng-click="dismiss()">
      {{'common.cancel' | translate}}
      <i class="fa fa-times icon-right"></i>
    </button>
  </div>
</div>
