<style>
  .attribute-editor a {
    cursor: pointer;
    text-decoration: none;
  }

  .attribute-list {
    font-size: 1.1em;
    font-weight: bold;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .attribute-list-hide {
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-150%); }
  }

  @keyframes slide-in {
    0% { transform: translateX(-150%); }
    100% { transform: translateX(0%); }
  }

  .attribute-editor .attribute-list {
    font-size: 1.1em;
    font-weight: bold;
  }

  .attribute-row {
    border-bottom: 1px solid rgb(242, 242, 242);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-left: 0;
    margin-right: 0;
  }

  .attribute-desc {
    color: rgb(77, 77, 77);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .attribute-edit {
    color: rgb(69, 183, 100);
  }

  .component-header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 0.7em;
    padding-top: 0.2em;
    margin-bottom: 0.5em;
  }
</style>

<div class="attribute-list" ng-class="{ 'attribute-list-hide': factory.selected }" ng-show="showAttributeList">
  <template-attribute-list></template-attribute-list>
</div>

<div class="attribute-component" ng-show="!showAttributeList">
  <template-component></template-component>
</div>
