<div>
  <div class="auto-save text-center">
    <div>
      <last-modified change-date="factory.presentation.changeDate" changed-by="factory.presentation.changedBy"></last-modified>
      •
      <span ng-if="hasContentEditorRole()">
        <span ng-show="!factory.savingPresentation && factory.isUnsaved()">
          Unsaved changes
        </span>
        <span ng-show="factory.savingPresentation">
          Saving changes...
        </span>
        <span ng-show="!factory.savingPresentation && !factory.isUnsaved()">
          All changes saved <streamline-icon name="checkmark" width="12" height="12"></streamline-icon>
        </span>
      </span>
      <span class="text-danger" ng-if="!hasContentEditorRole()">
        You don’t have permission to edit
      </span>
    </div>
  </div>
  <button id="publishButton" require-role="cp" class="btn btn-primary btn-block"
          ng-disabled="factory.isPublishDisabled()"
          ng-click="factory.publish()">
    Publish
  </button>
</div>
