<style>
  .preview-temp-parent {
    position:relative;
    height: 100%;
  }
  .preview-temp-child {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #747474;
    text-align: center;
  }

</style>

<div class="preview-temp-parent">
  <div class="preview-temp-child">
    Preview is coming soon!
  </div>
</div>

