<style>
  .template-editor {
    background-color: #FFF;
  }

  .template-editor-toolbar {
    display: flex;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    padding: 18px 0px;
    margin: 0px 20px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .template-editor-toolbar i {
    font-size: 18px;
  }

  .template-editor-toolbar .presentation-name {
    max-width: calc(100vw - 40px);
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 32px;
  }

  .template-editor-toolbar .presentation-name div {
    max-width: calc(100vw - 140px);
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    margin-right: 40px;
  }

  .template-editor-toolbar .presentation-name i {
    font-size: 18px;
  }

  .template-editor-toolbar .toolbar-right {
    display: flex;
    margin-left: auto;
    flex-wrap: nowrap;
  }

  .template-editor-toolbar button {
    width: 152px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .template-editor-body {
    margin-left: 0px;
    margin-right: 0px;
  }

  .preview-holder {
    padding: 20px;
    background-image: linear-gradient(white, lightgray);
    min-height: 50px;
  }

  .attribute-editor {
    padding: 20px;
    min-height: 50px;
  }

  .template-editor-footer {
    padding: 10px;
  }

  .template-editor-footer > div {
    border-top: 2px solid #f2f2f2;
    padding-top: 10px;
  }

  .template-editor-footer button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0px;fs
  }

  @media screen and (min-width:768px) {
    .template-editor-toolbar .presentation-name {
      max-width: calc(100vw - 390px);
    }

    .template-editor-toolbar .presentation-name div {
      max-width: calc(100vw - 490px);
    }

    .preview-holder {
      min-height: calc(100vh - 80px);
    }

    .attribute-editor {
      min-height: calc(100vh - 80px);
    }
  }
</style>

<div class="container-flow template-editor">

  <div>
    <template-editor-toolbar class="template-editor-toolbar">
    </template-editor-toolbar>
  </div>

  <div class="row template-editor-body">
    <div class="col-sm-8 col-sm-push-4 preview-holder">
      <template-editor-preview-holder style="background-color: #C0C0C0">
      </template-editor-preview-holder>
    </div>

    <div class="col-sm-4 col-sm-pull-8 attribute-editor">
      <template-attribute-editor>
      </template-attribute-editor>
    </div>
  </div>

  <template-editor-footer
    class="template-editor-footer navbar-fixed-bottom visible-xs">
  </template-editor-footer>

</div>
