<style>
  .template-editor {
    --component-header-height: 63px;
    --toolbar-height: 78px;
  }

  .template-editor-toolbar {
    padding: 38px 0;
  }

  .template-editor-toolbar .presentation-name {
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 22px;
    font-weight: bold;
  }

  .attribute-editor .attribute-desc a {
    margin-right: 18px;
  }

  .attribute-editor .component-header {
    padding: 20px 0px 19px;
  }

  .financial-container {
    --financial-button-bar-height: 70px;
    --selector-search-box-height: 72px;
  }

  .instrument-selector {
    padding-top: 0px;
  }

  .instrument-selector-search-box {
    border-bottom-width: 0px;
    padding: 0px;
    margin: 20px;
  }

  .instrument-selector-no-results {
    margin: 0 20px;
  }

  .instrument-selector-no-results > h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0px;
  }

  .instrument-selector-no-results > div:first-child {
    font-weight: bold;
  }

  .instrument-row {
    padding: 13px 0 7px;
  }

  .instrument-selector-name {
    margin-left: 30px;
  }

  .financial-action-button-bar {
    padding: 0px 20px;
  }

  .financial-action-button-bar > div {
    padding: 18px 0;
    border-top: 1px solid #e6e6e6;
  }

  @media (max-width: 768px) {
    .financial-container {
      --financial-body-height: calc(100vh - var(--body-height) - var(--financial-button-bar-height));
      --selector-body-height: calc(100vh - var(--body-height) - var(--financial-button-bar-height) - var(--selector-search-box-height));
    }
  }

</style>

<div class="template-editor"
     ng-class="{ 'active-banner-mode' : isSubcompanySelected() || isTestCompanySelected(),
                 'active-banner-mode-double' : isSubcompanySelected() && isTestCompanySelected() }">
  <div>
    <template-editor-toolbar
      class="template-editor-toolbar"
      ng-class="{ 'hidden-xs': factory.selected }">
    </template-editor-toolbar>
  </div>
  <div class="template-editor-body">
    <div class="attribute-editor">
      <template-attribute-editor>
      </template-attribute-editor>
    </div>
    <div class="preview-holder"
         ng-class="{ 'hidden-xs': factory.selected }">
      <div style="background-color: #C0C0C0">
        <template-editor-preview-holder>
        </template-editor-preview-holder>
      </div>
    </div>
  </div>

  <template-editor-footer
    class="template-editor-footer navbar-fixed-bottom visible-xs"
    ng-class="{ 'hidden-xs': factory.selected }">
  </template-editor-footer>

</div>
