<style>
  .html-template-editor .footer {
    padding: 10px;
  }

  .html-template-editor .footer button {
  }

  .html-template-editor-toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 100;
    background-color: #FFF;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    padding: 8px 10px;
  }

  .html-template-editor-toolbar .presentation-name {
    max-width: calc(100vw - 240px);
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 32px;
  }

  .html-template-editor-toolbar .toolbar-right {
      display: flex;
      margin-left: auto;
      flex-wrap: nowrap;
  }
</style>

<div class="container-flow template-editor">

  <template-editor-toolbar class="workspace-toolbar"></template-editor-toolbar>

  <div class="row">
    <template-editor-preview-holder class="col-sm-8 col-sm-push-4">
    </template-editor-preview-holder>

    <template-attribute-editor class="col-sm-4 col-sm-pull-8">
    </template-attribute-editor>
  </div>

  <template-editor-footer class="footer navbar-fixed-bottom visible-xs">
  </template-editor-footer>

</div>
