<div>
  <div class="auto-save text-center">
    <div>
      <last-modified change-date="templateEditorFactory.presentation.changeDate" changed-by="templateEditorFactory.presentation.changedBy"></last-modified>
      •
      <span ng-if="hasContentEditorRole()">
        <span ng-show="!templateEditorFactory.savingPresentation && templateEditorFactory.isUnsaved()">
          Unsaved changes
        </span>
        <span ng-show="templateEditorFactory.savingPresentation">
          Saving changes...
        </span>
        <span ng-show="!templateEditorFactory.savingPresentation && !templateEditorFactory.isUnsaved()">
          All changes saved <streamline-icon name="checkmark" width="12" height="12"></streamline-icon>
        </span>
      </span>
      <span class="text-danger" ng-if="!hasContentEditorRole()">
        You don’t have permission to edit
      </span>
    </div>
  </div>
  <button id="publishButton" require-role="cp" class="btn btn-primary btn-block"
          ng-disabled="templateEditorFactory.isPublishDisabled()"
          ng-click="templateEditorFactory.publish()">
    Publish
  </button>
</div>
