<div class="border-container mx-auto">
  <div class="panel-body">

    <h4>Sign In To Rise Vision</h4>

    <!-- GOOGLE API -->
    <button class="btn btn-google-auth btn-hg btn-block" id="sign-in-google-link" ng-click="googleLogin('registrationComplete')">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg">
      <div class="mx-auto">Use My Google Account</div>
    </button>

    <div class="u_margin-md-top" ng-if="!FORCE_GOOGLE_AUTH">				
      <div></div>
      <span>Or, use my email address:</span>
      <div></div>
    </div>

    <!-- CUSTOM LOGIN -->
    <div ng-if="!FORCE_GOOGLE_AUTH">
    	<div ng-include="'partials/components/userstate/auth-form.html'"></div>

      <button id="sign-in-button" class="btn btn-primary btn-hg btn-block" type="submit" form="forms.loginForm" ng-click="customLogin('registrationComplete')">
        <span translate="Sign In"></span>
      </button>
    </div>

  </div>
</div><!--panel-->	

<div class="align-center u_margin-md-top">
  <p ng-if="!FORCE_GOOGLE_AUTH"><a class="madero-link" id="reset-password-link" ui-sref="common.auth.requestpasswordreset">Forgot your password?</a></p>
  <p>Don't have an account? <a class="madero-link" id="sign-up-link" ui-sref="common.auth.createaccount">Sign up</a>.</p>
</div>
