<div class="attribute-editor-component">
  <div class="attribute-editor-row">
    <label>Text:</label>
    <input ng-hide="isMultiline" id="text-component-input" type="text" class="form-control" ng-model="value" placeholder="Enter your text" ng-change="save()">
    <p ng-show="isMultiline" class="text-sm">Hit enter to add a line break.</p>
    <div ng-show="isMultiline" class="row">
      <div class="col-xs-12">
        ​<textarea id="text-component-input-multiline" class="form-control resize-vertical" rows="2" ng-model="value" placeholder="Enter your text" ng-change="save()"></textarea>
      </div>
    </div>
  </div>
  <div class="attribute-editor-row" ng-show="showFontSize">
    <div>
      <label class="u_margin-md-top">Font size:</label>
      <div class="row">
        <div class="col-xs-12">
          <rzslider rz-slider-model="fontsize" rz-slider-options="sliderOptions"></rzslider>
        </div>
      </div>
      <p class="range-value">{{ fontsize }}px</p>
    </div>
  </div>
  <div class="attribute-editor-row">
      <ng-quill-editor format="object" ng-model="modelJSON" placeholder="'override default placeholder'" on-editor-created="editorCreated(editor)" on-content-changed="contentChanged(
        editor,
        html,
        text,
        content,
        delta,
        oldDelta,
        source
      )" on-selection-changed="selectionChanged(editor, range, oldRange, source)">
      <ng-quill-toolbar>
        <div>
          <span class="ql-format-group">
            <select class="ql-font">
              <option value="sans-serif">sans-serif</option>
              <option value="arial" selected>Arial</option>
            </select>
            <select class="ql-size">
              <option value="10px">Small</option>
              <option value="13px" selected>Normal</option>
              <option value="18px">Large</option>
              <option value="32px">Huge</option>
            </select>
          </span>
          <span class="ql-format-group">
            <button class="ql-bold" title="Bold"></button>
            <button class="ql-italic" title="Italic"></button>
            <button class="ql-underline" title="Underline"></button>
          </span>
          <span class="ql-format-group">
            <button class="ql-align" value="" ng-attr-title="Left"></button>
            <button class="ql-align" value="center" ng-attr-title="Center"></button>
            <button class="ql-align" value="right" ng-attr-title="Right"></button>
          </span>
          <span class="ql-format-group">
            <button class="ql-list" value="orderd" title="List"></button>
            <button class="ql-list" value="bullet" title="Bullet"></button>
            <button class="ql-clean" title="Clear Formatting"></button>
          </span>
        </div>
      </ng-quill-toolbar>
    </ng-quill-editor>  </div>
</div>
