<div class="rise-playlist-container">

  <!-- default view -->
  <div ng-show="!view">
    <div class="playlist-action-button-bar">
      <div>
        <button class="btn btn-primary btn-block" ng-click="showAddTemplates()">
          Select Templates
        </button>
      </div>
    </div>
  </div>

  <!-- "add-templates" view -->
  <div class="attribute-editor-component" ng-show="view === 'add-templates'"
  rv-spinner rv-spinner-key="rise-playlist-templates-loader" rv-spinner-start-active="1">
    <div class="input-group templates-selector-search-box">
      <span class="input-group-addon" ng-click="searchTemplates()">
        <streamline-icon name="magnifier" width="16" height="16"></streamline-icon>
      </span>
      <input type="text" class="form-control"
            ng-model="searchKeyword" ng-keyup="searchKeyPressed($event)"
            placeholder="Search Templates"
            aria-label="Search Templates">
      <span class="input-group-addon" ng-click="resetSearch()">
        <streamline-icon name="close" width="12" height="12"></streamline-icon>
      </span>
    </div>

    <div class="templates-selector te-scrollable-container"
    scrolling-list="templatesFactory.load()">
      <div class="templates-selector-no-results" ng-show="!(templatesFactory.items.list.length > 0)">
        No Results Found
      </div>

      <div class="row templates-row" ng-show="templatesFactory.items.list.length > 0"
          ng-repeat="(key, value) in templatesFactory.items.list"
          ng-click="selecttemplates(key)"
          ng-class="{'templates-row--is-selected' : value.isSelected}">
        <div class="col-xs-12 pl-0 pr-0">
          <span class="templates-selector-checkbox">
            <input id="{{value.id}}" type="checkbox"
                  ng-click="selecttemplates(key)"
                  ng-checked="value.isSelected">
            <label for="{{value.id}}"></label>
          </span>
          <span class="templates-selector-name">
            <div class="templates-name">{{ value.name }}</div>
            <div class="templates-status" ng-class="{'templates-status-revised' : value.revisionStatusName === 'Revised'}">{{ value.revisionStatusName }}</div>
          </span>
        </div>
      </div>
    </div>

    <div class="playlist-action-button-bar">
      <div>
        <button class="btn btn-primary btn-block" ng-click="showSelectedTemplates()">
          Add Template
        </button>
      </div>
    </div>

  </div>

</div>
