<div class="branding-component-container attribute-list-container">

  <p class="u_margin-md-top">Any changes you make to your branding will apply to all Templates.</p>

  <div class="attribute-row attribute-row-first">
    <div class="col-xs-12 pl-0 attribute-desc">
      <streamline-icon class="streamline-component-icon" name="circleStar" width="24" height="18"></streamline-icon>
      <a id="edit-logo" class="madero-link" ng-click="editLogo()">Logo</a>
    </div>
  </div>

  <div class="attribute-row">
    <div class="col-xs-12 pl-0 attribute-desc">
      <streamline-icon class="streamline-component-icon" name="palette" width="24" height="18"></streamline-icon>
      <a id="edit-colors" class="madero-link" ng-click="editColors()">Colors</a>
    </div>
  </div>

</div>
